.distancesort.sorter{width:100%; display:block; box-sizing:border-box;-webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.distancesort-container{float:right; clear:both;}
.distancesort-container .validation-advice{display:none;}
.distancesort-container .form-list li{float:left; margin:0 3px 0 0;}
.distancesort-container .form-list li .input-text{margin:0; width:auto;}
.distancesort-container .form-list li select{margin:0; padding:2px 0 1px; width:auto;}
.distancesort-country{max-width:100px;padding: 0;margin-left:3px;vertical-align: middle;display:inline-block;}
.distancesort-postalcode{max-width:75px;padding: 0;margin-left:3px;vertical-align: middle;display:inline-block;}