<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
/**
 * This file is used to display Deal of the day side bar
 */
$products = $this->getProductCollection();
$coreHelper = $this->helper('core');
?>
<div class="block block-dealofday">
    <div class="block-title">
        <strong> <span><?php echo $this->__('Deal Of The Day') ?> </span> </strong>
    </div>
    <div class="block-content">
        <?php if (count($products) > 0): ?>
            <ol id="best-sidebar" class="mini-products-list">
                <?php foreach ($products as $item): ?>
                    <?php
                    $originalPrice = $item->getPrice(); //get orginal price
                    $discountPrice = $item->getSpecialPrice(); //get the discount amount
                    $savings = $originalPrice - $discountPrice; //get the saving amount from orginal price - discount price
                    $savingsPercentage = round(($savings / $originalPrice) * 100, 0);
                    for ($increment = 0; $increment < 1; $increment++) { ?>
                        <li class="item">
                            <a class="product-image" href="<?php echo $item->getProductUrl() ?>" style="overflow: hidden; height: 50px;">
                                <img src="<?php echo $this->helper('catalog/image')->init($item, 'thumbnail'); ?>"
                                    alt="<?php echo $this->htmlEscape($item->getName()) ?>"
                                    width="60px;" />
                            </a>
                            <div class="product-details">
                                <p class="product-name">
                                    <a href="<?php echo $item->getProductUrl() ?>"><?php echo $this->htmlEscape($item->getName()) ?> </a>
                                </p>
                                <span class="original_price"> 
                                    <?php echo $coreHelper->currency($item->getPrice(), true, false); ?>
                                </span> 
                                <span class="offer_price"> 
                                    <?php echo $coreHelper->currency($item->getSpecialPrice(), true, false); ?>
                                </span>                                
                                <span class="discount_label">
                                     <?php echo $this->__('Discount: ') ?> 
                                </span> 
                                <span class="discount_price" <?php echo $this->getIdSuffix() ?>>
                                      <?php echo $savingsPercentage, '%';
                                       echo ' '.$this->__('Off'); ?>
                                </span>
                            </div>
                        </li>
                    <?php } endforeach ?>
            </ol>
            <script>
                decorateList('best-sidebar', 'none-recursive');
            </script>
        <?php else: ?>
            <div class="empty">
                <?php echo $this->__('No items for this category') ?>
            </div>
        <?php endif ?>
    </div>
</div>
