<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */

/**
 * This file is used to display navigation links in "Seller My Account"
 * 
 * Links displayed are Seller Dashboard, Manage Products, Orders, Transaction History,
 * My Profile, Contact Admin and Vacation Mode
 */

$loginId = Mage::getSingleton('customer/session')->isLoggedIn();
$groupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
$getGroupId = Mage::helper('sellbuy')->getGroupId();
$customer = Mage::getSingleton("customer/session")->getCustomer();
$customerStatus = $customer->getCustomerstatus();
?>
<div class="block block-account">
    <div class="block-title">
        <strong><span><?php echo Mage::helper('sellbuy')->__('Market Place') ?></span></strong>
    </div>
    <div class="block-content">
        <?php      
        if ($groupId == $getGroupId && $loginId && $customerStatus != 2 && $customerStatus != 0) { ?>
            <ul>
                <?php 
                /*
                * For sellers               
                */?>
                <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/url')->dashboardUrl()) { ?>active<?php } ?>">
                <a href="<?php echo Mage::helper('sellbuy/url')->dashboardUrl(); ?>">
                <?php echo $this->__('Seller Dashboard'); ?></a></li>
                <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/url')->getManageProductUrl() || Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/url')->getNewProductUrl()) {
                    ?>active<?php 
        } ?>">
        <a href="<?php echo Mage::helper('sellbuy/url')->getManageProductUrl() ?>"> 
        <?php echo $this->__('Manage Products') ?> </a></li>
                <?php if (Mage::getStoreConfig('sellbuy/product/assign_product') == 1) { ?>
                <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/url')->getAssignProductUrl()) {
                    ?>active<?php 
        } ?>">
        <a href="<?php echo Mage::helper('sellbuy/url')->getAssignProductUrl(); ?>"> <?php
         echo $this->__('Assign Products') ?> </a></li>
                <?php } ?>             
                <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/url')->getManageOrderUrl()) {
                    ?>active<?php 
        } ?>">
        <a href="<?php echo Mage::helper('sellbuy/url')->getManageOrderUrl(); ?>"> <?php
         echo $this->__('Orders') ?> </a></li>
                <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/transaction')->getViewtransaction()) {
                    ?>active<?php 
        } ?>"><a href="<?php echo Mage::helper('sellbuy/transaction')->getViewtransaction(); ?>"> <?php
         echo $this->__('Transaction History') ?> </a></li>
                <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/url')->addprofileUrl()) {
                    ?>active<?php 
        } ?>">
        <a href="<?php echo Mage::helper('sellbuy/url')->addprofileUrl(); ?>"><?php
         echo $this->__('My Profile') ?></a></li>
                <?php if (Mage::getStoreConfig('sellbuy/admin_approval_seller_registration/contact_admin') == 1) {
                     ?>
                    <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/common')->getContactFormUrl()) {
                        ?>active<?php 
                } ?>">
                <a href="<?php echo Mage::helper('sellbuy/common')->getContactFormUrl(); ?>"> <?php
                 echo $this->__('Contact Admin') ?> </a></li>
                <?php } ?>
                <?php if (Mage::getStoreConfig('superdeals/superdeals_group/deals_enable') == 1) {
                     ?>
                    <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/url')->getManageDealsUrl()) {
                        ?>active<?php 
                } ?>">
                <a href="<?php echo Mage::helper('sellbuy/url')->getManageDealsUrl(); ?>"> <?php
                 echo $this->__('Manage Deals') ?> </a></li>
                <?php } ?>
                <?php if (Mage::getStoreConfig('sellbuy/admin_approval_seller_registration/vacation_mode') == 1) { ?>
                    <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/url')->getVacationModeUrl()) {
                        ?>active<?php 
                 } ?> last">
                 <a href="<?php echo Mage::helper('sellbuy/url')->getVacationModeUrl(); ?>"> <?php
                  echo $this->__('Vacation Mode') ?> </a></li>
                <?php } ?>
            </ul>
        <?php } else { ?>
            <ul>
               <?php 
                /*
                * For Buyers               
                */?>
                <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/url')->becomemerchantUrl()) {
                    ?>active<?php 
                  } ?>">
                  <a href="<?php echo Mage::helper('sellbuy/url')->becomemerchantUrl(); ?>"> <?php
                   echo $this->__('Become a Seller') ?> </a></li>
                <li class="<?php if (Mage::helper('core/url')->getCurrentUrl() == Mage::helper('sellbuy/common')->customerreviewUrl()) {
                    ?>active<?php 
                  } ?> last">
                  <a href="<?php echo Mage::helper('sellbuy/common')->customerreviewUrl(); ?>"> <?php
                   echo $this->__('Seller Reviews') ?> </a></li>
            </ul>
        <?php } ?>
    </div>
</div>