<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
?>
<script type="text/javascript">
    document.observe("dom:loaded", function() {
        var selected = document.getElementById("select_filter");
        var selectedValue = selected.options[selected.selectedIndex].value;
        console.log(selectedValue);
        if (selectedValue !== 'custom') {
            // initially hide all containers for tab content  
            $$('#date_from').invoke('hide');
            $$('#date_to').invoke('hide');
        }
    });
</script>
<?php
/**
 * Initialising variables with empty values
 */
$from_display = $to_display = $data = $status = $select_filter = '';
/**
 * Get posted values in variable
 */
$data = $this->getRequest()->getPost();
/**
 * Check status is set
 * or select_filter is set
 * or date_from is set
 * or date_to is set
 */
if (isset($data['status']) || isset($data['select_filter']) || isset($data['date_from']) || isset($data['date_to'])) {
    $status = $data['status'];
    $select_filter = $data['select_filter'];
    $from_date = $data['date_from'];
    $to_date = $data['date_to'];
}
switch ($select_filter) {
    case "today":
        /**
         * today interval
         */
        $start_day = strtotime("-1 today midnight");
        $from_display = date('Y-m-d', $start_day);
        $to_display = date('Y-m-d', $start_day);
        break;
    case "yesterday":
        /**
         * yesterday interval
         */
        $start_day = strtotime("-1 yesterday midnight");
        $from_display = date('Y-m-d', $start_day);
        $to_display = date('Y-m-d', $start_day);
        break;
    case "lastweek":     
          $lastWeekDate = $this->getLastWeekDate();                  
          $startDay = $lastWeekDate[0];
          $endDay = $lastWeekDate[1]; 
          $from = date('Y-m-d', $startDay);
          $to = date('Y-m-d', $endDay);
          $to = date('Y-m-d', strtotime($to . ' + 1 day'));
          $fromDisplay = $from;
          $toDisplay = date('Y-m-d', $endDay);
          break;  
    case "lastmonth":
        /**
         * Last month interval
         */
        $from = date('Y-m-01', strtotime('last month'));
        $to = date('Y-m-t', strtotime('last month'));
        $to = date('Y-m-d', strtotime($to . ' + 1 day'));
        $from_display = $from;
        $to_display = date('Y-m-t', strtotime('last month'));
        break;
    case "custom":
        /**
         * last custom interval
         */
        $from = date('Y-m-d', strtotime($data['date_from']));
        $to = date('Y-m-d', strtotime($data['date_to'] . ' + 1 day'));
        $from_display = $from;
        $to_display = date('Y-m-d', strtotime($data['date_to']));
        break;
        default:
}
?>
<div class="account-login market_place_manage_products_order" id="market_place_manage_products_order">
    <div class="page-title sellers_store">
        <h1><?php 
        /**
         * 
         * Display orders menu
         */
        echo $this->__('Orders') ?></h1>
        <div class="top_amount">
            <span class="right_space">
                <?php 
                /**
                 * Display total amount reveived
                 */
                echo $this->__('Total Amount Received') ?> : <b><?php
                 echo Mage::helper('sellbuy/transaction')->getAmountReceived(); ?></b>
            </span>
            <span>
                <?php 
                /**
                 * Display the pending amount
                 */
                echo $this->__('Amount Pending') ?> :  <b><?php 
                echo Mage::helper('sellbuy/transaction')->getAmountRemaining(); ?></b>
            </span>
        </div> 
    </div>    
    <div class="clear"></div>
    <form name="orders" method="post" action="">
        <div class="mp_sellers_order">
<?php 
$canceled = $closed = $complete = $fraud = $holded = $paymentReview = $paypalCanceledReversal = $paypalReversed = $pending = $pendingPayment = $pendingPaypal = $processing = '';
if ($status == 'canceled') {
$canceled = 'selected="selected"';	
}
if ($status == 'closed') {
$closed = 'selected="selected"';		
}
if ($status == 'complete') {
$complete = 'selected="selected"';	
}
if ($status == 'fraud') {
$fraud = 'selected="selected"';	
}
if ($status == 'holded') {
$holded = 'selected="selected"';	
}
if ($status == 'payment_review') {
$paymentReview = 'selected="selected"';	
}
if ($status == 'paypal_canceled_reversal') {
$paypalCanceledReversal = 'selected="selected"';	
}
if ($status == 'paypal_reversed') {
$paypalReversed = 'selected="selected"';	
}
if ($status == 'pending') {
$pending = 'selected="selected"';	
}
if ($status == 'pending_payment') {
$pendingPayment = 'selected="selected"';	
}
if ($status == 'pending_paypal') {
$pendingPaypal = 'selected="selected"';	
}
if ($status == 'processing') {
$processing = 'selected="selected"';	
}
?>        
<select name="status" onchange="this.form.submit();" id="sales_order_grid_filter_status" class="no-changes">
                <option value=""><?php echo $this->__('Select a Status'); ?></option>
                <option value="canceled" <?php 
                /**
                 * Check status is canceled
                 * if so diplay as canceled
                 */
                echo $canceled; ?>><?php 
echo $this->__('Canceled'); ?></option>
                <option value="closed" <?php
                /**
                 * Check status is closed
                 * if so diplay as closed
                 */
                echo $closed; ?>><?php
 echo $this->__('Closed'); ?></option>
                <option value="complete" <?php
                /**
                 * Check status is closed
                 * if so diplay as complete
                 */
                  echo $complete; ?>><?php 
echo $this->__('Complete'); ?></option>
                <option value="fraud" <?php
                /**
                 * Check status is fraud
                 * if so diplay as Suspected Fraud
                 */
              echo $fraud; ?>><?php 
echo $this->__('Suspected Fraud'); ?></option>
                <option value="holded" <?php 
                /**
                 * Check status is holded
                 * if so diplay as On Hold
                 */
                 echo $holded; ?>><?php 
echo $this->__('On Hold'); ?></option>
                <option value="payment_review" <?php
                /**
                 * Check status is equal to payment_review
                 * if so diplay as Payment Review
                 */
                 echo $paymentReview; ?>><?php 
echo $this->__('Payment Review'); ?></option>
                <option value="paypal_canceled_reversal" <?php
                /**
                 * Check status is paypal_canceled_reversal
                 * if so diplay as PayPal Canceled Reversal
                 */
                 echo $paypalCanceledReversal; ?>><?php 
echo $this->__('PayPal Canceled Reversal'); ?></option>
                <option value="paypal_reversed" <?php
                /**
                 * Check status is paypal_reversed
                 * if so diplay as PayPal Reversed
                 */
                 echo $paypalReversed; ?>><?php 
echo $this->__('PayPal Reversed'); ?></option>
                <option value="pending" <?php
                /**
                * Check status is pending
                * if so diplay as Pending
                */
                echo $pending; ?>><?php 
echo $this->__('Pending'); ?></option>
                <option value="pending_payment" <?php
                /**
                 * Check status is pending_payment
                 * if so diplay as Pending Payment
                 */
                 echo $pendingPayment; ?>><?php 
echo $this->__('Pending Payment'); ?></option>
                <option value="pending_paypal" <?php
                /**
                 * Check status is pending_paypal
                 * if so diplay as Pending PayPal
                 */
                 echo $pendingPaypal; ?>><?php 
echo $this->__('Pending PayPal'); ?></option>
                <option value="processing" <?php
                /**
                * Check status is processing
                * if so diplay as Processing
                */
                echo $processing; ?>><?php 
echo $this->__('Processing'); ?></option>
            </select>  
<?php 
$custom = $today = $yesterday = $lastweek = $lastmonth = '';
if ($select_filter == 'custom') {
$custom = 'selected="selected"';	
}
if ($select_filter == 'today') {
$today = 'selected="selected"';	
}
if ($select_filter == 'yesterday') {
$yesterday = 'selected="selected"';	
}
if ($select_filter == 'lastweek') {
$lastweek = 'selected="selected"';	
}
if ($select_filter == 'lastmonth') {
$lastmonth = 'selected="selected"';	
}
?>
<select name="select_filter" class="select_filter" id="select_filter" onchange="selectFilter();">
                <option name="" value=""><?php echo $this->__('Select a Range'); ?></option>
                <option name="custom" value="custom" <?php 
                /**
                 * Check select_filter is custom
                 * if it is diplay as custom
                 */
            echo $custom; ?>><?php 
echo $this->__('custom'); ?></option>
                <option name="today" value="today"  <?php
                /**
                 * Check select_filter is today
                 * if it is diplay as Today
                 */
                echo $today; ?>><?php 
echo $this->__('Today'); ?></option>
                <option name="yesterday" value="yesterday"  <?php
                /**
                 * Check select_filter is yesterday
                 * if it is diplay as Yesterday
                 */
                 echo $yesterday; ?>><?php 
echo $this->__('Yesterday'); ?></option>
                <option name="lastweek" value="lastweek"  <?php
                /**
                 * Check select_filter is lastweek
                 * if it is diplay as Last Week
                 */
                echo $lastweek; ?>><?php 
echo $this->__('Last Week'); ?></option>
                <option name="lastmonth" value="lastmonth"  <?php
                /**
                 * Check select_filter is lastmonth
                 * if it is diplay as last month
                 */
                 echo $lastmonth; ?>>
                 <?php echo $this->__('last month'); ?></option>
            </select>
            <input type="text" placeholder="mm/dd/yyyy" class="input-text required-entry" name="date_from" id="date_from" value="<?php if ($select_filter == 'custom') {
                    echo $from_date;
                } ?>" />
            <input type="text" placeholder="mm/dd/yyyy" class="input-text required-entry" name="date_to" id="date_to" value="<?php if ($select_filter == 'custom') {
                    echo $to_date;
                } ?>" />
            <button type="submit" class="button multi_submit"  title="<?php echo $this->__('Submit') ?>" name="filter_submit" id="multi_submit" >
            <span><span><?php echo $this->__('Submit') ?></span></span></button>
<?php 
/**
 * Check from display is not equal to empty
 * and to display is not equal to empty
 * and select filter is not equal to custom
 * if so display start date and end date
 */
if ($from_display != '' && $to_display != '' && $select_filter != 'custom') { ?>
                <p> <b><?php echo $this->__('Start date:'); ?></b>&nbsp; <?php 
                echo $from_display; ?>
                    <b><?php echo $this->__('End date:'); ?></b>&nbsp; <?php 
                    echo $to_display; ?> </p>
        <?php } ?>
        </div>
        <div class="clear"></div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_orders = $this->getCollection(); ?> 
<div class="sellbuy-order-table">
        <table class="data-table my-product-table market_place_manage_products_order_table" id="my-product-table" width="100%">
            <col width="1" />
            <col width="1" />
            <col />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <thead>
                <tr>
                    <th class="text_left"><?php echo $this->__('Order #') ?></th>
                    <th colspan="2" class="text_left"><?php echo $this->__('Product Details') ?></th>
                    <th><?php echo $this->__('Product price') ?></th>
                    <th><?php echo $this->__('Earned Amount') ?></th>         
                    <th><?php echo $this->__('Status') ?></th>
                    <th><?php echo $this->__('Order Date') ?></th>
                    <th class="no-border-right"></th>
                </tr>
                <tr class="mp_filter_function">

                </tr>
            </thead>
            <tbody>
                <?php
                if ($_orders->getSize()):
                    foreach ($_orders as $order):
                        $getOrderId = $order->getOrderId();
                        $orderDetails = Mage::getModel('sales/order')->load($getOrderId);
                        ?>
                        <tr>
                            <td class="text_left"><?php echo $order->getIncrementId(); ?></td>
                            <td colspan="2" class="text_left"><?php
                        $getProductId = $order->getProductId();
                        $item_item = Mage::getModel('catalog/product')->load($getProductId);
                        echo $item_item->getName() . ' X ' . '<strong>' . $order->getProductQty() . '</strong>';
                        ?></td>
                            <td><?php echo Mage::helper('core')->currency($order->getProductAmt(), true, false); ?></td>
                            <td><?php echo Mage::helper('core')->currency($order->getSellerAmount(), true, false); ?></td>
                            <td><span><?php echo $orderDetails->getStatus(); ?></span></td>
                            <td><?php $date = $orderDetails->getCreatedAtDate();
                echo $new_date = date('M j, Y', strtotime($date)); ?></td>
                            <td><a href="<?php echo Mage::helper('sellbuy/transaction')->getVieworder($getOrderId,$getProductId); ?>" ><?php
                             echo $this->__('View'); ?></a></td>
                        </tr>
        <?php endforeach; ?>
                </tbody>
<?php else: ?>
                <tfoot><tr><td colspan="9" class="a-center no_product_content"><?php echo $this->__('You have no Order.'); ?></td></tr></tfoot>
<?php endif ?>
        </table>
        </div>
    </form> 
<?php echo $this->getPagerHtml(); ?>
    <script type="text/javascript">
        var dataForm = new VarienForm('orders');
    </script>
    <script type="text/javascript">
        decorateTable('my-product-table');
        // <![CDATA[
        Calendar.setup({
            inputField: 'date_from',
            ifFormat: '%m/%e/%y',
            button: 'date_from',
            align: 'Bl',
            singleClick: true
        });

        Calendar.setup({
            inputField: 'date_to',
            ifFormat: '%m/%e/%y',
            button: 'date_to',
            align: 'Bl',
            singleClick: true
        });
// ]]>
        function selectFilter() {
            var filter = $('select_filter')[$('select_filter').selectedIndex].value;
            if (filter === 'custom') {
                $$('#date_from').invoke('show');
                $$('#date_to').invoke('show');
            }
            else {
                $$('#date_from').invoke('hide');
                $$('#date_to').invoke('hide');
            }
        }
    </script>
</div>
