<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
?>
<script type="text/javascript">
//<![CDATA[

    var payment = new Payment('<?php echo $this->getUrl('onestepcheckout/index/replay/', array('_secure'=>true)) ?>','<?php echo $this->getUrl('onestepcheckout/index/paymentreload/', array('_secure'=>true)) ?>','<?php echo $this->getUrl('onestepcheckout/index/index', array('_secure'=>true)) ?>');
    
//]]>
 </script>
<!---Title  of the page -->
<div class="page-title">
  <?php if (Mage::helper('onestepcheckout/checkout')->getVirtual()) { ?> <span class="shipping-method-bg"></span><?php } else { ?><span class="payment-bg"></span> <?php }?> <h1><?php echo $this->__('Payment Methods') ?></h1>
</div>
<!---End of Title -->
<!---Start of Payment Methods -->
<div id="ajax-payment-methods">
<?php echo $this->getChildHtml('methods'); ?>
</div>

<div class="tool-tip" id="payment-tool-tip" style="display:none;">
    <div class="btn-close"><a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>"><?php echo $this->__('Close') ?></a></div>
    <div class="tool-tip-content"><img src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>" alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>" title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" /></div>
</div>

