/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.4
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
.block_sellers .block-content {padding: 5px 10px;}
.block_sellers .block-content a{text-decoration: none;}
.block_sellers .block-content img{margin: 3px 5px;}


/* .form_newproduct{ width: 100%;} */
/* .form_newproduct td.label{ width: 200px;} */
/* .form_newproduct td.label {border: 0;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;background: 0;} */
/* .form_newproduct td.value {border: 0;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;background: 0;} */
/* .form_newproduct td.label label{display: block;width: 185px;padding-right: 15px;padding-top: 1px; box-sizing: border-box; } */

/* .form_newproduct td.value {width: auto;} */
/* .form_newproduct td.value input.input-text, .form_newproduct td.value textarea{width: 98%} */
/* .form_newproduct td.value textarea {height: 10em;} */
/* .form_newproduct td.value select{width: 280px;} */

.product_view{width: 100%;padding-top: 30px;}
.product_view td {border: 0;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;background: 0;}
.product_view th {border: 0;padding-top: 5px;padding-bottom: 5px;padding-left: 5px;background: 0;font-weight:bold;}
.image_status{float: left; padding: 10px;}
.field_store_logos{float:left;width:100%}
.sellbuy_mail{color:#222;}
.market_place_image_sizes{font-size: 11px;text-align: left;color: #424242;font-weight: normal;}
.store_logos{float:left;width:auto;}
.store_logos p{float:left;padding: 0;margin:0 0 5px;}
.store_logos .store_logo{padding:0 0 4px;}
.store_img{margin: 5px 0;float:left;border: 1px solid #ccc;padding: 2px;background: #fff;}
.market_place_banner_store_img{margin-bottom: 10px;border: 1px solid #ccc;padding: 2px;background: #fff;width:99%; box-sizing: border-box; }
.end-plus{background-position:0 0; width: 15px; height: 13px;display: inline-block; cursor: pointer;vertical-align: text-bottom;}
.end-minus{background-position:0 -13px; width: 15px; height: 12px; display: inline-block; cursor: pointer;vertical-align: text-bottom;}

.end-plus, .end-minus{ background:url(images/plus-minus.png) no-repeat; } 

/* ul.category_ul input[type="checkbox"]{ margin-right: 5px;} */
/* ul.category_ul li{padding-bottom: 2px;} */
/* ul.category_ul li ul{clear: both;padding-left: 15px;} */

.market_place_add_image{margin-top: 10px;}
.market_place_add_image input{margin:0 10px 2px 0;}
.mp_home_page{padding:0 0 10px;float:left;}
.mp_home_button{float:right;margin: -42px 0 0;}
.mp_home_page p{float:left;width:100%;}
.sellbuy-product-edit .page-title a{float:right;font-weight:normal;}
.product_attribute_form .sellbuy-product-type{margin: 0 0 10px;}
/**
* Marketplace Custom Option
*/
.sellbuy_custom_option_list{clear:both;}
.sellbuy_custom_option_list .option-header{ width: 100%; margin-top: 0;}
.sellbuy_custom_option_list input.input-text{width: auto;margin-right: 5px;}
.sellbuy_custom_option_list select{width: 150px; margin-right: 5px;}
.sellbuy_custom_option_list th{padding-bottom: 10px;}
/**
* Marketplace Price Table
*/
.mareket_place_price_table{width: 100%;}
.mareket_place_price_table .input-text{width: 80px;}
.mareket_place_price_table select{width: 80px;}
.mareket_place_price_table .validate-zero-or-greater{width:60px;}
.mareket_place_price_table .file_extension{width:120px;}

/**
* Market Place Compare Products
*/
.product_image_compare img{float:left}
.product_image_compare div{float:left;padding:0 0 0 0;width: 72%; box-sizing: border-box; }
.sellbuy_compare_product thead th{padding:15px 10px;background:none;}
.sellbuy_compare_product del{font-size: 12px;  color:#FF3300; display:block;}
.compare_wrapper .view_link{ background-color:#fff;  padding: 10px 15px;} 
.compare_wrapper .view_link span{float: right;font-weight: normal;}
#compare_product a {
  font-size: 13px;
}
#compare_product h2 {
  margin-bottom: 0;
}

/**
* Marketplace Downloadable Information
*/
.sellbuy_downloadable_product_div .sample_items_body input.input-text{width:auto;}
.sample_items_body tr td{padding: 10px 5px 5px 8px;}
.sellbuy_downloadable_product_div .sample_items_body .sellbuy_sort_order{width:55px;}
.sample_items_body .sellbuy_row, .link_items_body .sellbuy_row{padding:0 0 10px;}
.sample_items_body .files-wide input, .link_items_body .files-wide .validate-downloadable-file, .link_items_body .files-wide input.input-text{margin: 0 0 0 5px;}
.link_items_body .files-wide .row label{float:left;}
.sample_items_body .files-wide .validate-downloadable-file{width:90px;}
.form-list .headings span label, .sellbuy_downloadable_product_div .headings span label{float:left;width: 210px;padding:0 10px 15px 0; box-sizing: border-box; }
.sellbuy_downloadable_product_div .mp_dp_head{font-weight:bold;font-size:15px;padding:0 0 12px;margin:0;border-bottom:0;}
.sellbuy-sample tfoot td{padding: 8px;}
.sellbuy_download_info_table tr td{padding: 0 0 10px;}
.mp_dp_fields .downloadable_links_title, .mp_dp_fields .downloadable_link_purchase_type{margin: 0 0 10px;}
.link_items_body .sellbuy_download_info_table th{float:left;width:134px;}
.sellbuy_downloadable_product_div .link_items_body .sellbuy_download_info_table {width: 100%;border: 1px solid #ccc;padding: 15px;margin: 10px 0;background: #fff;display:block; box-sizing: border-box; }
.sellbuy_downloadable_product_div .sellbuy-sample .data{ border-collapse: initial;width: 100%;border: 1px solid #ccc;margin: 10px 0;background: #fff; box-sizing: border-box; }

/**
* Marketplace Dropdown for Custom Option
*/
.market_place_dropdown_row, .market_place_option-box .form-list{width: 100%;}
.market_place_dropdown_row input.input-text{width: 90px;}
.market_place_dropdown_row select{width: 100px;}
.market_place_dropdown_row tfoot button.button{margin-top: 10px;}
.market_place_dropdown_row .delete_select_row_button{margin-bottom: 10px;}
.sellbuy-custom-option .clear{clear:  both;}
.sellbuy-custom-option .right-button{margin-bottom: 10px;}
.market_place_option-box{border: 1px solid #bbafa0;background: #fff;padding: 12px;margin-top: 15px;}
.market_place_option-box table{margin-top: 10px;}
.sellbuy_custom_option_list .border .headings, .sellbuy-sample .headings{ background:url(images/sort_row_bg.gif) 0 50% repeat-x; }
.sellbuy_custom_option_list .border .headings th, .sellbuy-sample .headings th {font-weight: bold; border-width:1px; border-color:#f9f9f9 #d1cfcf #f9f9f9 #f9f9f9; border-style:solid; padding:2px 5px;; font-size:.9em; }
.sellbuy_custom_option_list .headings label, .sellbuy-sample .headings label{padding:0; font-weight:normal; }
.sellbuy_custom_option_list .headings .last, .sellbuy-sample .headings .last{ border-right:0; }
.sellbuy_custom_option_list .border td select{padding: 5px; width: 100%; box-sizing: border-box; }
.sellbuy_custom_option_list .border{border: 1px solid #ccc;background: #fff;}
.sellbuy_custom_option_list .border td{padding: 2px 4px;}

/**
* Marketplace bulk product 
*/
.bulk_order_options{width:100%;}
.bulk_order_options h3, .bulk_order_options h4{margin:15px 0;}
.bulk-product-upload-form{padding:15px;background:#fff;}
.bulk-product-upload-form .input-box{padding:4px 0 15px}
.bulk_order_options h5{margin:10px 0}
.sample_data_for_configurable_product{margin: 0 0 15px;border-bottom: 1px solid #ccc;}
.sample_data_for_configurable_product .attribute_heading{text-decoration:underline;}
.sample_data_for_configurable_product li{margin: 10px 0;}
.sample_data_for_configurable_product li{font-size:13px;}
.bulk_order_options h4 a{ font-size:14px; }
.sample_data_for_configurable_product b{ font-weight:normal; font-size:15px; }

/**
* Manage Product
*/
.market_place_manage_products a{text-decoration:  none;margin: 0 3px 4px;   color: #3D948B}
.market_place_manage_products .button span, .market_place_manage_products .button{ color:#333; }
.sellbuy-product-configurable .market_place_manage_products a.button{ margin-bottom:2px; color:#fff; }
.market_place_manage_products .pager li{margin-top: 2px;}
.market_place_manage_products .pages a{margin:0;  height: 32px;}
.market_place_manage_products .myimage{height: 45px;margin: 2px;width: 55px; border: 1px solid #ccc; box-sizing: border-box; }
.market_place_manage_products .a-center img{margin:5px 5px 0 0;}
.market_place_manage_products table{margin: 10px 0;}
.market_place_configurable_products{display: block;overflow-x:auto;width:100%;}
.add_new_product_form .sellbuy-general .nicEdit-main, .edit_exist_product_form .sellbuy-general .nicEdit-main{background: #fff;}
.market_place_manage_products_table tbody td{padding: 5px 5px;border-right: 0; border-bottom: 1px solid #d9dde3;text-align: left;vertical-align: middle;}
.market_place_manage_products_table tbody tr {background: #fff;}
.market_place_manage_products_table td span{ font-weight: normal;}
.market_place_manage_products_table span em{font-style: normal; color: rgb(204, 12, 12); padding-top: 0;}
.market_place_manage_products_table .txt_center, .market_place_manage_products_table .mtext_center td{text-align: center;}
.market_place_manage_products_table tbody em{ font-style: normal;  display: block;line-height: 17px;}
.market_place_manage_products_table tbody .img_td, .market_place_manage_products_table th.img_td{width:4%;padding-right: 0; text-align: left; box-sizing: border-box; }

.market_place_manage_products_table tr:last-child td{border-bottom: 0;}
.market_place_manage_products_table .mtext_left{text-align: left;}
.market_place_manage_products_table .manage_get_pdct_name{display: block;width: 150px;line-height: 16px;padding-top: 6px; font-size:12px;   color: #3D948B}
.add_new_product_form .manage_product_date_validation, .edit_exist_product_form .manage_product_date_validation{position:relative;}
.add_new_product_form .manage_product_date_validation img, .edit_exist_product_form .manage_product_date_validation img{position: absolute;  top: 10px; left: 170px;}
.my-account .manage_products_head, .my-account .page-title .manage_products_head, .market_place_manage_products .manage_products_head, .market_place_manage_products_order h1, .mp_order_transaction h1, .my-account .page-title h1{float:left;border:0;}
.big_image{display: none;width: 400px;}
.my-product-table tr td{position:relative;}
.product-image:hover .big_image{display: none;position: absolute;z-index: 1;top: 25px;left: 40px;background: #fff;border: 1px solid #ccc;padding: 10px;}
.big_image img{margin:5px 7px 0 0;float:left;width: 37%;}
.big_image h5{color: #081016; font-size:14px; }
.big_image p{color:#2f2f2f;float:left; font-size:12px;}
.big_image div{float:left;width: 61%;}
.pager .limiter select{width:auto;}
.my_manage_products_table h6{ font-weight:normal; }

/**
* Manage Order
*/
.market_place_manage_products_order a{text-decoration:  none;}
.sellbuy-seller-addprofile .addprofile .form-list label{float:none;}
.form-list label.required em{float:left;position:relative;right:0;}
.market_place_manage_products_order .myimage{height: 40px;margin: 2px;width: 55px; border: 1px solid #ccc; box-sizing: border-box; }
.market_place_manage_products_order .a-center img{margin:5px 5px 0 0;}
.market_place_manage_products .mp_addnew_pdt{margin: 0 0 0 5px;float: right;}
.mp_view_order_back{text-align: left;}
.market_place_manage_products_order_table thead .no-border-right, .my-orders-table tr th .no-border-right, .market_place_manage_products_table thead .no-border-right, .mp_dashboard_container table tr .no-border-right, .mp_dashboard_lifetime table tr .no-border-right, .mp_dashboard_average table tr .no-border-right{border-right:1px solid #ccc;}
.market_place_manage_products_table .mp_filter_function th, .market_place_manage_products_order_table thead .mp_filter_function th{background: #f0f0f0;border-right:0;border-bottom:0; }
.market_place_manage_products_table .mp_filter_function th.a-center{ border-right:1px solid #ccc; }
.market_place_manage_products_table .mp_filter_function input, .market_place_manage_products_order_table thead .mp_filter_function input{width:100%;border:1px solid #b6b6b6;height: 28px;padding:0 5px; box-sizing: border-box; }
.market_place_manage_products_table .mp_filter_function th{padding: 10px;}
.market_place_manage_products_table tbody .img_td{width: 9%;}
.market_place_add_image input[type="radio"]{float:left;margin-right:5px;}
.market_place_add_image label{margin-right: 10px;}
.market_place_manage_products .mp_action{margin:0 0 15px;padding: 0;text-align: right; overflow:hidden; }
.market_place_manage_products .mp_action b{font-weight:normal; font-size:14px; }
.market_place_manage_products .mp_action button{margin: 0 0 0 5px;}
.market_place_manage_products .mp_action select, .select_filter, .mp_sellers_order select, .my-orders-table select{margin:0;padding: 4px;}
.my-account .txtbox {padding:6px; border: 1px solid #b6b6b6;}
.market_place_manage_products_order_table .text_left{text-align: left;}
.market_place_manage_products_order_table tbody td, .my-orders-table tr td{padding:8px 6px;border-right: 0; border-bottom: 1px solid #d9dde3;text-align: left;vertical-align: middle;}
.market_place_manage_products_order_table tbody tr {background: #fff;}

.market_place_manage_products_order_table tr:last-child td{border-bottom: 0;}
.market_place_manage_products_order_table td span{ text-transform: capitalize;}
.market_place_manage_products_order_table span em{font-style: normal; color: rgb(204, 12, 12);}
.market_place_manage_products_order_table .txt_center{text-align: center;}
.market_place_manage_products_order .top_amount, .mp_top_amount, .market_place_manage_products .top_amount, .mp_order_transaction .top_amount{ padding-bottom: 8px;float: right;color: #333;font-size: 12px;font-weight: normal;}
.top_amount span b{color:#ff3333; font-weight:bold; }
.market_place_manage_products_order .top_amount .right_space{padding-right:0;}
.market_place_manage_products_order .clear{clear: both;}
.my-product-table th select{width: 68px;margin:0;}
.mp_sellers_order{float:right;margin:0 0 5px;}
.mp_sellers_order p{text-align: right;margin: 5px 0 0;}
.mp_sellers_order input{margin:0 2px;padding:2px;border: 1px solid #b6b6b6;}

/** 
* Assign products
*/
.market_place_assign_products .assign_product_name{width:100%;margin:0 0 10px;}
.customer-account .market_place_assign_products .my-product-table{margin:10px 0 0}
.market_place_assign_products .validation-advice{margin:5px 0;}
.configurable_product_attributes_list {  max-height: 300px;  overflow-y: auto;}

/** 
* Display Seller
*/
.market_place_profile .market_place_store_img{background: #fff;padding: 5px;border: 1px solid #ccc;max-width: 100%;height: 64px;float: left;-moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px; box-sizing: border-box; }
.market_place_profile .clear{clear:both;}
.market_place_profile h5{border-bottom: 1px solid #ccc;margin-bottom: 10px;}
.market_place_profile a{  text-decoration: none;  font-weight: normal;  line-height: 23px;  display: inline-block;  font-size: 12px;  color: #333;}
.market_place_profile .edit_image{background:url(images/edit-image.png) left no-repeat;display: block;padding-left: 17px;margin-top: 5px;padding-top: 0;}
.market_place_profile .social_label{float:left; display: block;}
.market_place_profile .fb_link{background:url(images/fb-icon.png) no-repeat; display: block; width:16px; height: 16px; float: left; margin-right: 5px;}
.market_place_profile .twitter_link{background:url(images/twitter-icon.png) no-repeat; display: block; width: 16px; height: 16px; float: left; margin: 0 5px 0 0;}
.market_place_profile h4{padding: 5px 0 0 0;text-align: center;}
.market_place_profile .markeft_place_main_widget{margin: 0;}
.market_place_profile .pdct_name{border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-top: 30px;}
.all-product-wrapper .product_snipt{background: none;width: 100%;margin-bottom: 10px;border-bottom: 0;}
.all-product-wrapper .product_snipt li{border:none;padding:0;margin:0; text-align: center;/* width:159px; */border-right:solid 1px #ccc; box-sizing: border-box;}
.all-product-wrapper .product_snipt li:last-child { border-right:none;}
.all-product-wrapper .product_snipt .borderright{border-right:none;}
.all-product-wrapper .product_snipt li.item{/*padding:0 19px;*/  margin:0 0 22px 0; text-align: center; /*width: 159px;*/ box-sizing: border-box; }
.all-product-wrapper .product_snipt img {display: block;/* width: 135px; height: 135px;*/ margin: 10px 0 5px;}

.mp_profiles_container .mp_fb_like_btn{margin-left:7px;overflow:hidden;height:20px;}
.mp_profiles_container .mp_fb_like_btn, .mp_profiles_container .mp_social_network{float:left;margin:0 10px 0 0}
.market_place_profile .mp_pdt_name{padding-bottom: 5px; margin-top: 30px;float:left;}
.market_place_profile .page-title{margin:0 0 10px;}
.market_place_profile  .sellers_store_info .page-title, .market_place_profile .sellers_store_info p{margin:0;}
.mp_category_products{float:right;}
.mp_category_products select{margin:0 0 0 5px;}
.mp_view_allreview{text-decoration: none;padding: 1px 0 0 0;font-weight: normal; line-height: 16px;display: inline-block;}
.mp_view_all{color: #1e7ec8; float:left;}
.link_seller{ font-weight: bold;}
.linker_seller{clear: both;margin-top: 10px;}
.linker_seller em{ font-style: normal; color: rgb(233, 22, 22); font-weight: bold;}
.sellbuy-image ul{margin: 0;}
.sellbuy-image .clearul{clear: both;}
.sellbuy-image ul li{float: left; margin:0 6px 10px 0;}
.sellbuy-image .clearul{clear: both;}
.sellbuy-image ul .remove-margin{  margin-right:0;}
.sellbuy-image li .market_place_img_set{ display: block;}
.sellbuy-image .market_place_img_set .remove_img{display: block;}

.sellbuy-image .market_place_add_image button{margin:0 0 0 20px;}
.sellbuy-image .clear{clear: both;}


/** 
* My Profile
*/
.addprofile_fieldset .form-list li, .vacation_mode_fieldset .form-list li{border: 0;padding: 18px 15px 0;margin:0;}
.addprofile .form-list label, .vacation_mode .form-list label{padding-bottom: 4px; display: block;}
.addprofile .form-list .eg_link{padding-top: 3px;display: inline-block; font-size: 11px;}
.addprofile .step_no{border: 1px solid #f19900;background: #f9f3e3;color: #e76200;display: block; line-height: 100%;padding: 3px 5px; float: left;margin-right: 10px;border-radius: 10px;}
.addprofile .payment-snipt textarea{height: 5em;}
.addprofile .payment-snipt{ width: auto;margin: 0 0 15px;}

.addprofile .payment-snipt input.radio{margin: 4px 6px 0 0;float: left;}
.addprofile div.payment_hint{ padding-bottom: 4px;font-weight:bold; }
.addprofile .payment-snipt .market_place_payment_process{padding: 0 0 10px;}
.payment-snipt label{font-weight:normal;}
.addprofile textarea{resize: none;}
.empty_space{width: 16px;display: inline-block;}
.buttons-set{margin: 2em 0 0;}
.page-title h2{margin: 0; font-size: 20px; color: #0a263c; font-weight: bold; background-color: #FFF; padding-left: 7PX;}
.individual-star-ratings {width: auto;overflow: hidden;}
/* .market_place_profile .individual-star-ratings{float: right;background: #eee;padding: 15px 0 10px 15px;width: 31%; box-sizing: border-box; } */
/* .market_place_profile .individual-star-ratings ul{padding:2px 3px 5px 0;float: left;} */
/* .market_place_profile .individual-star-ratings ul li{padding: 0 0 5px;} */
/* .market_place_profile .individual-star-ratings ul li .rating-bars{float: left;width: 160px;background: #E0E0E0;height: 11px;margin: 2px 4px 0;} */
/* .market_place_profile .individual-star-ratings ul li .rating-bars .progress{background: #EB5D51;height: 11px;} */
/* .market_place_profile .individual-star-ratings ul li span{float:left;font-size: 12px;} */
/* .market_place_profile .individual-star-ratings ul li strong{float: left; font: bold 11px Arial,sans-serif; color: rgb(158, 158, 158);} */
.positive_review_ratings{float: left;width: 70px;}
.positive_review_positive, .positive_review_negative, .positive_review_neutral{margin-top: 5px;border: 1px solid #848484;border-left: none;margin-left: 0;text-indent: 15px;width: 8px; box-sizing: border-box; }
.positive_review_positive, .positive_review_negative{height: 33px;line-height: 35px;}
.positive_review_neutral{height: 26px;line-height: 26px;}
.customer_review{float:right;width: 100%;padding: 0 0 10px;clear: both; box-sizing: border-box; }
.customer_review h6, .customer_review p{text-align: left;}

.sellbuy-seller-addprofile .form-list .field, .vacation_mode .form-list .field{width:100%;}
.sellbuy-seller-addprofile .form-list .input-box, .vacation_mode .form-list .input-box{clear: inherit; }
.addprofile .required em, .vacation_mode .required em{float: left;position: inherit;top: inherit;right: inherit;}
.addprofile_fieldset .input-box span{font-size: 12px;display: block; margin-top: 3px}
.sellbuy-seller-addprofile .buttons-set .checkbox-info{display: block;text-align: left;margin: 5px 0 15px 0;}
.payment-snipt .market_place_payment_process i{font-size: 12px;}
.vacation_mode .input-box input[type=text]{float: left;}
.vacation_mode.input-box input[type="checkbox"], input[type="radio"]{margin: 5px 0 0}
.vacation_mode .input-box img{margin: 7px 5px 0;padding-left: 5px;}

/** 
* Vacation Mode
*/
.vacation_mode .form-list li{border: 0;padding: 18px 15px 0;margin: 0;}

/**
* Seller Dashbord and Seller Login
*/
.market_place_or{margin:0 0 30px 125px;}
.box-account .seller_container{margin:0;}
.seller_container .seller_image{float:left;width:131px;padding:0 15px 0 0; box-sizing: border-box; }
.seller_container .seller_profile{float:left;font-size: 16px;}
.sellers_store h1{float:left;font-size: 19px;font-weight: normal;}
.page-title .order-date{margin: 0;float: right;padding: 8px 0 0;}
/*.mp_social_network{float: right;margin: 0 0 4px 10px;}*/
.page-title{margin: 0 0 5px;}
.mp_dashboard_container{border:1px solid #ccc;}
.sellbuy-seller-dashboard .page-title h3{margin:20px 0 10px;font-weight:bold;font-size:15px;}
.mp_dashboard_lifetime{width:49%;margin:0;height:116px;display: inline-block;background: #639938 url(images/life_time_img.png) no-repeat; background-position: 90% 3px;}
.mp_dashboard_average{width:49%; height:116px;display: inline-block;margin: 0 0 0 5px;background: #336633 url(images/average_img.png) no-repeat; background-position: 94% 8px;}
.mp_dashboard_container h3{ font-size:13px;font-weight: bold;padding: 3px 8px;margin: 0;border-bottom: 0;background: #fff url(../images/bkg_toolbar.gif) 0 100% repeat-x;}
.mp_dashboard_lifetime h3, .mp_dashboard_average h3{font-size: 16px;font-weight: bold;color:#fff;padding: 18px 0 0 20px;}
.mp_dashboard_container p{font-size: 18px;text-align: center;}
.mp_dashboard_lifetime p, .mp_dashboard_average p{margin:0;font-size: 35px;font-weight: bold;color:#fff;padding: 15px 0 0 20px;}
.mp_dashboard_container table, .mp_dashboard_lifetime table, .mp_dashboard_average table{width: 100%;}
.mp_profiles_container{width: 65%;padding: 0 15px 0 0;float: left; box-sizing: border-box; }
.mp_profiles_container div{float: left;}
.mp_profiles_logo{margin: 0 10px 0 0;float:left;text-align: center;vertical-align: middle; width: 18%;}
.mp_profiles_desc{width: 100%;padding: 10px 0 0;margin:0;vertical-align: top;float: left;font-size: 14px; box-sizing: border-box; }
.sellers_store_info{float:left;width:70%;}

/**
* Navigation
*/
/* #mp_top_nav {float:left;} */

/* All Levels */ /* Style consistent throughout all nav levels */
/* #mp_top_nav li {float: right;position:relative; text-align:left;z-index: 99; } */
/* #mp_top_nav li.over { z-index:998; } */
/* #mp_top_nav a, #mp_top_nav a:hover { display:block; text-decoration:none; } */
/* #mp_top_nav span { display:block; cursor:pointer; white-space:nowrap;  color: #666; font-size: 11px; font-weight: normal; } */
/* #mp_top_nav li ul span {white-space:normal;color:#000;padding: 5px 10px; } */
/* #mp_top_nav ul li.parent a { background:url(../images/bkg_nav2.gif) 100% 100% no-repeat; } */
/* #mp_top_nav ul li.parent li a { background-image:none; } */
/* #mp_top_nav li:hover ul , #mp_top_nav li:hover div img{display: block;} */

/* 0 Level */
/* #mp_top_nav a {float:left; padding:5px 8px 10px; font-weight:bold; } */
/* #mp_top_nav li.over a, #mp_top_nav a:hover span{ color:#e03409; } */

/* 1st Level */
/* #mp_top_nav ul li, #mp_top_nav ul li.active { float:none; margin:0; padding-bottom:1px; } */
/* #mp_top_nav ul li.last { background:#ecf3f6; padding-bottom:0; } */
/* #mp_top_nav ul li a:hover span { float:none;color: #e03409; background:none; } */
/* #mp_top_nav ul a{ float:none;color: #e03409; padding:0; background:none; } */
/* #mp_top_nav ul li a { font-weight:normal; } */

/* 2nd Level */
/* #mp_top_nav ul{display: none;position:absolute; width:13em; left:0; margin: 0; padding:0; box-sizing: border-box; } */

/** 
* Sellers All page view
*/
.mp_all_sellers_view{float:left;height: 62px;padding:0 14px;text-decoration: none;font-weight:bold;text-align: center;color:#000; box-sizing: border-box; }
.mp_all_sellers_view span{width:100%;padding:5px 0 0;float: left; box-sizing: border-box; }
.mp_all_sellers_container{margin: 0 0 10px;}
.mp_all_sellers_container li{border-right: 1px solid #ccc;margin: 0 0 15px;vertical-align: middle;}

/** 
* Category list
*/
.mp_product_list li{border-bottom: 1px solid #d9ddd3;padding: 12px 10px;float: left;width: 96%; box-sizing: border-box; }
.mp_product_list li a{float: left;width: 135px;height: 135px;padding: 0 15px 0 0; box-sizing: border-box; }
.mp_product_list .mp_product_shop{float: left;width:75%;color: #c76200;}
.mp_product_list .mp_product_shop a{width:100%;height:auto;font-weight:bold;text-decoration: none;color:#000;font-size:13px;}
.mp_product_shop p{color:#333;}
.pager{clear:both;}

/**
*  All review page
*/
.clear{clear:both;}
.all_review_container{width:100%;float:left;border-top:1px solid #ccc;padding:5px 0; box-sizing: border-box; }
.all_reviews_details{float:left;width: 13%;margin: 0 0 0 20px;}
.all_reviews_details b{width:100%;float:left;}
.all_review_container span{float:left;padding:2px 0 0 0;width: 100%;font-size: 11px; box-sizing: border-box; }
.all_reviews_comments{float:left;padding: 10px 0 0;width: 82%; box-sizing: border-box; }
.all_reviews_details .all_reviews_block b{clear: both;float: left;padding:5px 0 10px;}
.all_reviews_details .all_reviews_block{float:left;margin: 5px 0;width: 94px;height: 18px;clear: both; background-position: 0 0;}
.all_review_container .all_review_rating{float: left;height: 18px; background-position:0 100% !important; }

.all_reviews_details p{width:100%;clear:both;}
.mp_rate_feedback{width:100%;padding:15px 0 0;float: left; box-sizing: border-box; }
.mp_seller_rating{float:left;width:64%;margin: 10px 0 0;background: #f2f2f2;padding: 15px 20px 20px; box-sizing: border-box; }
.mp_seller_product{float: left;width:27%;padding: 0 12px 0 0;margin: 10px 22px 10px 0;border-right:1px solid #ccc; box-sizing: border-box;}
.mp_seller_product span{padding:0 0 5px;width:auto;float:left; box-sizing: border-box; }
.mp_rate_feedback .mp_seller_comments{float:left;width:100%;}
.mp_rate_feedback .mp_seller_comments input{width:65%;padding:5px 6px;border:1px solid #b6b6b6; box-sizing: border-box;}
.mp_rate_feedback .mp_seller_comments label, .mp_seller_left{float:left;padding:0 15px 0 0;width: 30%;box-sizing: border-box;}
.mp_seller_rate_options{width:94px;height: 18px;position:relative; list-style-type:none;vertical-align:bottom;zoom:1;z-index:1; margin:0 0 10px; display:inline-block;}
.mp_seller_rate_options li{float:left;}
.mp_seller_rate_options:hover li.user-rating{display:none}
.mp_seller_rate_options li a{display:block;width:19px;height:18px;text-indent:-9000px;z-index:20;position:absolute;top:0;cursor:pointer}
.mp_seller_rate_options li.user-rating{ height:18px; background-position: 0 100% !important; }
.mp_seller_rating li a:hover{z-index:1;left:0; background-position: 0 100%; }

.all_reviews_details .all_reviews_block, .all_review_container .all_review_rating, .mp_seller_rate_options, .mp_seller_rating li a:hover, .mp_seller_rate_options li.user-rating, .mp_seller_rate_options, .all_reviews_details_wr .all_reviews_block, .all_review_container_wr .all_review_rating, .mp_seller_rate_options li.user-rating, .mp_seller_rating li a:hover{ background:url(images/all_review_rating.png) repeat-x;}

/* ============================================ *
 * Manage Products Tab
 * ============================================ 
 */

/* .new-product-tab .TabNav{ width:100%;  text-align:center; position:relative; overflow:hidden; display:block; background:#fff;  } */
/* .new-product-tab .TabNav li{border-right: 1px solid #eee; border-bottom: 1px solid #eee;} */
/* .new-product-tab .TabNav li a{ padding:10px 27px; background:#fbfbfb; color:#333; display:block; position:relative; text-transform:uppercase; font-weight:bold; font-size:14px; } */
/* .new-product-tab .TabNav li.selectedTab a{ background:#fff; color:#333; padding:10px 27px; display:block; position:relative; text-transform:uppercase; font-weight:bold; font-size:14px; } */
/* .new-product-tab .TabNav li {display: block;float: left;position: relative; } */
/* .new-product-tab .TabNav li.selectedTab:after { border-bottom: 1px solid transparent; content: ""; } */
/* .new-product-tab .TabNav li.border-none{border-right: none;} */
/* .new-product-tab .TabNav li.selectedTab{border-bottom: 1px solid #fff;} */

/** 
* Market place responsive
*/
@media only screen and (min-width: 230px) and (max-width: 309px) {
.all-product-wrapper .product_snipt li.item{margin:10px 16% 25px;}
}

@media only screen and (min-width: 230px) and (max-width: 319px){
.sellbuy_downloadable_product_div .link_items_body .sellbuy_download_info_table{padding:0;background: none;border:0;width:98%; box-sizing: border-box; }
.sellbuy_downloadable_product_div .sellbuy_download_info_table input.input-text{width:90%;}
}

@media only screen and (min-width: 310px) and (max-width: 340px) {
.all-product-wrapper .product_snipt li.item{margin:10px 20% 25px;}
}

@media only screen and (min-width: 341px) and (max-width: 479px) {
.all-product-wrapper .product_snipt .item{width:88%;}
.product_snipt .item img{width:100%;height:100%;}
}

@media only screen and (min-width: 480px) and (max-width: 600px){
.all-product-wrapper .product_snipt .item{width: 46%;margin: 10px 2% 25px;}
.all_reviews_details{width: 24%;margin:0;}
.all_reviews_comments{width: 75%;}
.mp_seller_product{width:100%;margin:10px 10px 0 0;}
.mp_seller_product img{width:100%;}
.mp_seller_rating{width:90%;padding:5%; box-sizing: border-box; }
.mp_rate_feedback .mp_seller_comments label{width:90%}
.mp_rate_feedback .mp_seller_comments input, .mp_rate_feedback .mp_seller_comments textarea{width:94%;}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
.all-product-wrapper .product_snipt .item {margin: 10px 1.6% 10px;width: 30%;}
.all_reviews_details{width: 24%;margin:0;}
.all_reviews_comments{width: 75%;}
.mp_profiles_container .sellers_store_info{width:58%;}
.market_place_assign_products .assign_product_form button{display:block}
}

@media only screen and (min-width: 768px) and (max-width: 850px){
.all-product-wrapper .product_snipt .item{margin: 10px 1.2% 22px;}
.all_reviews_details{width: 24%;margin:0;}
.all_reviews_comments{width: 75%;}
.mp_seller_product{width:37%;}
.mp_seller_product img{width:100%;}
.mp_seller_rating{width:52%;padding:15px; box-sizing: border-box; }
.mp_rate_feedback .mp_seller_comments label{width:90%}
.mp_rate_feedback .mp_seller_comments input, .mp_rate_feedback .mp_seller_comments textarea{width:94%;}
.mp_profiles_container .sellers_store_info{margin:5px 0 0}
}

@media only screen and (min-width: 230px) and (max-width: 479px) {
/** 
* market place product inner page css
*/
.addprofile .form-list{width:94%;}
.addprofile .form-list .input-box{width:100%;}
.addprofile .form-list input.input-text, .addprofile .form-list textarea{width:94%;}
.addprofile .form-list select{width:98%;}
.addprofile .fieldset li{padding:18px 10px 0}
.mp_dashboard_lifetime, .mp_dashboard_average{width:100%;margin:10px 0 0;}
.market_place_manage_products .mp_action b{display:none;}
.market_place_manage_products .mp_action b{display: initial; line-height:31px; }
.market_place_manage_products .mp_addnew_pdt, .market_place_manage_products .mp_addnew_pdt{display:block;width:100%;margin: 0 0 10px 5px;}
.market_place_manage_products_order .top_amount, .mp_top_amount, .market_place_manage_products .top_amount, .mp_order_transaction .top_amount{float:left;width: 100%;}
.sellbuy_download_info_table tr td{width:98%;float:left;}
.market_place_profile .markeft_place_main_widget{margin:0}
.market_place_profile .individual-star-ratings{width: 95%;margin:10px 0 0}
.positive_review_ratings{display:none;}
.mp_profiles_container{width: 100%;padding: 0; box-sizing: border-box;}
/*.mp_profiles_container .sellers_store_info{width: 30%;clear: right;}*/
.mp_profiles_container .sellers_store h1{width: 100%;padding: 5px 0; box-sizing: border-box; }
/*.mp_profiles_container .mp_fb_like_btn, .mp_profiles_container .mp_social_network{float:left;margin:0 10px 5px 0;}*/
.all_reviews_details{width: 100%;margin: 0;}
.mp_seller_product{width:100%;padding:0;margin:10px 0 0;border:0; box-sizing: border-box; }
.mp_seller_product img{width:100%;}
.mp_seller_rating{width:90%;padding:5%; box-sizing: border-box; }
.mp_rate_feedback .mp_seller_comments label{width:90%}
.mp_rate_feedback .mp_seller_comments input, .mp_rate_feedback .mp_seller_comments textarea{width:94%;}
.my-account .manage_products_head, .my-account .page-title .manage_products_head, .market_place_manage_products .manage_products_head, .market_place_manage_products_order h1, .mp_order_transaction h1, .my-account .page-title h1{width:100%;text-align: left;}
.compare_wrapper .view_link span{float:none}
.mp_profiles_container .sellers_store_info{width: 100%;margin:5px 0 0}

.market_place_assign_products .assign_product_form button{display:block}

.market_place_add_image input{display:block;}
.market_place_add_image input[type="radio"]{display:inline-block;}
.option_value_content_for_configurable_product_color input, .option_value_content_for_configurable_product_size input, .sellbuy_super_product_configuration li div input{margin-bottom:12px}
.market_place_manage_products .multiple_select .mp_action{float:left;}
.market_place_manage_products .mp_action select{padding:1px;}
.seller-sales-chart .mp_seller_sales_report_wr button{ float:left; }
.seller-sales-chart .mp_seller_sales_report_wr{ position:relative; }
}

@media only screen and (min-width: 345px) and (max-width: 479px) {
.positive_review_ratings{display: inherit}    
}

@media only screen and (min-width: 300px) and (max-width: 570px) {
.add_new_product_form .manage_product_date_validation img, .edit_exist_product_form .manage_product_date_validation img{left: 205px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.market_place_profile .individual-star-ratings{width: 97%;margin:10px 0 0}
.mp_profiles_container{width: 100%;padding: 0; box-sizing: border-box;}
/*.mp_profiles_container .sellers_store_info{width: 75%;}*/
.market_place_profile .markeft_place_main_widget{margin:0;}
.mp_profiles_container .sellers_store h1{width: 100%;padding: 5px 0; box-sizing: border-box; }
/*.market_place_profile .sellers_store_info .page-title{width:30%}*/
/*.mp_profiles_container .mp_fb_like_btn, .mp_profiles_container .mp_social_network{float:left;margin: 0 10px 5px 0;}*/
.mp_product_list .mp_product_shop{width: 64%;}
.mp_seller_product{width:37%;}
.mp_seller_product img{width:100%;}
.mp_seller_rating{width:50%;padding:15px; box-sizing: border-box;}
.mp_rate_feedback .mp_seller_comments label{width:90%}
.mp_rate_feedback .mp_seller_comments input, .mp_rate_feedback .mp_seller_comments textarea{width:94%;}
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
.mp_profiles_container{width: 54%;padding:0; box-sizing: border-box; }
.market_place_profile .individual-star-ratings{width: 42%;}
.mp_profiles_container .mp_fb_like_btn, .mp_profiles_container .mp_social_network{float:left;margin: 0 5px;}
.mp_product_list .mp_product_shop{width:70%;}
}

@media only screen and (min-width: 230px) and (max-width: 850px) {
.mp_seller_sales_report .select_filter, .mp_seller_sales_report .txtbox, .mp_seller_sales_report .multi_submit, .mp_sellers_order select, .select_filter, .mp_sellers_order .multi_submit{margin:0 0 10px;}
.market_place_manage_products_order .top_amount .right_space, .market_place_manage_products .top_amount .right_space, .mp_order_transaction .top_amount .right_space, .market_place_manage_products .top_amount .right_space{display:block}
.form-list li.wide textarea{width:100%;}
.market_place_manage_products .mp_filter_function, .product-image:hover .big_image{display:none;}
.market_place_manage_products_order_table tr:last-child td{border-bottom: 1px solid #ccc;}
/* .mp_profiles_container .sellers_store_info{width: 77%; clear:right;} */
/* .mp_profiles_container .mp_fb_like_btn, .mp_profiles_container .mp_social_network{float: left; margin: 0 0;} */
.mp_profiles_container .mp_fb_like_btn, .mp_profiles_container .mp_social_network{float:left; margin: 0 10px 5px 0; width: 58%; clear: both;}
/* .mp_profiles_container .mp_social_network{float:left; margin: 11px 10px 0 0; width: 58%; clear: both !important;} */

.mp_dashboard_container, .market_place_assign_products .assign_product_form{overflow-x:scroll;width:100%;}
/* .mp_dashboard_container table, .mp_dashboard_container thead, .mp_dashboard_container tbody, .mp_dashboard_container th, .mp_dashboard_container td, .mp_dashboard_container tr {display: block;} */
/* .mp_dashboard_container thead th {position: absolute;top: -9999px;left: -9999px;} */
/* .mp_dashboard_container tbody tr { border: 1px solid #ccc; } */
/* .mp_dashboard_container tfoot tr{border:0px;} */
/* .mp_dashboard_container tbody tr{margin:0 0 10px;} */
/* .mp_dashboard_container_viewed tbody td{width:52%;} */
/* .mp_dashboard_container td {Behave  like a "row"border: none;border-bottom: 1px solid #eee;position: relative;padding-left: 44% !important;} */
/* .mp_dashboard_container tbody td:before {position: absolute;top: 8px;left: 6px;width: 45%;padding-right: 10px;white-space: nowrap;font-weight: bold;} */
/* .mp_dashboard_container tbody td:nth-of-type(1):before { content: "Order Id"; } */
/* .mp_dashboard_container tbody td:nth-of-type(2):before { content: "Name"; } */
/* .mp_dashboard_container tbody td:nth-of-type(3):before { content: "Price"; } */
/* .mp_dashboard_container tbody td:nth-of-type(4):before { content: "Quantity"; } */
/* .mp_dashboard_container tfoot tr{border:0px;display: block;width:100%} */
/* .mp_dashboard_container tfoot tr .no_product_content{border:0px !important;display: block;width:100%;position: inherit;padding:0px !important} */

/* .mp_dashboard_container_viewed table, .mp_dashboard_container_viewed thead, .mp_dashboard_container_viewed tbody, .mp_dashboard_container_viewed th, .mp_dashboard_container_viewed td, .mp_dashboard_container_viewed tr {display: block;} */
/* .mp_dashboard_container_viewed thead th {position: absolute;top: -9999px;left: -9999px;} */
/* .mp_dashboard_container_viewed tbody tr { border: 1px solid #ccc; } */
/* .mp_dashboard_container_viewed tfoot tr{border:0px;} */
/* .mp_dashboard_container_viewed tbody tr{margin:0 0 10px;} */
/* .mp_dashboard_container_viewed tbody td{width:51%;} */
/* .mp_dashboard_container_viewed td {Behave  like a "row"border: none;border-bottom: 1px solid #eee;position: relative;padding-left: 44% !important;} */
/* .mp_dashboard_container_viewed tbody td:before {position: absolute;top: 8px;left: 6px;width: 45%;padding-right: 10px;white-space: nowrap;font-weight: bold;} */
/* .mp_dashboard_container_viewed tbody td:nth-of-type(1):before { content: "Name"; } */
/* .mp_dashboard_container_viewed tbody td:nth-of-type(2):before { content: "Price"; } */
/* .mp_dashboard_container_viewed tbody td:nth-of-type(3):before { content: "No of View"; } */
/* .mp_dashboard_container_viewed tfoot tr{border:0px;display: block;width:100%} */
/* .mp_dashboard_container_viewed tfoot tr .no_product_content{border:0px !important;display: block;width:100%;position: inherit;padding:0px !important} */


.market_place_manage_products_order tbody tr { border: 1px solid #ccc; }
.market_place_manage_products_order tfoot tr{border:0;}
.market_place_manage_products_order tbody tr{margin:0 0 10px;}

/*#market_place_manage_products_order tbody td{width:54%;}*/
.market_place_manage_products_order td {/* Behave  like a "row" */border: none;border-bottom: 1px solid #eee;position: relative; }

.market_place_manage_products_order tfoot tr{border:0;display: block;width:100%; box-sizing: border-box; }
.market_place_manage_products_order tfoot .no_product_content{border:0;display: block;width:100%;position: inherit;padding:0; box-sizing: border-box;}



.sellbuy-order-viewtransaction .my-orders-table tbody tr { border: 1px solid #ccc; }
.sellbuy-order-viewtransaction .my-orders-table tfoot tr{border:0;}
.sellbuy-order-viewtransaction .my-orders-table tbody tr{margin:0 0 10px;}
.sellbuy-order-viewtransaction .my-orders-table tbody td{width:51%;}
.sellbuy-order-viewtransaction .my-orders-table tbody td {/* Behave  like a "row" */border: none;border-bottom: 1px solid #eee;position: relative; }

.sellbuy-order-viewtransaction .my-orders-table tfoot tr{border:0;display: block;width:100%; box-sizing: border-box;}
.sellbuy-order-viewtransaction .my-orders-table tfoot tr .no_product_content{border:0;display: block;width:100%;position: inherit;padding:0 !important; box-sizing: border-box; }

.market_place_manage_products .multiple_select{ width: 100%;overflow-x:scroll;}
/* #market_place_manage_products #my-product-table table, #market_place_manage_products #my-product-table thead, #market_place_manage_products #my-product-table tbody, #market_place_manage_products #my-product-table th, #market_place_manage_products #my-product-table td, #market_place_manage_products #my-product-table tr {display: block;} */
/* #market_place_manage_products #my-product-table thead th {position: absolute;top: -9999px;left: -9999px;} */
/* #market_place_manage_products #my-product-table tbody tr { border: 1px solid #ccc; } */
/* .market_place_manage_products #my-product-table tfoot tr{border:0px;} */
/* #market_place_manage_products #my-product-table tbody tr{margin:0 0 10px;} */
/* #market_place_manage_products table a.get_pdct_name{width:auto;} */
/* #market_place_manage_products #my-product-table tbody td{Behave  like a "row"border: none;border-bottom: 1px solid #eee;position: relative;padding-left: 44% !important;width:54%;padding-right: 2%;} */
/* #market_place_manage_products #my-product-table td:before {position: absolute;top: 8px;left: 6px;width: 38%;padding-right: 10px;white-space: nowrap;font-weight: bold;} */
/* #market_place_manage_products #my-product-table td:nth-of-type(1):before { content: "#"; } */
/* #market_place_manage_products #my-product-table td:nth-of-type(2):before { content: "Id"; } */
/* #market_place_manage_products #my-product-table td:nth-of-type(3):before { content: "Image"; } */
/* #market_place_manage_products #my-product-table td:nth-of-type(4):before { content: "Name"; } */
/* #market_place_manage_products #my-product-table td:nth-of-type(5):before { content: "Quantity"; } */
/* #market_place_manage_products #my-product-table td:nth-of-type(6):before { content: "Price"; } */
/* #market_place_manage_products #my-product-table td:nth-of-type(7):before { content: "Status"; } */
/* #market_place_manage_products #my-product-table td:nth-of-type(8):before { content: "Action"; } */
/* #market_place_manage_products #my-product-table tfoot tr{border:0px;display: block;width:100%} */
/* #market_place_manage_products #my-product-table tfoot tr .no_product_content{border:0px !important;display: block;width:100%;position: inherit;padding:0px !important;padding-left: inherit;width:inherit;padding-right:inherit;} */

.sellbuy_custom_option_list input.input-text{width:80%;}
.sellbuy_custom_option_list select{width:86%;margin:0;}
.market_place_dropdown_row tfoot button.button{margin:10px 5px;}

.sellbuy_custom_option_list .option-header table, .sellbuy_custom_option_list .option-header thead, .sellbuy_custom_option_list .option-header tbody, .sellbuy_custom_option_list .option-header th, .sellbuy_custom_option_list .option-header td, .sellbuy_custom_option_list .option-header tr {display: block;}
.sellbuy_custom_option_list .option-header thead th {position: absolute;top: -9999px;left: -9999px;}
.sellbuy_custom_option_list .option-header thead .a-right {position: relative;top: 0px;left: 0%;}
.sellbuy_custom_option_list .option-header thead .a-right {position: relative;top: 0;left: 0;}
.sellbuy_custom_option_list .option-header tbody tr{margin:0 0 10px;}
.sellbuy_custom_option_list .option-header td {/* Behave  like a "row" */border: none;border-bottom: 0 solid #eee;position: relative;padding: 0 0 10px 44% !important;}
.sellbuy_custom_option_list .option-header td:before {position: absolute;top: 8px;left: 6px;width: 45%;padding-right: 10px;white-space: nowrap;font-weight: bold; box-sizing: border-box; }
.sellbuy_custom_option_list .option-header td:nth-of-type(1):before { content: "Title"; }
.sellbuy_custom_option_list .option-header td:nth-of-type(2):before { content: "Input Type"; }
.sellbuy_custom_option_list .option-header td:nth-of-type(3):before { content: "Is Required"; }
.sellbuy_custom_option_list .option-header td:nth-of-type(4):before { content: "Sort Order"; }

.sellbuy_custom_option_list .custom_option_text_field table, .sellbuy_custom_option_list .custom_option_text_field thead, .sellbuy_custom_option_list .custom_option_text_field tbody, .sellbuy_custom_option_list .custom_option_text_field th, .sellbuy_custom_option_list .custom_option_text_field td, .sellbuy_custom_option_list .custom_option_text_field tr {display: block;}
.custom_option_text_field thead th {position: absolute;top: -9999px;left: -9999px;}
.custom_option_text_field thead .a-right {position: relative;top: 0;left: 0;}
.custom_option_text_field tbody tr{margin:0 0 10px;}
.sellbuy_custom_option_list .custom_option_text_field td {/* Behave  like a "row" */border: none;border-bottom: 0 solid #eee;position: relative;padding: 0 0 10px 44% !important;}
.sellbuy_custom_option_list .custom_option_text_field td:before {position: absolute;top: 8px;left: 6px;width: 45%;padding-right: 10px;white-space: nowrap;font-weight: bold; box-sizing: border-box; }
.sellbuy_custom_option_list .custom_option_text_field td:nth-of-type(1):before { content: "Price"; }
.sellbuy_custom_option_list .custom_option_text_field td:nth-of-type(2):before { content: "Price Type"; }
.sellbuy_custom_option_list .custom_option_text_field td:nth-of-type(3):before { content: "SKU"; }
.sellbuy_custom_option_list .custom_option_text_field td:nth-of-type(4):before { content: "Max Char"; }
.market_place_option-box{border: 0;background: none;padding: 0;}
.sellbuy_custom_option_list .border tr.headings, .sellbuy-sample .headings{background: none;}
.sellbuy_custom_option_list .border tr.headings th, .sellbuy-sample tr.headings th{display:none;}

.sellbuy_custom_option_list .mareket_place_price_table, .sellbuy_custom_option_list .mareket_place_price_table thead, .sellbuy_custom_option_list .mareket_place_price_table tbody, .sellbuy_custom_option_list .mareket_place_price_table th, .sellbuy_custom_option_list .mareket_place_price_table td, .sellbuy_custom_option_list .mareket_place_price_table tr {display: block;}
.mareket_place_price_table thead th {position: absolute;top: -9999px;left: -9999px;}
.mareket_place_price_table thead .a-right {position: relative;top: 0;left: 0;}
.mareket_place_price_table tbody tr{margin:0 0 10px;}
.sellbuy_custom_option_list .mareket_place_price_table td {/* Behave  like a "row" */border: none;border-bottom: 0 solid #eee;position: relative;padding: 0 0 10px 44% !important;white-space: normal;}
.sellbuy_custom_option_list .mareket_place_price_table td:before {position: absolute;top: 8px;left: 6px;width: 45%;padding-right: 10px;white-space: nowrap;font-weight: bold; box-sizing: border-box; }
.sellbuy_custom_option_list .mareket_place_price_table td:nth-of-type(1):before { content: "Price"; }
.sellbuy_custom_option_list .mareket_place_price_table td:nth-of-type(2):before { content: "Price Type"; }
.sellbuy_custom_option_list .mareket_place_price_table td:nth-of-type(3):before { content: "SKU"; }
.sellbuy_custom_option_list .mareket_place_price_table td:nth-of-type(4):before { content: "Extensions"; }
.sellbuy_custom_option_list .mareket_place_price_table td:nth-of-type(5):before { content: "Image size"; }
.mareket_place_price_table .type-last .input-text{width:25%}

.sellbuy_custom_option_list .market_place_dropdown_row, .sellbuy_custom_option_list .market_place_dropdown_row thead, .sellbuy_custom_option_list .market_place_dropdown_row tbody, .sellbuy_custom_option_list .market_place_dropdown_row th, .sellbuy_custom_option_list .market_place_dropdown_row td, .sellbuy_custom_option_list .market_place_dropdown_row tr {display: block;}
.market_place_dropdown_row thead th {position: absolute;top: -9999px;left: -9999px;}
.market_place_dropdown_row thead .a-right {position: relative;top: 0;left: 0;}
.market_place_dropdown_row tbody tr{margin:0 0 10px;}
.market_place_dropdown_row tbody td {/* Behave  like a "row" */border: none;border-bottom: 0 solid #eee;position: relative;padding: 0 0 10px 44% !important;margin: 15px 0 0;}
.market_place_dropdown_row tbody td:before {position: absolute;top: 8px;left: 6px;width: 45%;padding-right: 10px;white-space: nowrap;font-weight: bold; box-sizing: border-box; }
.market_place_dropdown_row tbody td:nth-of-type(1):before { content: "Title"; }
.market_place_dropdown_row tbody td:nth-of-type(2):before { content: "Price"; }
.market_place_dropdown_row tbody td:nth-of-type(3):before { content: "Price Type"; }
.market_place_dropdown_row tbody td:nth-of-type(4):before { content: "SKU"; }
.market_place_dropdown_row tbody td:nth-of-type(5):before { content: "Sort Order"; }
.market_place_dropdown_row tbody td:nth-of-type(6):before { content: "Delete"; }

.sellbuy_custom_option_list .mareket_place_date_table, .sellbuy_custom_option_list .mareket_place_date_table thead, .sellbuy_custom_option_list .mareket_place_date_table tbody, .sellbuy_custom_option_list .mareket_place_date_table th, .sellbuy_custom_option_list .mareket_place_date_table td, .sellbuy_custom_option_list .mareket_place_date_table tr {display: block;}
.mareket_place_date_table thead th {position: absolute;top: -9999px;left: -9999px;}
.mareket_place_date_table thead .a-right {position: relative;top: 0;left: 0;}
.mareket_place_date_table tbody tr{margin:0 0 10px;}
.sellbuy_custom_option_list .mareket_place_date_table td {/* Behave  like a "row" */border: none;border-bottom: 0 solid #eee;position: relative;padding: 0 0 10px 44% !important;}
.sellbuy_custom_option_list .mareket_place_date_table td:before {position: absolute;top: 8px;left: 6px;width: 45%;padding-right: 10px;white-space: nowrap;font-weight: bold; box-sizing: border-box; }
.sellbuy_custom_option_list .mareket_place_date_table td:nth-of-type(1):before { content: "Price"; }
.sellbuy_custom_option_list .mareket_place_date_table td:nth-of-type(2):before { content: "Price Type"; }
.sellbuy_custom_option_list .mareket_place_date_table td:nth-of-type(3):before { content: "SKU"; }

.sellbuy_downloadable_product_div .link_items_body .sellbuy_download_info_table{padding:10px;}
.sellbuy_downloadable_product_div .sellbuy_download_info_table input.input-text{width:92%}
.sellbuy_downloadable_product_div .sellbuy_download_info_table select{width:97%}

.sellbuy_downloadable_product_div .sellbuy-sample table, .sellbuy_downloadable_product_div .sellbuy-sample thead, .sellbuy_downloadable_product_div .sellbuy-sample tbody, .sellbuy_downloadable_product_div .sellbuy-sample th, .sellbuy_downloadable_product_div .sellbuy-sample td, .sellbuy_downloadable_product_div .sellbuy-sample tr {display: block;}
.sellbuy-sample thead th {position: absolute;top: -9999px;left: -9999px;}
.sellbuy-sample thead .a-right {position: relative;top: 0;left: 0;}
.sellbuy-sample tbody tr{margin:0 0 10px;}
.sellbuy-sample tbody td {/* Behave  like a "row" */border: none;border-bottom: 0 solid #eee;position: relative;padding: 0 0 10px 44% !important;}
.sellbuy-sample tbody td:before {position: absolute;top: 8px;left: 6px;width: 45%;padding-right: 10px;white-space: nowrap;font-weight: bold;box-sizing: border-box; }
.sellbuy-sample tbody td:nth-of-type(1):before { content: "Price"; }
.sellbuy-sample tbody td:nth-of-type(2):before { content: "Price Type"; }
.sellbuy-sample tbody td:nth-of-type(3):before { content: "SKU"; }
.sellbuy-sample .sample_items_body .a-center{text-align:left;}
.sellbuy-sample .sample_items_body input.input-text{width:80%;margin: 0;}
.sellbuy-sample tbody{margin:10px 0;white-space: normal;}

.compare_wrapper .sellbuy_compare_product{border:0;}
.compare_wrapper .sellbuy_compare_product table, .compare_wrapper .sellbuy_compare_product thead, .compare_wrapper .sellbuy_compare_product tbody, .compare_wrapper .sellbuy_compare_product th, .compare_wrapper .sellbuy_compare_product td, .compare_wrapper .sellbuy_compare_product tr {display: block;}
.sellbuy_compare_product thead th {position: absolute;top: -9999px;left: -9999px;padding:5px 10px;}
.compare_wrapper .sellbuy_compare_product tr { border: 1px solid #ccc; }
.sellbuy_compare_product tbody tr{margin:0 0 10px;}
.compare_wrapper .sellbuy_compare_product td {/* Behave  like a "row" */border-bottom: 1px solid #eee;position: relative;padding-left: 34%;}
.compare_wrapper .sellbuy_compare_product td:before {position: absolute;top: 8px;left: 6px;width: 45%;padding-right: 10px;white-space: nowrap;font-weight: bold; box-sizing: border-box; }
.compare_wrapper .sellbuy_compare_product td:nth-of-type(1):before { content: "Ship Info"; }
.compare_wrapper .sellbuy_compare_product td:nth-of-type(2):before { content: "Product Info"; }
.compare_wrapper .sellbuy_compare_product td:nth-of-type(3):before { content: "Price"; }
.compare_wrapper .sellbuy_compare_product td:nth-of-type(4):before { content: "Cart"; }
.sellbuy_compare_product tfoot td:nth-of-type(1):before { content: ""; }
.sellbuy_compare_product tfoot td:nth-of-type(2):before { content: ""; }
.product_image_compare img{float:none}
.product_image_compare div{float:none;padding:0;}
}

.sellbuy-compareprice .wide .input-box{width: 578px; position:relative; }
.sellbuy-compareprice .wide input.input-text{float: left;}
.sellbuy-compareprice #indicator1{margin: 5px 0 0 3px; float: left; width: 25px; clear: right;}
.sellbuy-compareprice .compare-note{clear: both; display: block;}
.compare_wrapper h1{font-size: 14px;font-weight: normal;background-color: #fff;border-left: 1px solid #e9e9e9;border-top: 1px solid #e9e9e9;border-right: 1px solid #e9e9e9;border-radius: 5px 5px 0 0;padding: 8px 15px;margin: 0;display: inline-block;}

/**
* All review page
*/
.clear{clear:both;}
.all_review_container_wr{width:100%;float:left;padding:0; box-sizing: border-box; }
.all_review_container_wr h3 {  float: left;  width: 100%;  margin: 0;  text-transform: none;  font-size: 12px;  margin-top: 5px;}
.all_reviews_details_wr{float:left;width: auto;margin:2px 5px 9px 0;}
.all_reviews_details_wr b{width:100%;float:left;}
.individual-star-ratings .all_review_container_wr span{width:auto;padding:2px 0 0 0; clear: left; display: block; box-sizing: border-box; }
.individual-star-ratings .all_review_container_wr .rating_s{float: left; display: block; margin: 7px 0 0 9px;}
.all_review_container_wr span{float:none;}
.all_reviews_comments{float:left;padding: 10px 0 0;width: 82%; box-sizing: border-box;}
.all_reviews_details_wr .all_reviews_block b{clear: both;float: left;padding:5px 0 10px;}

.all_reviews_details_wr .all_reviews_block{float:left;margin: 5px 0;width: 94px;height: 18px;clear: both; background-position: 0 0; }
.all_review_container_wr .all_review_rating{float: left;height: 18px; background-position: 0 100%; }
.all_reviews_details_wr p{width:100%;clear:both;}
.mp_rate_feedback{width:100%;padding:15px 0 0;float: left; box-sizing: border-box; }
.mp_seller_rating{float:left;width:64%;margin: 10px 0 0;background: #f2f2f2;padding: 15px 20px 20px; box-sizing: border-box; }
.mp_seller_product{float: left;width:27%;padding: 0 12px 0 0;margin: 10px 22px 10px 0;border-right:1px solid #ccc; box-sizing: border-box; }
.mp_seller_product span{padding:0 0 5px;width:auto;float:left; box-sizing: border-box;}
.mp_rate_feedback .mp_seller_comments{float:left;width:100%;}
.mp_rate_feedback .mp_seller_comments input{width:65%;padding:5px 6px;border:1px solid #b6b6b6; box-sizing: border-box; }
.mp_rate_feedback .mp_seller_comments label, .mp_seller_left{float:left;padding:0 15px 0 0;width: 30%; box-sizing: border-box; }
.mp_rate_feedback .mp_seller_comments textarea{float:left;width:65%;}
.mp_seller_rate_options{width:94px;height: 18px;position:relative; list-style-type:none; vertical-align:bottom;zoom:1;z-index:1; margin:0 0 10px;display:inline-block;}
.mp_seller_rate_options li{float:left;}
.mp_seller_rate_options:hover li.user-rating{display:none}
.mp_seller_rate_options li a{display:block;width:19px;height:18px;text-indent:-9000px;z-index:20;position:absolute;top:0;cursor:pointer}
.mp_seller_rate_options ul .user-rating{ height:18px; background-position: 0 100%; }
.mp_seller_rating li a:hover{ z-index:1;left:0; background-position: 0 100%; }
.mp_seller_rate_options .rate-1{left:0}
.mp_seller_rate_options .rate-1:hover{width:19px}
.mp_seller_rate_options .rate-2{left:19px}
.mp_seller_rate_options .rate-2:hover{width:38px}
.mp_seller_rate_options .rate-3{left:38px}
.mp_seller_rate_options .rate-3:hover{width:57px}
.mp_seller_rate_options .rate-4{left:57px}
.mp_seller_rate_options .rate-4:hover{width:76px}
.mp_seller_rate_options .rate-5{left:76px}
.mp_seller_rate_options .rate-5:hover{width:94px}
.mp_seller_rating button{float:right;}
.sellbuy-seller-allreview .pager{border:0;}
.feedback_text{ display: block; width: 100%; margin: 8px 0 0; float: left;}

.product_wrapper{ width: 100%; overflow: hidden;}.product_wrapper img{ float: left; margin: 0 10px 0 0}
.product_wrapper .product_info_wr{ float: left; width: 78%;}
.product_wrapper a{ text-decoration: none;}
.back_btn{ background: #ddd; color: #666; padding: 5px 10px; width: 19%; margin: 0 0 10px;  box-sizing: border-box; }
.back_btn a{ text-decoration: none; color: #000; }
.back_btn a:hover{ text-decoration:underline; color: #000;}

.seller_store_banner img{max-width: 100%; height: auto;}
.market_place_profile .mp_profiles_container{width: 100%; padding: 0; box-sizing: border-box; }

/* ==========================================================================
   Quick simple product creation
   ========================================================================== */
.sellbuy_associated_product{width:100%;overflow-x:auto;}
.sellbuy_associated_product .data-table input {  height: 23px;}
.configurable_associated_product_form select, .sellbuy_super_product_attribute select{padding:4px;margin-top:0;}
.sellbuy_configurable_price_value div label{float: left;width: 100%;padding: 10px 0 5px; font-weight:normal; box-sizing: border-box; }
.sellbuy_configurable_price_value div select{width: 160px; font-weight:normal; margin-top:0; }
.sellbuy_super_product_container{padding:0 0 15px; font-size:13px; }
.sellbuy_super_product_attribute .sellbuy_super_product_configuration div{padding:5px 0;}
.sellbuy_super_product_attribute .sellbuy_super_product_configuration b{float:left;padding: 0 5px 0 0;}
.sellbuy_configurable_price_value div{padding: 4px 0 0;font-size: 13px;font-weight: normal;}
.sellbuy_super_product_attribute .sellbuy_super_product_container b{ font-weight:normal; color: #3D948B; }

/* ==========================================================================
   Super product attributes configuration
   ========================================================================== */
.sellbuy_super_product_attribute h2{margin:15px 0;}



/* ==========================================================================
   Seller Profile
   ========================================================================== */

.sellbuy-seller-displayseller .main-container{margin-top:0;}
.sellbuy-seller-displayseller .mp_profiles_container{position: relative;top:auto;left: 0;}
.sellbuy-seller-displayseller .mp_profiles_container .seller_store_banner{z-index: 1; width: 100%; height: auto;}
.mp_profiles_container .seller_store_banner img {  max-width: 100%;  max-height: 100%;  width: 725px;  height:232px;}
.sellbuy-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper{z-index: 99;    border: 1px solid #eee; margin:-55px 0 0; width:100%; padding: 20px; background:#fff; box-sizing: border-box;	}
.mp_profiles_container .mp_profiles-info-wrapper .mp_profiles_logo{padding: 30px 0;}
.mp_profiles_container .mp_profiles-info-wrapper h2{font-weight: normal; font-size: 24px;margin: 0; color:#333; }
.sellbuy-seller-displayseller .mp_profiles_container .sellers_store_info{width: 80%;}
.mp_profiles_container .sellers_store_info .contact-wrapper{float: right; margin: 0;}
.mp_profiles_container .contact-wrapper span{display: block;float: left;padding: 0 0 0 35px;}

.seller-today-sales .cart_bg i, .seller-today-sales .Order_bg i, .mp_profiles_container .social-media-wrapper .gplus, .mp_profiles_container .social-media-wrapper .twitter, .mp_profiles_container .social-media-wrapper .facebook, .mp_profiles_container .social-media-wrapper .linked-in, .mp_profiles_container .contact-wrapper .contact-mail, .mp_profiles_container .contact-wrapper .contact-number{ background: url("../images/icon_sprite.png") no-repeat; }

.mp_profiles_container .contact-wrapper .contact-number{ background-position:-58px -960px;}
.mp_profiles_container .contact-wrapper .contact-mail{background-position: -63px -979px;}
.mp_profiles_container .sellers_store_info .all_review_container_wr{margin: 0 0;}
.sellbuy-seller-displayseller .mp_profiles_container .social-media-wrapper{float:right; margin: 0 10px 0 0;}
.mp_profiles_container .social-media-wrapper a{display: block;float: left;width: 25px;height: 25px;margin: 0 0 0 4px;}
.mp_profiles_container .social-media-wrapper .linked-in{background-position:-70px -844px;}
.mp_profiles_container .social-media-wrapper .facebook{background-position:-70px -873px;}
.mp_profiles_container .social-media-wrapper .twitter{background-position:-70px -903px;}
.mp_profiles_container .social-media-wrapper .gplus{ background-position:-70px -933px; }
.mp_profiles_container .all_review_container_wr{margin: 13px 0 0;width: 60%;} 
.sellbuy-seller-displayseller .mp_profiles_desc{padding: 20px 0; margin-top: 0;}
.sellbuy-seller-displayseller .mp_profiles_desc p{ padding:0; }
.sellbuy-seller-displayseller .all-product-wrapper .no-rating{ display:none; }

/* ==========================================================================
   FEEDBACK RATINGS
   ========================================================================== */

.individual-star-ratings {width: auto;overflow: hidden; }
.individual-star-ratings{width: 100%; background: #eee;padding: 15px 0 10px 15px;border: 1px solid #cccccc;  box-sizing: border-box;}
.individual-star-ratings ul{padding:2px 3px 5px 0;float: left;}
.individual-star-ratings ul li{padding: 0 0 5px;}
.individual-star-ratings .rating-bars{float: left;width: 78px;background: #E0E0E0;height: 11px;margin: 2px 4px 0; }
.individual-star-ratings .rating-bars .progress{background: #EB5D51;height: 11px;}
.individual-star-ratings li span{float:left;font-size: 12px;}
.individual-star-ratings li strong{float: left; font: bold 11px Arial,sans-serif; color: rgb(158, 158, 158);}
.positive_review_ratings{float: left;width: 70px;}
.sidebar .positive_review_positive, .positive_review_negative, .positive_review_neutral{margin-top: 5px;border: 1px solid #848484;border-left: none;margin-left: 0;text-indent: 15px;width: 8px;  box-sizing: border-box; }
.sidebar .positive_review_positive, .positive_review_negative{height: 33px;line-height: 35px;}
.sidebar .positive_review_neutral{height: 26px;line-height: 26px;}
.sidebar .customer_review{float:right;width: 100%;padding: 0 0 10px;clear: both;  box-sizing: border-box; }
.sidebar .customer_review h6, .customer_review p{text-align: left; font-weight:normal; }



/* ============================================ *
 * All Product And Best Selling Products
 * ============================================ */

.sellbuy-seller-displayseller .all-product-wrapper{margin: 10px 0;clear: both;}
.sellbuy-seller-displayseller .all-product-wrapper .pdct_name{color: #333;font-size: 24px;font-weight: bold;padding: 20px 0; border: none;text-align: center; display:none; }
.sellbuy-seller-displayseller .all-product-wrapper .no-rating{margin: 0;padding: 0 9px 0;text-align: left;}
.all-product-wrapper .no-rating a{color: #333;}


/* ============================================ *
 * Best Selling Products slider
 * ============================================ */

.sellbuy-seller-displayseller .all-product-wrapper .pdct_name{ background:url("../images/category-title.png") repeat-x 0 center; }
/* .sellbuy-seller-displayseller .products-grid > .slider{ width:23%; position:relative; display:block; overflow:hidden; background:#fff;   -moz-box-shadow:0 2px 0 0 #ddd; -o-box-shadow:0 2px 0 0 #ddd; -webkit-box-shadow:0 2px 0 0 #ddd;  box-shadow:0 2px 0 0 #ddd; } */
/* .sellbuy-seller-displayseller .products-grid .slider:hover .actions .button, .best-sellers-new-products .products-grid .slider:hover .actions .add-to-links{ display:block; } */
/* .sellbuy-seller-displayseller .bx-wrapper{ max-width:100%; margin:0; } */
/* .sellbuy-seller-displayseller .bx-wrapper .bx-viewport{ height:300px; background:none; margin:0 auto; left:4.5px; width:1030px; }  */
/* .sellbuy-seller-displayseller .products-grid .slider{ width:230px; margin-right:25px; } */
/* .sellbuy-seller-displayseller .bx-wrapper .bx-prev{ left:0; } */
/* .sellbuy-seller-displayseller .bx-wrapper .bx-next{ right:0; } */
/* .sellbuy-seller-displayseller .product_image_div{ display:block; overflow:hidden; position:relative; } */
/* .sellbuy-seller-displayseller .new-label{ position:absolute; font-size:11px; background:#16C7F0; color:#fff; top:197px; left:11px; padding:1px 6px; font-weight:600; text-transform:uppercase;  -moz-border-radius:1.5px; -o-border-radius:1.5px; -webkit-border-radius:1.5px; border-radius:1.5px;} */
/* .sellbuy-seller-displayseller .sale-label{position:absolute; font-size:11px; background:#F37020; color:#fff; top:167px; left:11px; padding:1px 6px; font-weight:600; text-transform:uppercase;  -moz-border-radius:1.5px; -o-border-radius:1.5px; -webkit-border-radius:1.5px; border-radius:1.5px;} */
/* .sellbuy-seller-displayseller .products-grid .slider .actions{ top:197px; left:-8px; } */
/* .sellbuy-seller-displayseller .products-grid .actions .out-of-stock {  font-size: 11px;  left: 0;  top: 0;  right: auto;} */
/* .sellbuy-seller-displayseller .products-grid .last{margin-right: 0;} */



/* ============================================ *
 * Seller Dashboard
 * ============================================ */
.sellbuy-seller-dashboard .seller-today-sales{overflow: hidden;}
.sellbuy-seller-dashboard .seller-today-sales .cart_bg{background: #fff;padding: 20px 20px 15px; width: 48%;float: left;  box-sizing: border-box; }
.sellbuy-seller-dashboard .seller-today-sales .Order_bg{background: #fff;padding: 20px 20px 15px; width: 48%;float: right; box-sizing: border-box; }
.seller-today-sales .cart_bg i{width: 75px; height:70px;background-position: 10px -916px; background-color:#ccc; display: block; float: right; margin: 0 0 0; position: relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.seller-today-sales .Order_bg i{width: 75px; height: 70px;background-color:#ccc; background-position: 10px -986px;display: block; float: right; margin: 0 0 0; position: relative;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.seller-today-sales .Order_bg .left_wr, .cart_bg .left_wr{float: left; width: 70%; margin-left: 10px;}
.seller-today-sales .Order_bg strong, .cart_bg strong{font-size: 14px; font-weight: normal;color: #666; margin: 0;}
.seller-today-sales .Order_bg p, .cart_bg p{font-weight: normal; font-size: 25px;}
.sellbuy-seller-dashboard .seller-sales-income{overflow: hidden; margin: 15px 0;}
.sellbuy-seller-dashboard .my-account h3 {  background: #b3a487;  padding:6px 15px 6px;  margin: 0;  font-weight: normal;  font-size: 14px;  color: #fff;}
.sellbuy-seller-dashboard .my-account .content_wr{background: #fff;overflow: hidden; padding:15px 0; }
.seller-sales-income .content_wr ul{margin: 0; padding: 0;}
.sellbuy_total_income li{float: left; width: 33%; text-align: center; border-right: 1px solid #eee;  box-sizing: border-box; }
.sellbuy_total_income li:last-child{border-right: none;}
.sellbuy_total_income li p{font-size: 24px; font-weight:300;margin-bottom: 10px;}
.sellbuy_total_income li strong{color: #999; font-weight: normal; text-transform: uppercase;}
.sellbuy-seller-dashboard .seller-donut-chart{margin-bottom: 20px;}
.sellbuy-seller-dashboard .seller-donut-chart .text_wr{float:left;width: 40%; margin: 10px 0 0 30px;}
.seller-donut-chart .text_wr .sellbuy_order_colors{margin: 0; padding: 0;}
.sellbuy_order_colors li{list-style-type: none; margin: 0 0 15px;display: block; font-size:13px; }
.sellbuy_order_colors li span{display: block; float: left;min-width: 160px;}
.seller-donut-chart .sellbuy_order_colors .red-color{color: #ff3333;}
.seller-donut-chart .sellbuy_order_colors .green-color{color: #99cc66;}
.seller-donut-chart .sellbuy_order_colors .gray-color{color: #7d7d7d;}
.seller-donut-chart .sellbuy_order_colors .blue-color{color: #6699cc;}
.seller-donut-chart .sellbuy_order_colors .green1-color{color: #cccc33;}
.seller-donut-chart .sellbuy_order_colors .orange-color{color: #ff9900;}
.sellbuy-seller-dashboard .seller-donut-chart .chart_div {  float: right;  width: 50%;  position: relative;  right: 100px;  top: -30px;}
.sellbuy-seller-dashboard .seller-donut-chart .total-orders{position: absolute;margin:105px 0 0 455px;z-index: 999;font-size:24px;color: #9d9d9d;width: 100px;text-align: center;}

.sellbuy-seller-dashboard .seller-sales-chart {margin: 0 0 20px; position:relative; }
.sellbuy-seller-dashboard .mp_seller_sales_report_wr {  position: relative;  width: 53%;  float: right;  right: -10px;  top: -3px;}

.my-account .mp_seller_sales_report_wr .txtbox{width: 80px;font-size: 12px;padding: 0;height: 25px;color: #b7b7b7;text-align: center;  box-sizing: border-box; }
.my-account .mp_seller_sales_report_wr .select_filter{width: 92px;font-size: 12px;padding: 0;height: 25px;color: #b7b7b7;text-align: center;  box-sizing: border-box;}
.mp_seller_sales_report_wr button span {padding: 0; font-size: 12px;}
.my-account .mp_seller_sales_report_wr button{font-size: 12px;padding: 3.5px 7px;}

.sellbuy-seller-dashboard .orders-wr{margin: 0 0 20px}
.sellbuy-compareprice #indicator1{ margin:0; position:relative; top:-3px; }
.my_manage_products_table{ width:100%; overflow:auto; }
.customer-name-middlename{    display: block;overflow: hidden;}
.customer-name-middlename .field {    display: block; width: 100%;margin-top: 10px;}
.customer-account-edit .form-list .name-middlename input.input-text,.customer-account-edit input#firstname{width: 254px;}
.sellbuy-seller-displayseller .col-left.sidebar{    float: left;width: 25%; padding-left: 0; clear: left;}
.sellbuy-seller-displayseller .form-list li.wide textarea{    width: 95%;}
.sellbuy-seller-displayseller .form-list li.wide .input-box{width:100%;}
.sellbuy-seller-displayseller .col2-left-layout .col-main{width:74%;}
.sellbuy-seller-displayseller .mp_profiles_container .mp_profiles-info-wrapper .mp_profiles_logo{padding:10px 0;}
.sellbuy-seller-displayseller  .all-product-wrapper .product_snipt li:last-child{    border-left: none;}
.sellbuy-seller-displayseller  .all-product-wrapper .product_snipt li{    border-left: none;border-right:none;}
.sellbuy-seller-displayseller .form-list li input{border: 1px solid #e4e4e4;padding:5px;}
#loader-image{    text-align: center;}
#loader-image img{width:32px;height:auto;}

.profile-data {clear: both; display: block; float: left; margin-bottom: 4%; overflow: hidden;  width: 100%;}
 .linker_seller img.store-logo { border-radius: 50%; clear: both; display: block;  float: left; height: 100px; margin: 0 auto 15px; width: 100px;}
.linker_seller .profile-data strong { display: none;}
.link_seller {color: #333; display: block; font-family: "aleobold";font-size: 22px; margin-bottom: 10px; margin-left: 35%; margin-top: 4%;  text-align: left; text-transform: uppercase;    width: 100%;}
.linker_seller address {color: #3d948b;font-family: "arialregular"; font-size: 16px; margin: 3% 0 6% 35%; text-align: left; text-transform: uppercase;}
.sellbuy-seller-displayseller .all-product-wrapper .product_snipt li.item { border: none; width: 228px; margin: 0 16px 3px 0;}
.sellbuy-seller-displayseller  .products-grid .slider{border: none; width: 228px; margin: 0 16px 3px 0;float:left;}
.products-grid .price-box{display:table;clear:both;width:100%;}
.sellbuy-seller-displayseller .products-grid .price-box p{float:none;    margin-bottom: 0;}
.products-grid .add-to-links li a {display: block;position: relative; width: 22px; height: 22px; text-indent: -999px; overflow: hidden; color: #b3a487;}
.catalog-product-view  ul.seller-product { margin: 10% 0;}
.catalog-product-view ul.seller-product li { float: left; text-align: center; width: 42%; margin-right: 8%; margin-bottom: 5%;}
.catalog-product-view ul.seller-product li img { border: 1px solid #ccc;}
.catalog-product-view ul.seller-product .product-name { font-size: 14px;   color: #585858; margin-top: 5%;}
.catalog-product-view ul.seller-product .product-price { font-size: 14px;}
 .vacation_mode .form-list label{float:none;}
body.sellbuy-general-vacationmode  input[type="radio"]{margin:0 10px;}
td.item-product-img  a{display:block;width:100px;    border: 1px solid #ccc;}
td.item-product-img img{width:100%;}
body.checkout-cart-index .data-table tr td{vertical-align:middle;}
.mp_dashboard_container  table th.no-border-right{border-right:none !important;}
.seller-orders-viewed .page-title{    border: 1px solid #ccc;}
.mp_dashboard_container.data-table.mp_dashboard_container_viewed table{border-right: 1px solid #ccc;width: 99.9%;}
.sellbuy-seller-displayseller .products-grid .add-to-links li a{float:left;}
.sellbuy-seller-displayseller .add-to-links .separator{display:block;float: right;}
.sale-label.sale-left {    display: inline; margin: 0 5px 0 0;font-size: 15px;color: #f01c35;  text-transform: capitalize; font-style: italic;  font-family: Georgia, "Times New Roman", Times, serif;}
.new-label.new-right {     display: inline; margin: 0 5px 0 0; font-size: 15px; color: #b3a487;text-transform: capitalize; font-style: italic;  font-family: Georgia, "Times New Roman", Times, serif;}
.sellbuy-seller-displayseller .all-product-wrapper .product_snipt li.item .actions,.sellbuy-seller-displayseller .products-grid .slider .action{display:table;width:100%;    margin: 5px 0;}
.sellbuy-seller-displayseller .all-product-wrapper .product_snipt li.item .actions button.button,.sellbuy-seller-displayseller .products-grid .slider .actions button.button{float:right;margin-right:5px;}
.sellbuy-seller-displayseller .all-product-wrapper .pdct_name{display:block;background:none;font-size: 2.0em; color: #111; font-family: 'NovecentowideBookRegular';font-weight:normal;text-align:left;  margin: 0; padding: 10px 0;}