<?php
/**
* Apptha
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://www.apptha.com/LICENSE.txt
*
* ==============================================================
*                 MAGENTO EDITION USAGE NOTICE
* ==============================================================
* This package designed for Magento COMMUNITY edition
* Apptha does not guarantee correct work of this extension
* on any other Magento edition except Magento COMMUNITY edition.
* Apptha does not provide extension support in case of
* incorrect edition usage.
* ==============================================================
*
* @category    Apptha
* @package     Apptha_Banners
* @version     0.1.0
* @author      Apptha Team <developers@contus.in>
* @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
* @license     http://www.apptha.com/LICENSE.txt
*
*/


/*
<reference name="content">
  <block type="banners/view" name="apptha_banners.home" as="home">
    <action method="setSlideCode"><code>home</code></action>
  </block>
</reference>
 */
?>

<script type="text/javascript">
	(function() {

		var Popup = Class.create();
		Popup.prototype = 
		{
		  initialize: function(options)
		  {
		    this.options = {
		      url: '#',
		      width: 500,
		      height: 500
		    }
		    Object.extend(this.options, options || {});
		    window.open(this.options.url, '', 'width='+this.options.width+',height='+this.options.height);
		  }
		}

		
		var apptha_getCode = function(event){
			Event.stop(event);
			new Popup({url:event.target.href});
		}
		$$('.apptha_getCode a').each(function(element) {
		    element.observe('click', apptha_getCode);
		});
		
	})();
</script>
