<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */

    $active = Mage::getStoreConfig('sellbuy/admin_approval_seller_registration/displayproductpage');
    /**
     * check the admin approval seller registration display product page active status is equal to 1
     */
    if ($active == 1) { 
        /**
         * Get the product id
         * Get seller id
         * get Seller data
         * Get show profile status
         */
$productId = Mage::registry('current_product')->getEntityId();
        $sellerId      = Mage::registry('current_product')->getSellerId();
        $sellerData    = $this->sellerdisplay($sellerId);
        $showProfile   = $this->sellerprofiledisplay($sellerId);
        /**
         * check the show profile option has been in enabled
         * if so get the details like
         * target path
         * request path
         */
        if ($showProfile == 1) { 
            $targetPath = 'sellbuy/seller/displayseller/id/' . $sellerId;
            $mainUrlRewrite     = Mage::getModel('core/url_rewrite')->load($targetPath, 'target_path');
            $getRequestPath     = $mainUrlRewrite->getRequestPath();
            $getRequestPath    = Mage::getUrl($getRequestPath);
            ?>
             <div  class="display_link_seller"> 
             <div  class="linker_seller"> 
             <div class="profile-data">
             <img class="store-logo" src="<?php 
             if(!empty($sellerData['store_logo'])){
             echo Mage::getBaseUrl('media').'sellbuy/resized/'.$sellerData['store_logo'];
             }else{
             echo $this->getSkinUrl('images/no-image-thumbnail.png');
             }
             ?>" />
            <strong><?php echo $this->__('Seller'); ?></strong> 
            <a href='<?php echo $getRequestPath; ?>'
             class="link_seller"><?php echo $sellerData['store_title']; ?></a>
           <address><?php  $_countries = Mage::getResourceModel('directory/country_collection')->loadData()->toOptionArray(false); ?>
            <?php foreach ($_countries as $_country) {?>
            <?php if($sellerData['country'] == $_country['value']){?>
            <?php $sellerCountry = $_country['label'];?>
            <?php } ?>
            <?php } ?>
            <?php echo $sellerData['state'].','.$sellerCountry;?></address> 
            </div>
            <p class="description"><?php $description = strip_tags($sellerData['description']);
            $newLengthDescription = strlen( $description);
            $newSubDescription = substr($description, 0, 160);
            /**
             * check the Description length is greater than or equal to 160
             */
            if ($newLengthDescription >= 160) {
            $newDescriptionFix = $newSubDescription . "...";
            } else {
            $newDescriptionFix = $description;
            }
            echo $newDescriptionFix; ?>
            <a href="<?php echo $getRequestPath; ?>">
            <?php echo $this->__('Read More'); ?></a></p>
            <?php 
            /**
             * Get country state information
             */
            $country = str_replace(" ", "+",$sellerData->getCountry());
            $state = str_replace(" ", "+",$sellerData->getState());
            $url = 'http://maps.google.com/maps/api/geocode/json?address="'.$state.'"&sensor=false&region="'.$country.'"';
            $responseData = file_get_contents($url);
            $responseData = json_decode($responseData, true);
            /**
             * Initialising lat and long as empty
             */
            $lat = $long = '';
            /**
             * check the lat has been returned on request
             * if so assign the latitude value in variable
             */
            if(isset($responseData['results'][0]['geometry']['location']['lat'])){
            $lat = $responseData['results'][0]['geometry']['location']['lat'];
            }
            /**
             * check the longitude has been returned on request
             * if so assign the longitude value in variable
             */
            if(isset($responseData['results'][0]['geometry']['location']['lng'])){
            $long = $responseData['results'][0]['geometry']['location']['lng'];
            }
            /**
             * check the latitude is not empty
             * and longitude is not empty
             */
            if(!empty($lat) && !empty($long)){
            ?>
           <script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
    <script>
    var myCenter=new google.maps.LatLng(<?php echo $lat; ?>,
    <?php echo $long;?>);
    function initialize()
    {
    var mapProp = {
      center:myCenter,
      zoom:5,
      mapTypeId:google.maps.MapTypeId.ROADMAP
      };

    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

    var marker=new google.maps.Marker({
      position:myCenter,
      });

    marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);


    </script>
            <div id="googleMap"  style="height:150px"></div>
            
      <?php } 
      
      /**
       * Ends map functionality
       */
       ?>      
            
        <?php 
        /**
         * Get seller review information
         */
    $displaySeller  = Mage::getModel('sellbuy/sellerreview')->displayReview($sellerId);
    /**
     * intialising rating star values as empty
     */
    $firstStar     = $secondStar = $thirdStar = $fourthStar = $fifthStar = $advancedTotalVal = $ratingbar_color = 0;
    /**
     * ITERATING ALL RATINGS
     */ 
    $advancedTotalVal=0;
    foreach ($displaySeller as $individualStarVal) {
        $advancedTotalVal = $advancedTotalVal + 1;
        /**
         * check the individual star rating
         * if is equal to 1 increment the first star value by 1
         * if is equal to 2 increment the second star value by 1
         * if is equal to 3 increment the third star value by 1
         * if is equal to 4 increment the fourth star value by 1
         * if is equal to 5 increment the fifh star value by 1
         */
        if ($individualStarVal['rating'] == 1) {
            $firstStar = $firstStar + 1;
        } elseif ($individualStarVal['rating'] == 2) {
            $secondStar = $secondStar + 1;
        } elseif ($individualStarVal['rating'] == 3) {
            $thirdStar = $thirdStar + 1;
        } elseif ($individualStarVal['rating'] == 4) {
            $fourthStar = $fourthStar + 1;
        } else{
        if($individualStarVal['rating'] == 5) {
	    $fifthStar = $fifthStar + 1;
        }	
        }
    }
    
    /**
     *  CALCULATING INDIVIDUAL RATINGS 
     */  
    
    $advancedOne = $advancedTwo = $advancedThree = $advancedFour = $advancedFive = 0;
    
    if($advancedTotalVal >= 1){
    $advancedOne   = ($firstStar / $advancedTotalVal) * 100;
    $advancedTwo   = ($secondStar / $advancedTotalVal) * 100;
    $advancedThree = ($thirdStar / $advancedTotalVal) * 100;
    $advancedFour  = ($fourthStar / $advancedTotalVal) * 100;
    $advancedFive  = ($fifthStar / $advancedTotalVal) * 100;
    }
    /**
     * Calculate the postive feedback
     * and total ratings
     */
    $positiveFeedBack = ($advancedFour + $advancedFive)/2;
    $totalRatingsVal = $firstStar + $secondStar + $thirdStar + $fourthStar + $fifthStar;
    /**
     * Check the total ratings val is not equal to empty
     */
    if($totalRatingsVal != ''){
?>
<div class="feedback">
<?php echo round($positiveFeedBack,1); ?>
    <?php echo $this->__('% positive feedback. ('); ?>
    <?php echo number_format($totalRatingsVal).' '; ?> 
    <?php echo $this->__('ratings )'); ?>
</div>
<?php 
    }
    ?> 
<ul class="seller-product">
<?php  
$collections = Mage::getModel('catalog/product')->getCollection();
$collections->addAttributeToFilter('seller_id', $sellerId);
$collections->addFieldToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);
$collections->addFieldToFilter('entity_id',array('nin' => array(Mage::registry('current_product')->getEntityId())));

$collections->addAttributeToFilter(
'status',
array('eq' => Mage_Catalog_Model_Product_Status::STATUS_ENABLED)
);
$collections->getSelect()->order('rand()');
$collections->getSelect()->limit(6);

$i = 0;
foreach($collections as $collection):
$sku = $collection['sku'];
$_product = Mage::getModel('catalog/product')->loadByAttribute('sku',$sku);

$price = $_product->getPrice();
$newProductName = $_product->getName ();
$newLengthProductName = strlen ( $_product->getName () );
$newSubProductName = substr ( $newProductName, 0, 15 );
if ($newLengthProductName >= 15) {
$newProductNameFix = $newSubProductName . "...";
} else {
$newProductNameFix = $newProductName;
}

$image_file = $_product->getMediaGalleryImages();

?>
<?php 
/**
 * show seller product price information
 */
?>
<li><a href="<?php echo $_product->getProductUrl(); ?>">
 <img src="<?php echo $this->helper('catalog/image')->init($_product, 'image')->resize(138,138); ?>"
 alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'image'), null, true) ?>" />
 <div class="product-name"><?php echo $newProductNameFix; ?></div>
 </a> </li>

<?php  $i++; 
 if($i == 6):  ?>
<?php break;
endif;
 endforeach; ?>
 </ul>
 </div>
 </div>
<?php }
 } ?>
  

