<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */?>
 
<?php 
/**
 * get seller id
 */
$id = $this->getRequest()->getParam('id');
$currentDate = Mage::getModel('core/date')->date('Y-m-d');

/**
 * display product collection
 */
$sellerPage = Mage::getModel('sellbuy/sellerprofile')->collectprofile($id);
?>
  <div id="bestsellingproducts" class="bestsellingproducts">
  <?php $bestSellingCollection = $this->bestSellerCollection ($id);
$categoryCount = count ( $bestSellingCollection );
if ($categoryCount >= 1) { ?>
<h2 class="bsp_name"><span>
<span><?php echo $this->__('Best Selling');?></span> <?php
 echo $this->__('Products');?></span></h2>
<div class="products-grid <?php if($categoryCount>3){
    echo 'slider-carousel'; 
} 
else {
    echo 'no-slider'; 
} ?>">
<?php $increment = 1; 
 foreach ( $bestSellingCollection as $_bestSellingCollection ) {
                     $_compareUrl = Mage::helper('catalog/product_compare')->getAddUrl($_bestSellingCollection);
                  ?>

   
<div class="slider">

<div class="product_image_div">
                          <?php
/**
 * Display product image
 */
?>
 <a href="<?php echo $_bestSellingCollection->getProductUrl() ?>" title="<?php
  echo $this->escapeHtml($_bestSellingCollection->getName()) ?>" class="product-image">
                    <?php $_imgSize = 260; ?>
                    <img src="<?php echo $this->helper('catalog/image')->init($_bestSellingCollection, 'small_image')->resize($_imgSize); ?>" alt="<?php
                     echo $this->stripTags($this->getImageLabel($_bestSellingCollection, 'small_image'), null, true) ?>" />
</a>
<h3 class="product-name">
<a href="<?php echo $_bestSellingCollection->getProductUrl(); ?>">
                       <?php $prName = $_bestSellingCollection->getName ();
$lenPrName = strlen ( $_bestSellingCollection->getName () );
$subPrName = substr ( $prName, 0, 26 );
if ($lenPrName >= 26) {
$prNameFix = $subPrName . "...";
} else {
$prNameFix = $prName;
}
echo $prNameFix;?>
                    </a>
</h3>
<div class="products_gridview_page">
<div class="price-box">
<span class="regular-price"> 
<span class="price">
<?php
/**
 * Display Product Price
 */
$newPrice = $_bestSellingCollection->getPrice ();
$newSplPrice = $_bestSellingCollection->getSpecialPrice ();
$newDealExpireDate = $_bestSellingCollection->getspecial_to_date ();
if (! empty ( $newSplPrice ) && ($newDealExpireDate != '') && ($newDealExpireDate >= $currentDate)) {
echo Mage::helper ( 'core' )->currency ( $newSplPrice, true, false );
} else {
echo Mage::helper ( 'core' )->currency ( $newPrice, true, false );
}
?>
                                   </span>
                               </span>
</div>
</div>
<?php
/**
 * Display Add to cart, add to wishlist and compare
 */
?>
                            <div class="actions">
                            
<ul class="add-to-links">
<li>
<ahref="<?php echo $this->helper('wishlist')->getAddUrl($_bestSellingCollection) ?>"title="<?php
 echo $this->__('Add to Wishlist') ?>"class="link-wishlist <?php
   ?>">
<?php echo $this->__('Add to Wishlist') ?>
</a>
</li>
<li>
<span class="separator">|</span> 

<a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php
 echo $this->__('Add to Compare') ?>">

<?php echo $this->__('Add to Compare') ?>
</a>
</li>
</ul>               
                       <?php if($_bestSellingCollection->isSaleable()){ ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php
                         echo Mage::helper('checkout/cart')->getAddUrl($_bestSellingCollection); ?>')">
<span><span><?php echo $this->__('Add to Cart') ?></span></span>
</button>
                    <?php } else {?>
                        <p class="availability out-of-stock">
<span><?php echo $this->__('Out of stock') ?></span>
</p>
                    <?php } ?>
                    </div>                  
                    <?php
/**
 * Check product is set as new or not
 */
?>
                    <?php echo $this->helper('sellbuy/sellbuy')->getLabel($_bestSellingCollection);  ?>
                     </div>
                     </div>
                    
<?php $increment++; 
} ?>
</div>
<?php } ?>
</div>

<script type="text/javascript">
  $mp = jQuery.noConflict();
  $mp(document).ready(function(){
  $mp('.slider-carousel').bxSlider({
    slideWidth: 300,
    minSlides: 1,
    maxSlides: 4,
    moveSlides: 1,
    slideMargin: 10
  });
});
</script>