<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 */
?>
<div class="container">
<?php
/**
 * Tab Links
 */
$class = $_compareUrl = $currentDate = '';
?>
	<?php 
	/**
	 * Best seller products
	 */?>
	 
	 <div class="best-new-product-tab-content">
	<h2 class="title"><?php echo Mage::helper('sellbuy')->__('Trending Items'); ?></h2>
	<span class="icon-border">icon</span>
	     <h4 class="sub-title"><?php echo $this->__('Explore Shoppers top finds from around the sellbuy.') ?></h4>
		<div id="bestsellingproducts">
		
		 <?php  $bestSellingCollection = $this->bestSellerCollection ();
				  $categoryCount = count ( $bestSellingCollection );
				
				if ($categoryCount >= 1) { ?>					

				<div class="products-grid ">		
					<?php $increment = 1; 
					foreach ( $bestSellingCollection as $_bestSellingCollection ) { if($increment==4){break;}	?>
						<div class="sliders <?php if($increment==3) { echo 'last';} ?>">

							<div class="product_image_div">
	                          <?php
								/**
								 * Display product image
								 */
								?>
								 <a href="<?php echo $_bestSellingCollection->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_bestSellingCollection->getName()) ?>" class="product-image">
                    				<?php $_imgSize = 260; 
                    				
                    				
                    				 $res=$_bestSellingCollection->getId();
                    				
                    				
                    				?>
                    				<img src="<?php echo $this->helper('catalog/image')->init($_bestSellingCollection, 'thumbnail')->resize($_imgSize); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_bestSellingCollection, 'thumbnail'), null, true) ?>" />
									</a>
									<h3 class="product-name">
							<a href="<?php echo $_bestSellingCollection->getProductUrl(); ?>">
		                       <?php $prName = $_bestSellingCollection->getName ();
									$lenPrName = strlen ( $_bestSellingCollection->getName () );
									$subPrName = substr ( $prName, 0, 28 );
									if ($lenPrName >= 28) {
										$prNameFix = $subPrName . "...";
									} else {
										$prNameFix = $prName;
									}
									echo $prNameFix;?>
                    		</a>
						</h3>

					
							<div class="price-box">
								<span class="regular-price"> 
									<span class="price">
								<?php
									/**
									 * Display Product Price
									 */
						$newPrice = $_bestSellingCollection->getPrice ();
						$newSplPrice = $_bestSellingCollection->getSpecialPrice ();
						$newDealExpireDate = $_bestSellingCollection->getspecial_to_date ();
						if (! empty ( $newSplPrice ) && ($newDealExpireDate != '') && ($newDealExpireDate >= $currentDate)) {	
							echo Mage::helper ( 'core' )->currency ( $newSplPrice, true, false );
						} else {
							echo Mage::helper ( 'core' )->currency ( $newPrice, true, false );
						}
						?>
                                   </span>
                               </span>
							</div>
							<?php
						/**
						 * Display Add to cart, add to wishlist and compare
						 */
						?>
                            <div class="actions">
                            
							<ul class="add-to-links">
								<li>
									<a	href="<?php echo $this->helper('wishlist')->getAddUrl($_bestSellingCollection) ?>"	title="<?php echo $this->__('Add to Wishlist') ?>"	class="link-wishlist <?php echo $class; ?>">
										<?php echo $this->__('Add to Wishlist') ?>
									</a>
								</li>
								<li>
									<span class="separator">|</span> 

									<a href="<?php 
									echo Mage::helper('catalog/product_compare')->getAddUrl($_bestSellingCollection);
									?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>">

										<?php echo $this->__('Add to Compare') ?>
									</a>
								</li>
							</ul>               
                      			 <?php if($_bestSellingCollection->isSaleable()){ ?>
                        			<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($_bestSellingCollection) ?>')">
										<span><span><?php echo $this->__('Add to Cart') ?></span></span>
									</button>
                    			<?php } else {?>
                        			<p class="availability out-of-stock">
										<span><?php echo $this->__('Out of stock') ?></span>
									</p>
                    			<?php } ?>
                    		</div>
						
<?php 
$sellerId 	=  $_bestSellingCollection->getSellerId();
$productId	=  $_bestSellingCollection->getId();

//Collection for Product Count
$collections = Mage::getModel('catalog/product')->getCollection();
$collections->addAttributeToFilter('seller_id', $sellerId);
$collections->addAttributeToFilter('visibility', Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH);




$product = Mage::getModel('catalog/product')->load($res);
?><ul class="more-images">
<?php 
$img_count=1;
foreach ($product->getMediaGalleryImages() as $image) {
if($img_count==3){
break;
}
?>
<li><img src="<?php echo $this->helper('catalog/image')->init($_bestSellingCollection, 'small_image', $image->getFile())->resize(80); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_bestSellingCollection, 'small_image'), null, true) ?>" /></li>
<?php 
$img_count++;	
}

if(isset($sellerId)){
echo '<li class="count"><span>'.count($collections).'</span>Items</li>';
$sellerDataInstance    = new Apptha_Sellbuy_Block_Linkseller();
$sellerData    = $sellerDataInstance->sellerdisplay($sellerId);
?>
	</ul>				
					<div class="seller-pro">
					<img class="store-logo" src="<?php 
					if(!empty($sellerData['store_logo'])){
					echo Mage::getBaseUrl('media').'sellbuy/resized/'.$sellerData['store_logo'];
					}else{
					echo $this->getSkinUrl('images/no-image-thumbnail.png');
					}				
					?>" />					
	             	<div class="seller-descrip">
	             	<h3 class="store-tit"><?php  
	             	
	             	$newStoreTitle = strlen($sellerData['store_title']);
	             	$newStoreSubTitle = substr($sellerData['store_title'], 0, 22);
	             
	             	/**
	             	 * check the Description length is greater than or equal to 160
	             	*/
	             	if ($newStoreTitle >= 22) {
	             		$newStoreSubTitle = $newStoreSubTitle . "...";
	             	} else {
	             		$newStoreSubTitle = $sellerData['store_title'];
	             	}	             	
	             	echo $newStoreSubTitle;	             	
	             	?></h3>
	                <span class="all_review_container_wr"> 
                                <?php 
                                $reviewCountInstance = new Apptha_Sellbuy_Block_Seller_Profilepage_Displayseller();
                                $reviewCount = $reviewCountInstance->reviewCount($sellerId);?>
                                 <?php if($reviewCount>0){?>
                                <span class="all_reviews_details_wr"> 
                                    <p class="all_reviews_block">                                    
                                        <?php
                                        $ratingCollectionInstance = new Apptha_Sellbuy_Block_Seller_Profilepage_Displayseller();
                                        $ratingCollection = $ratingCollectionInstance->averageRatings($sellerId);
                                        ?>  
                                        <label class="all_review_rating" style="width:<?php echo round($ratingCollection,1) * 20; ?>%;"></label>                                                           
                                    </p>                                                                        
                                </span>
                                
                                 
                                <p class="rating_s"><?php echo round($ratingCollection,1);?><?php echo $this->__(' based on ');?><?php echo $reviewCount; ?><?php echo $this->__(' rating[s]');?></p> 
        						<?php } else {?>
        							
        					 <span class="all_reviews_details_wr"> 
                                    <p class="all_reviews_block"> 
                                     <label class="all_review_rating" style="width:0%;"></label>
                                        </p>                                                                        
                                </span>   
                                </span> 
								<?php } ?>
								</div>
								</div>
	
	<?php }  ?>	
						
						
					                  
                    	<?php
						/**
						 * Check product is set as new or not
						 */
						?>
                    <?php echo $this->helper('sellbuy/sellbuy')->getLabel($_bestSellingCollection);  ?>	
                     </div>	
                     </div>			
					<?php $increment++; } ?>								
				</div>	

				
				<?php } 
				else {			
					echo $this->__("No bestselling product[s] available to show");
				}?>
			</div>
	
			
		<div id="newproducts">
	     <h2 class="title"><?php echo Mage::helper('sellbuy')->__('Recommended for you'); ?></h2>
	     <span class="icon-border">icon</span>
	     <h4 class="sub-title"><?php echo $this->__('Shop for items based on what your have viewed.') ?></h4>
					<?php $newProducts = $this->getNewproduct ();
					$newCount = count ( $newProducts );
					if ($newCount >= 1) {?>

					<div class="products-grid ">
					<?php $increment =1; 
						foreach ( $newProducts as $new ) {	if($increment==9){break;}	?>
						
                             <div class="slider <?php if($increment==4 || $increment==8) { echo 'last';} ?>"> 					

							<?php	$newproduct = $this->helper ( 'catalog/image' )->init ( $new, 'small_image' )->constrainOnly ( TRUE )->keepAspectRatio ( FALSE )->keepFrame ( FALSE )->resize ( 226, 226 );?>  
                            <?php
							/**
							 * Display New Products of this seller
							 */
							?>    
							

                        <div class="product_image_div">
						<a href="<?php echo $new->getProductUrl() ?>" title="<?php echo $this->escapeHtml($new->getName()) ?>" class="product-image">
                    				<?php $_imgSize = 260; ?>
                    				<img src="<?php echo $this->helper('catalog/image')->init($new, 'small_image')->resize($_imgSize); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($new, 'small_image'), null, true) ?>" />
								</a>

						
						<div class="product-info">
							<h2 class="product-name">
								<a href="<?php echo $new->getProductUrl(); ?>">
                                            <?php
							$newProductName = $new->getName ();
							$newLengthProductName = strlen ( $new->getName () );
							$newSubProductName = substr ( $newProductName, 0, 32 );
							if ($newLengthProductName >= 32) {
								$newProductNameFix = $newSubProductName . "...";
							} else {
								$newProductNameFix = $newProductName;
							}
							echo $newProductNameFix;
							?>
                                  </a>
							</h2>
					<?php
                    $productId = $new->getId();
                    $collections = Mage::getModel('catalog/product')->load($productId);
                    $sellerId = $collections->getSellerId();
                    $sellerDataInstance = new Apptha_Sellbuy_Block_Linkseller();
                    $sellerData    = $sellerDataInstance->sellerdisplay($sellerId);  ?>
                    <h3><?php echo $sellerData['store_title']; ?></h3>
                    
							<div class="price-box">
								<span class="regular-price"> <span class="price">

                                                <?php
							/**
							 * Display Product Price
							 */
							$newPrice = $new->getPrice ();
							$newSplPrice = $new->getSpecialPrice ();
							$newDealExpireDate = $new->getspecial_to_date ();
							if (! empty ( $newSplPrice ) && ($newDealExpireDate != '') && ($newDealExpireDate >= $currentDate)) {
								
								echo Mage::helper ( 'core' )->currency ( $newSplPrice, true, false );
							} else {
								echo Mage::helper ( 'core' )->currency ( $newPrice, true, false );
							}
							?>
                                            </span></span>
							</div>


                                </div>                           
                                
                                <div class="actions">
						<ul class="add-to-links">
							<li><a
								href="<?php echo $this->helper('wishlist')->getAddUrl($new) ?>"
								title="<?php echo $this->__('Add to Wishlist') ?>"
								class="link-wishlist <?php echo $class; ?>"><?php echo $this->__('Add to Wishlist') ?></a></li>
							<li><span class="separator">|</span> <a
								href="<?php echo Mage::helper('catalog/product_compare')->getAddUrl($new);  ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a></li>

						</ul>
                       <?php if($new->isSaleable()): ?>
                        <button type="button"
							title="<?php echo $this->__('Add to Cart') ?>"
							class="button btn-cart"
							onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($new) ?>')">
							<span><span><?php echo $this->__('Add to Cart') ?></span></span>
						</button>
                    <?php else: ?>
                        <p class="availability out-of-stock">
							<span><?php echo $this->__('Out of stock') ?></span>
						</p>
                    <?php endif; ?>
                    </div>
                                
					</div>
								<?php
							/**
							 * Display Add to cart, add to wishlist and compare
							 */
							?>
                             
                    
                    <?php
							/**
							 * Check product is set as new or not
							 */
							?>
                    <?php echo $this->helper('sellbuy/sellbuy')->getLabel($new);  ?>						
                           	</div>   
                        <?php $increment++; } ?>
             </div>
          <?php } 
          else {
			
				echo $this->__("No new product[s] available to show");
				}?> 
</div>
	</div>
</div> 
