<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
?>

<form action="<?php echo $this->getAdminMailActionUrll(); ?>" id="sellbuyContactForm" method="post">
    <div class="fieldset">
        <h2 class="legend"><?php echo Mage::helper('sellbuy')->__('Contact Information') ?></h2>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="subject" class="required"><em>*</em><?php echo Mage::helper('sellbuy')->__('Subject') ?></label>
                    <div class="input-box">
                        <input name="subject" id="subject" title="<?php echo Mage::helper('sellbuy')->__('Subject') ?>" value="" class="input-text required-entry" type="text" />
                    </div>
                </div>

            </li> 
            <li class="wide">
                <label for="message" class="required"><em>*</em><?php echo Mage::helper('sellbuy')->__('Message') ?></label>
                <div class="input-box">
                    <textarea name="message" id="message" title="<?php echo Mage::helper('sellbuy')->__('Message') ?>" class="required-entry input-text" cols="5" rows="3"></textarea>
                </div>
            </li>
        </ul>
    </div>
    <div class="buttons-set">
        <p class="required"><?php echo Mage::helper('sellbuy')->__('* Required Fields') ?></p> 
        <button type="submit" title="<?php echo Mage::helper('sellbuy')->__('Submit') ?>" class="button">
        <span><span><?php echo Mage::helper('sellbuy')->__('Submit') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
    //<![CDATA[
    var sellbuyContactForm = new VarienForm('sellbuyContactForm', true);
    //]]>
</script>