<html>
	<body>
				<div id="update_admin" class="input-box" >
				<?php $orderId = $this->getRequest()->getParam('orderid'); $sku = $this->getRequest()->getParam('sku');?>
	             	<?php $url= Mage::helper('sellbuy/sellbuy')->updateAdmin($orderId,$sku,$message);?>
	        			
	        			<form  action="" name="update_admin" id="update_admin" method="post" >
	        				<ul class="form-list popup">
	        					<li>Message<em>*</em><li>
	        					<li><textarea name="update" id="update"  class="required-entry input-text" required></textarea></li>
	        					<li><input type="submit" class="send_mail" name="submit" value="Send" onclick="setILocation('<?php echo $url; ?>')" ></li>
								<li><div id="popup-loading" >
							    	<img src=<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/milano/images/ajax-loader.gif'?> style="width: 24px; height: 24px" />
							    </div></li>
							</ul>
						</form>
					</div>	
		</body>			
			<script type="text/javascript">
			window.onload = function () {
			     document.getElementById("popup-loading").style.display = "none";
			};
			function setILocation(url){					
				var update = document.getElementById("update").value; 
				    if(update==""){
				    	document.getElementById('popup-loading').style.display = 'none';
						document.update_admin.update.focus() ;
						return false;
					}else{
		   				 document.getElementById('popup-loading').style.display = 'block'; 
	   				}      				
					window.parent.location.href = url+'update/'+update; 
					Windows.close('update_admin');
			}   
    		</script>
</html> 