/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     1.2.3
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */


.clear{clear:both; height:0; font-size:0; }
.clearfix:after{ clear:both;  display:block;  content:"";  height:0;  visibility:hidden}
.clearfix{ display:inline-block}

* html .clearfix{ height:1%}
.clearfix{ display:block}
li.clearfix{ display:list-item}

.logo-onepage{ background: transparent url(images/onestepcheckout.png) no-repeat scroll 100% 0;width:528px;height:48px;margin:0 auto;}
.onepage-page-title{margin:16px 0 17px 5px;overflow: hidden;width: 100%;}
#scroll .page-title h1{ color:#b3a487; }
.login-reg{width:100%;border-bottom: 2px solid #4e4e4e;margin:10px 0 10px 0;font-weight:bold;}
.onepage li{list-style: none; display: inline-block;}
/*.onepage li.fields{ float: left; width: 262px;}*/

.onepage .form-list .input-box { width:auto;}
#co-form .input-box{width:auto;}
#co-form #shipping-new-address-form .input-box{ margin:0; }
#column-1,#column-2,#column-3{width:31%;float:left; padding:0 8px 0 0;margin: 0 10px 0 0; background: transparent url(images/line-gradient.gif) no-repeat scroll 100% 0;  box-sizing: border-box; }
#column-3{margin: 0; background: none; padding:0; width:34%;  box-sizing: border-box;}
#column-2{ margin-right: 14px; }

.onepage .page-title{border:none !important; margin-bottom: 10px;}
.onepage .form-list{width: 100%;padding:0;  box-sizing: border-box; }


.billing-bg {width:31px;height:41px;background: transparent url(images/1.png) no-repeat scroll 100% 0;display:block;float:left;margin-right:5px; }
.shipping-method-bg {width:31px;height:41px;background: transparent url(images/2.png) no-repeat scroll 100% 0;display:block;float:left;margin-right:5px; }
.payment-bg {width:31px;height:41px;background: transparent url(images/3.png) no-repeat scroll 100% 0;display:block;float:left;margin-right:5px; }
.review-bg {width:31px;height:41px;background: transparent url(images/tick-icon.png) no-repeat scroll 100% 0;display:block;float:left;margin-right:5px; }
.shipment-methods { padding-left:10px; }
.shipment-methods label{ color: #333;}
.shipment-methods label strong{ font-weight:normal; }
.ship-address{ float: left !important;}
.address-checkbox { float: left !important; margin-top: 2px; }

.gift-messages {padding-left: 9px; margin: 12px 0 0;}
.guest-reg{padding:0 0 5px 3px;display:block;color: #E87403;font-weight: normal;}
#checkout-payment-method-load {padding-left: 7px;}
#checkout-review-load {padding:0 0 10px 0; }
#billing-new-address-form{margin: 0; padding-top:10px; }
#billing-new-address-form .billing-address-container{ width: 268px;}
.col-1 .control {float:left;padding:0 10px 0 0;}
#onepage-shipping_method dd {font-weight:normal; color: #666; font-size:14px; }
#onepage-shipping_method dd{ margin:0; color:#b3a487; }
#onepage-shipping_method dt {  margin-bottom: 10px;}
#onepage-shipping .form-list select{ width:85%; font-size:13px; }
.gift-messages h3{ font-size:14px; color:#3D948B;}
.shipment-methods dd {margin-bottom: 5px;}

.product-total {border-top:1px solid #ccc;border-bottom: 1px solid #ccc;}
.col-1 .control label {padding:0 0 0 5px;}

#advice-required-entry-ccsave_expiration{width:100px !important;}
.fields.cust_name .validation-advice{width:auto;}
.name-lastname label {margin: 0;}

#checkout-review-load table.onestepcheckout-summary {display:table;}
#checkout-review-load table.onestepcheckout-summary tr th { border-bottom: 1px solid #ccc; font-weight:normal !important; }
#onepage-login{padding: 0 0 20px 0;}
#onepage-billing{padding: 0 0 0 0;}
#onepage-billing .customer-name .input-box input.input-text{float:left;padding: 2px 2px;border-image: initial;}
#onepage-billing .wide .input-box input.input-text{width:220px;}
#onepage-billing  .wide .input-box .address-select{width:220px;}
#onepage-billing  .wide label{width:220px;}

#onepage-shipping{padding: 0 0 20px 0;}
#onepage-shipping .wide .input-box input.input-text{width:220px;}

#onepage-shipping .wide .input-box .address-select{width:220px;}
#onepage-shipping .wide label{width:220px;}

#onepage-shipping_method{padding: 0 0 20px 0;}
#onepage-payment{padding: 0 0 20px 0;}
#onepage-review{padding: 0 0 20px 0;}

#checkout-review-table tr td strong{ font-weight:normal; }
.shipment-methods .shipping_info{margin:10px 0; font-size:14px; color:#b3a487;}
.onestepcheckout-shippinginfo{width: 96%; }
.onestepcheckout-shippinginfo tr{ border-bottom:1px solid #ccc; }
.onestepcheckout-shippinginfo thead tr th{border-bottom:  1px solid #ccc;padding: 0 3% 5px;font-weight: normal;}
.onestepcheckout-shippinginfo tbody tr td{padding: 0 3% 5px;}
.onestepcheckout-shippinginfo tbody .rate-right {text-align: right;}
.onestepcheckout-shippinginfo tbody .rate-center {text-align: center;}
#bg_fade{background-color: #555;height:100%;left: 0;margin: 0;padding: 0;position: fixed;top: 0;bottom:0;width: 100%;z-index: 1000;  box-sizing: border-box; }
#bg_fade a{display: inline-block; width: 100%; height: 100%; cursor: default;}
#onepage-review table.onestepcheckout-summary th.name, th.qty, th.total{width:75px; font-weight: normal; color: #333;}
#onepage-review table.onestepcheckout-summary thead{border-bottom:  1px solid #ccc;}
#onepage-review table.onestepcheckout-summary tr.items td{ border-bottom: 1px solid #ccc; padding: 5px 0;}
#onepage-review table.onestepcheckout-summary tr.items td{width:75px;}
#onepage-review table.onestepcheckout-totals tr td{width:90px;}
#onepage-review table.onestepcheckout-totals tr td{border-bottom: 1px solid #ccc; padding: 5px 0;}
#onepage-checkout-shipping-method-additional-load .input-box input{width:176px;}
#onepage-checkout-shipping-method-additional-load .input-box textarea{width:176px;}
.agree label{padding-left: 5px;}
.page-title h1{color:#333;text-align: left; font-size: 22px; line-height: 30px;}

div.loading-ajax, div.please-wait-loading{ background-image: url(images/ajax-loader.gif); }

div.loading-ajax { height: 50px;text-align: center; background-repeat: no-repeat;background-position: center center;}

div.please-wait-loading {height:40px;text-align: center; background-repeat: no-repeat;background-position: 50% 0; margin:5% 0;}
.load-wait{color:#E87403;}
div.wait{height:80px;float:right;}
button.btn-class{padding: 10px;background-color:#FF5C00;float:left;}

/* login-popup design */
a.close{float:right;}
#gift-form{background:#fff;padding:10px;border:2px solid #828282;min-height:160px;width: 290px;border-radius:7px; height: auto;  box-sizing: border-box; }
.clear{clear: both;}
.onestepcheckout-error{color:red;font-weight: normal;}
button.login-btn{background-color: #66A094;padding: 5px;font-weight: bold;color:#fff;border:none;}
/*.buttons-set{border:none; margin:0px;padding:0px;float:right;}*/
.button-set {border: none;margin: 0;}
/* login-popup design */
.input-box .v-fix #ccsave_expiration{width:152px;}
.onestepcheckout-summary .total  {text-align: right !important}
.onestepcheckout-totals .product-total .value .price{float:right !important}
.grand-total .value .price{float:right !important}
#checkout-review-table-wrapper tr{border-bottom:1px solid #ccc;}
#checkout-review-table-wrapper tr th{padding:2% 0;}
#checkout-review-table tr td{border-bottom:1px solid #ccc;padding: 5px 2px 5px 2px; color: #333;}
#checkout-review-table .cart-price .price{width: 100%;text-align: right;display: block;}
#checkout-review-table tr td .product-name{ color: #333; padding-right: 5px; font-size:12px; }
#checkout-review-table tr td.grandtotal{ color: #333;}
caption, th, td{font-weight:normal;}
.onestepcheckout-coupons{margin: 0 0 10px 0; overflow: hidden;}
.onestepcheckout-coupons label {  font-weight: normal !important;  font-size: 14px;  text-transform: uppercase;  margin-top: 10px;  color: #3D948B;}
.gift-messages-form {  padding: 0 3%;}
.onestepcheckout-coupons button.button{float: left;}
.onestepcheckout-coupons button.button#coupon_remove{margin-right: 10px;}
.sp-methods select.month{width:152px;}


/*user name,password same line design*/
.form-list .field{margin-right: 0;width: auto;}
#billing-new-address-form .field{ margin:0; }
.form-list .field select{width: 260px; }
.form-list .fields.shipping_countrey .field select{width: 254px; }
/*.form-list .fields.address{width: 254px; }*/
.form-list .fields.address input.input-text{margin-bottom: 10px;}
.fields.shipping_countrey {clear: both;}
.form-list .dob{width:100% !important;}
.form-list .dob input{width:50px;}
#onepage-billing .form-list input.input-text{width:120px; padding: 3px 2px;  box-sizing: border-box; }
#onepage-billing .form-list .fields input.input-text{width: 254px; font-size:13px; }
#onepage-billing .form-list select {padding: 2px 2px; width: auto; box-sizing: border-box; }
/* First name - Last name */
.onepage .form-list .customer-name .name-firstname{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name .name-lastname{float:left;padding-left: 6px; width:120px !important; margin: 0; box-sizing: border-box; }
.onepage .form-list .customer-name .name-lastname .input-text{width:120px !important; }

/* Prefix - First name - Last name */
.onepage .form-list .customer-name-prefix .name-prefix{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix .name-prefix .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix .name-firstname{float:left;padding-left: 6px; width:120px !important; margin: 0; box-sizing: border-box; }
.onepage .form-list .customer-name-prefix .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix .name-lastname{float:left; width:262px !important; margin: 0; padding-top: 8px}
.onepage .form-list .customer-name-prefix .name-lastname .input-text{width:255px !important; }


/* Prefix - First name - Last name - Suffix */
.onepage .form-list .customer-name-prefix-suffix .name-prefix{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-suffix .name-prefix .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-suffix .name-firstname{float:left;padding-left: 6px; width:120px !important; margin: 0; box-sizing: border-box; }
.onepage .form-list .customer-name-prefix-suffix .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-suffix .name-lastname{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-suffix .name-lastname .input-text{width:255px !important; }
.onepage .form-list .customer-name-prefix-suffix .name-lastname{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-suffix .name-lastname .input-text{width:255px !important; }

/* First name - Middle Name - Last name */
.onepage .form-list .customer-name-middlename .name-firstname{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-middlename .name-firstname .input-text{width:115px !important; }
.onepage .form-list .customer-name-middlename .name-middlename{float:left;margin-right: 0; width:120px !important; margin-left: 4px;}
.onepage .form-list .customer-name-middlename .name-middlename .input-text{width:120px !important; }
.onepage .form-list .customer-name-middlename .name-lastname{float:left;padding-top: 8px; width:262px !important; margin: 0;}
.onepage .form-list .customer-name-middlename .name-lastname .input-text{width:255px !important; }

/* Prefix - First name - Middle Name - Last name */
.onepage .form-list .customer-name-prefix-middlename .name-prefix{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-middlename .name-prefix .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename .name-firstname{float:left;padding-left: 6px; width:120px !important; margin: 0; box-sizing: border-box; }
.onepage .form-list .customer-name-prefix-middlename .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename .name-middlename{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-middlename .name-middlename .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename .name-lastname{float:left;padding-left: 6px; width:120px !important; margin: 0; box-sizing: border-box; }
.onepage .form-list .customer-name-prefix-middlename .name-lastname .input-text{width:120px !important; }

/* Prefix - First name - Middle Name - Last name-Suffix */
.onepage .form-list .customer-name-prefix-middlename-suffix .name-prefix{float:left;margin-right: 8px; width:120px !important;}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-prefix .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-firstname{float:left;padding-left: 6px; width:120px !important; margin: 0; box-sizing: border-box; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-firstname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-middlename{float:left;margin-right: 8px; width:120px !important; padding-top: 8px;}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-middlename .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-lastname{float:left;padding-left: 6px; width:120px !important; margin: 0; padding-top: 8px; box-sizing: border-box; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-lastname .input-text{width:120px !important; }
.onepage .form-list .customer-name-prefix-middlename-suffix .name-suffix{float:left;padding-top: 8px; width:262px !important; margin: 0;}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-suffix .input-text{width:255px !important; }
#register-customer-password{padding-right: 9px;}
#register-customer-password,#register-customer-confirmpassword{float:left;width:125px;}

.form-list input.city-input{width: 253px!important;}
.form-list select.country-input{width: 253px!important;}
.form-list #register-customer-newsletter .field{ width: 250px !important;}

/*Checkout box css*/
.fieldsbilling{float:left;width:134px;}
.field-set{padding:0 0 0 8px;line-height: 20px;}
.form-list .customer-dob .dob-day, .form-list .customer-dob .dob-month{width:86px;}
.form-list .customer-dob .dob-year { width:90px !important; }
/*#billing:month {width: 80px;}*/
.dob-month input{width: 50px;}
.checkout-agreements .agreement-content {overflow: auto;padding: 10px;color: #555;}
.agree-check{ float: left; margin-top: 3px;}


.form-list .customer-dob .dob-day input.input-text, .form-list .customer-dob .dob-month input.input-text{width: 60px !important;}
.form-list .customer-dob .dob-year input.input-text {width: 80px!important;}

/*.form-list .input-city-field{ width: 255px;}*/
.form-list .input-city-field .input-box{ width: 255px !important;}
.form-list input.input-city{ width: 255px !important;}
.form-list .input-country-field { width: 262px;}
.form-list .input-country-field select{ width: 260px !important;}

.form-list .input-company-field{ width: 262px;}
.form-list .input-company-field .input-company{ width: 255px !important;}
.form-list .input-city-field-ship{ width: 255px;}
.form-list .input-city-field-ship .input-box{ width: 255px !important;}
.form-list input.input-city-ship{ width: 255px !important;}
.form-list .input-country-field-ship { width: 262px;}
.form-list .input-country-field-ship select{ width: 260px !important;}

.onestepcheckout-comments {margin: 0 0 10px 0;font-weight: bold;}
.onestepcheckout-comments textarea {margin-top: 2px;width: 100%;}
.onestepcheckout-toc-terms {margin-left: 5px;margin-right:0;margin-top: 0 !important;overflow: auto;padding-right: 10px; text-align:justify;}
.onestepcheckout-terms-popup {  background: #fff;  padding: 10px;  border: 0 solid #828282;  border-radius: 0;  width: 500px;  overflow: auto;  height: 300px; box-sizing: border-box; }
p.close{float:right;}
.onestepcheckout-enable-terms{ padding-bottom:10px; margin: 0 0 10px 0; position:relative; }
.onestepcheckout-enable-terms input{ position:relative; top:0;  }
.gift-messages input{ position:relative; top:2px; } 
.gift-messages-form input{position:relative; top:2px; }
#onepage-shipping_method input{ position:relative; top:4px; }
#onepage-shipping_method .shipment-methods input{ position:relative; top:0px; }
.onestepcheckout-index-index input[type="radio"]{margin:0;}
#terms-condition .close{ background:none; }
.onestepcheckout-summary .item-options{ font-size:12px; }

.onestepcheckout-summary,.onestepcheckout-totals {border-collapse: collapse;}
table.onestepcheckout-summary {width: 100%;}
table.onestepcheckout-summary td.name {width: 55%;}
table.onestepcheckout-summary td.qty,table.onestepcheckout-summary th.qty{width: 10%;text-align: center;}
table.onestepcheckout-summary td.total,table.onestepcheckout-summary th.total{width: 32%;text-align: right;}
table.onestepcheckout-totals {width: 100%;margin-bottom: 20px;}
table.onestepcheckout-totals tr.grand-total td {font-weight: bold;}
table.onestepcheckout-totals td.value {width: 35%;text-align: right;}
table.onestepcheckout-totals tr.grand-total td {font-weight: bold;}
table.onestepcheckout-totals td.title {width: 65%;text-align: right;}
table.onestepcheckout-totals td.value {width: 35%;text-align: right;}

.onepage li.dob-field { width: 262px; clear: both;}
.onepage li.dob-field .field{ clear: both; width: 262px; float: none;}

.onepage li.gender-2column { width: 125px;float: left;}
.onepage li.gender-2column .input-text{ clear: both; width: 120px; float: none;}

.onepage li.tax-2column { width: 125px; float: left; padding-left: 9px; box-sizing: border-box; }
.onepage li.tax-2column .input-text{ clear: both; width: 120px; float: none;}

.onepage li.tax-1column { width: 262px;}
.onepage li.tax-1column .input-text{width: 255px !important;}

.onepage li.gender-1column { width: 262px;}
.onepage li.gender-1column select{width: 255px !important;}

.gift-messages-form .item .details .form-list .field { width: 196px; }

#shipping-new-address-form .shipping-company{ width: 262px;}
.form-list #shipping-new-address-form .field{ margin:0; }
#shipping-new-address-form label.address{ margin-top:10px; }
#shipping-new-address-form .shipping-company .input-box .input-text{width: 255px !important;}
#shipping-new-address-form .shipping-address-field{ width: 262px;}
#shipping-new-address-form .shipping-address-field .input-box .input-text{ width: 255px !important; }
#shipping-new-address-form .wide{ width: 262px;}
#shipping-new-address-form .wide .input-box .input-text{ width: 255px !important; }
/*#shipping-new-address-form .shipping-city-field { width: 262px;}*/
#shipping-new-address-form .shipping-city-field .input-box .input-text{ width: 254px; }
#shipping-new-address-form input.input-text{padding: 2px 3px  }
#shipping:same_as_billing{margin-top:0;}

.cart .page-title{clear:both !important;}

.onestepcheckout-enable-terms label{ padding-top: 3px; }
.onestepcheckout-enable-terms em{ color:#EB340A }
#onepage-billing #billing-address-select{width: 260px !important; font-size:13px;  }

.fields.newsletter-lable input[type="checkbox"]{float: left;margin:5px 5px 0 0;}
#register-customer-newsletter{clear: both;}
.onestepcheckout-coupons input.input-text{ margin-bottom: 5px;}
.onestepcheckout-coupons #couponcode{width: 300px; font-size:13px; }
.onestepcheckout-coupons #coupon_err_msg{color: #df280a;}
#terms-condition{display:none;position: fixed;z-index: 99999;}

.onestepcheckout-feedback{padding: 5px 0;}
.onestepcheckout-feedback label{ margin-bottom:5px; }
.onestepcheckout-feedback-freetext{padding: 10px 0;}
#id_feedback_freetext{width:100%;}
#id_feedback_freetext_div label{font-weight: bold;}
#iframe-warning{text-align:left;}
#onepage-review,#onepage-billing,#onepage-shipping_method,#onepage-payment{width: 100%;}
#scroll {width:960px;margin:0 auto;}
.form-list #billing-new-address-form .fields .customer-name .name-firstname label,.form-list #shipping-new-address-form .fields .customer-name .name-firstname label{margin-bottom:0px;}
.form-list #shipping-new-address-form .fields .customer-name .name-lastname {margin-left: 6px;}
#gift-form .onestepcheckout-popup-wrapper #onestepcheckout-login-popup-contents-login .close img{display:none}
#ajax-payment-methods .sp-methods dt input,#onepage-shipping_method #ajax-shipping-method dl dt input{vertical-align:top}

@media screen and (min-width : 886px) and (max-width : 980px) {
    #column-1{clear: both; width: 290px;}
    #column-2{  width: 280px;background: none;}
    #column-3{clear: both; width: 90%;background: none;}
}

@media screen and (min-width : 460px) and (max-width : 885px) {
    #column-1{clear: both; width: 290px;background: none;}
    #column-2{  width: 290px;background: none;}
    #column-3{clear: both; width: 90%;background: none;}
    .onestepcheckout-terms-popup {width: 420px;}
    #terms-condition{top:10px; left: 20% !important; z-index: 99999;}
    .onestepcheckout-terms-popup {width: 280px;}
}
@media screen and (min-width : 270px) and (max-width : 580px) {
    #column-3{clear: both; width: auto;}
    #terms-condition{left: 7% !important; }
    .onestepcheckout-terms-popup {width: 280px;}
}

@media screen and (max-width: 459px) {
    #column-1{clear: both; margin: 0 auto; width: auto;background: none;}
    #column-2{clear: both; margin: 0 auto; width: auto;background: none;}
    #column-3{clear: both; margin: 0 auto; width: auto;background: none;}
    .onestepcheckout-terms-popup {width: 250px;}

}
