<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
?>
<?php
Mage::helper ( 'sellbuy' )->checkSellbuyKey ();
?>
<div class="header-language-background">
	<div class="header-language-container">
		<div class="store-language-container">
            <?php //echo $this->getChildHtml('store_language')?>
        </div>

        <?php //echo $this->getChildHtml('currency_switcher')?>
        
        <!-- Account -->
		<?php
		if (! Mage::helper ( 'sellbuy' )->checkSellbuyKey ()) {
			$loginId = Mage::getSingleton ( 'customer/session' )->isLoggedIn ();
			$groupId = Mage::getSingleton ( 'customer/session' )->getCustomerGroupId ();
			$getGroupId = Mage::helper ( 'sellbuy' )->getGroupId ();
			$customer = Mage::getSingleton ( "customer/session" )->getCustomer ();
			$customer_status = $customer->getCustomerstatus ();
			$fb_page = Mage::getStoreConfig ( 'sellbuy/sellbuy/facebook_page' );
			$twitter_page = Mage::getStoreConfig ( 'sellbuy/sellbuy/twitter_page' );
			?>

        <?php } ?>
		
	</div>
</div>
<header id="header" class="page-header">
	<div class="page-header-container">
		<a class="logo" href="<?php echo $this->getUrl('') ?>"> <img
			src="<?php echo $this->getLogoSrc() ?>"
			alt="<?php echo $this->getLogoAlt() ?>" class="large" /> <img
			src="<?php echo $this->getLogoSrcSmall() ?>"
			alt="<?php echo $this->getLogoAlt() ?>" class="small" />
		</a>

        <?php 
/**
 * In order for the language switcher to display next to logo on smaller viewports, it will be moved here.
 */
/**
 * See app.js for details	
 */							?>
        <div class="store-language-container"></div>

		<!-- Skip Links -->

		<div class="skip-links">
			<a href="#header-nav" class="skip-link skip-nav"> <span class="icon"></span>
				<span class="label"><?php echo $this->__('Menu'); ?></span>
			</a> <a href="#header-search" class="skip-link skip-search"> <span
				class="icon"></span> <span class="label"><?php echo $this->__('Search'); ?></span>
			</a> <a href="#header-account" class="skip-link skip-account"> <span
				class="icon"></span> <span class="label"><?php echo $this->__('Account'); ?></span>
			</a>

			<!-- Cart -->

			<div class="header-minicart" id="header-minicart">
                <?php echo $this->getChildHtml('minicart_head'); ?>
            </div>


		</div>

		<!-- Search -->

		<div id="header-search" class="skip-content">
            <?php echo $this->getChildHtml('topSearch')?>
        </div>
		
		<!-- Browse Category Functionality -->
		
		<div class="browse-function" id="home-page-browse-function">
	        <?php 
			    $_categories = Mage::getModel('catalog/category')->getCollection()
			    ->addAttributeToSelect('*')
			    ->addAttributeToFilter('level', 2)
			    ->addAttributeToFilter('is_active', 1);
			?> 
	       <div id="menu_toggle"><span><?php echo Mage::helper('sellbuy')->__('Browse'); ?></span><span class="icon"></span></div>
		    <ul class="categorymenu select" id="browse_select_option" style="display: none;">  
			    <?php foreach($_categories as $_category): ?>
					<li><a href="<?php echo $_category->getUrl($_category); ?>">
						<?php echo $_category->getName(); ?>
					</a></li>	
			  	<?php endforeach; ?>
		    </ul>
		 
		</div>
			
		<div class="header-account">
		<?php
		 if($loginId){	?>
		<?php  echo $this->getChildHtml('topLinks'); ?>
			
          <?php } else{ ?>
				
								<ul>
		                               <?php  $sociallogin = Mage::getStoreConfig ( 'sociallogin/general/enable_sociallogin' ); 
		                               		if($sociallogin){ ?>
		                                <li class="register">
		                                	 <a onclick="registerClicks();" href="javascript:apptha_sociallogin();" title="<?php echo $this->__('Register'); ?>"><?php echo $this->__('Register'); ?></a></li><?php } else {?>
		                                <li class="register">
		                                	 <a href="<?php echo Mage::getUrl('customer/account/create');  ?>" title="<?php echo $this->__('Register'); ?>"><span><?php echo $this->__('Register'); ?></span></a></li> <?php } if($sociallogin){ ?>
		                                <li class="login"> 
		                                	 <a href="javascript:apptha_sociallogin();" title="<?php echo $this->__('Log In'); ?>"><?php echo $this->__('Log In'); ?></a></li> <?php } else {?>
		                                <li class="login">
		                                 	 <a href="<?php echo Mage::getUrl('customer/account/login');  ?>" title="<?php echo $this->__('Log In'); ?>"><span><?php echo $this->__('Log In'); ?></span></a></li> <?php } ?>
	                        	</ul>
				
          <?php  } ?>
            
        </div>

		<!-- Account -->

		<div id="header-account" class="skip-content">
            <?php echo $this->getChildHtml('topLinks')?>
        </div>

		<!-- Cart -->

		<!-- <div id="header-cart" class="skip-content">
            <div class="mini-cart">
                <div class="menu-wrapper">
                    <div class="menu cart-menu">
                        <div class="empty">Your cart is empty.</div>
                    </div>
                </div>
            </div>
        </div> -->
	</div>
</header>
<!-- Navigation -->

<div id="header-nav" class="skip-content">
	<?php echo $this->getChildHtml('topMenu')?>
</div>

<?php echo $this->getChildHtml('topContainer'); ?>

<script type="text/javascript">

jQuery(document).ready(function() {
	var ll = jQuery( window ).width();
	if(ll == 320 || ll == 1000)
	{
		jQuery("#mp_top_nav li.mp_engage_tab").click(function() {
			jQuery("#mp_top_nav li.mp_engage_tab ul").toggle()
			});
		jQuery("#mp_top_nav li.mp_sellers").click(function() {
			jQuery("#mp_top_nav li.mp_sellers ul").toggle()
			});
		jQuery("#mp_top_nav li.mp_sellers_tab").click(function() {
			jQuery("#mp_top_nav li.mp_sellers_tab ul").toggle()
			});
	}

// 	jQuery("#menu_toggle").click(function(){
// 		jQuery('.categorymenu').slideToggle("fast");
// 	});
});
</script>

<script type="text/javascript">
    function registerClicks()
    {       
         document.getElementById('register_click').click();
    }

    jQuery('html').click(function() {
    	jQuery('#browse_select_option').hide();
     })

     jQuery('#home-page-browse-function').click(function(e){
         e.stopPropagation();
     });

    jQuery('#menu_toggle').click(function(e) {
    jQuery('#browse_select_option').slideToggle("fast");
     });


</script> 