<?php 
/**
 * Apptha
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://www.apptha.com/LICENSE.txt
*
* ==============================================================
*                 MAGENTO EDITION USAGE NOTICE
* ==============================================================
* This package designed for Magento COMMUNITY edition
* Apptha does not guarantee correct work of this extension
* on any other Magento edition except Magento COMMUNITY edition.
* Apptha does not provide extension support in case of
* incorrect edition usage.
* ==============================================================
*
* @category    Apptha
* @package     Apptha_Sellbuy
* @version     0.1.0
* @author      Apptha Team <developers@contus.in>
* @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
* @license     http://www.apptha.com/LICENSE.txt
*
*/

/**
 *  Get the default setting for grid or list mode
 */
$productListMode = Mage::getStoreConfig('catalog/frontend/list_mode');
if ($productListMode == 'grid-list'){
	$productListMode = 'grid';
} elseif ($productListMode == 'list-grid'){
	$productListMode = 'list';
}
/**
 * Check if this setting is overwritten by the user
 */
if ($this->getRequest()->getParam('mode')) {
	if($this->getRequest()->getParam('mode') == 'grid'){
		$productListMode = 'grid';
	} else {
		$productListMode = 'list';
	}
}
?>
 
<script type="text/javascript">
<!--
//var jQuery.noconflict();
jQuery.ias({
	container : '.category-products',
	<?php if ($productListMode == 'grid'){ ?>
	item: '.products-grid',
	<?php } else { ?>
	item: '.products-list',
	<?php } ?>
	pagination: '.toolbar .pager',
	next: '.next',
	loader: '<img src="<?php echo($this->getSkinUrl('images/opc-ajax-loader.gif')); ?>" /> <?php echo __('Loading more products, please be patient...'); ?>'
});-->
</script>

