<!--@subject Congratulations! You are now a registered Seller of {{var logo_alt}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{var cname}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Welcome to {{var logo_alt}}! </p>
                             <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Hurrah! Your registration is successful!</p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">To get started just click <a href="{{store url="sellbuy/seller/login/"}}" style="color:#1E7EC8;">Login</a> or <a href="{{store url="sellbuy/seller/login/"}}" style="color:#1E7EC8;">My Account</a> at the top of home page by entering your relevant e-mail id and password.</p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">After logging in to your account, you will be able to access and add/update the following:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Add/Edit Profile Information</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Add/Manage Products</li>                               
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">If you have any queries related to your account or issues during log in, get in touch with us either via <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or give us a call to talk directly with our experts through {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again.</p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>