<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */


$products = $this->getProductCollection();
$coreHelper = $this->helper('core');
$class = '';
 if (count($products) > 0){ ?>
 <h2 class="subtitle"><?php echo $this->__('Deals') ?></h2>

<div class="products-grid <?php if(count($products)>4){ echo 'slider-carousel-deal'; } else { echo 'no-slider'; } ?>">	
    <?php $i = 1;  
    foreach ($products as $item){ ?>
                <div class="slider <?php if($i==4) { echo 'last';} ?>"> 
                    <?php
                    $originalPrice = $item->getPrice(); 
                    $discountPrice = $item->getSpecialPrice(); 
                    $savings = $originalPrice - $discountPrice; 
                    $savingsPercentage = round(($savings / $originalPrice) * 100, 0);
                    for ($increment = 0; $increment < 1; $increment++) { ?>                       
                          <div class="product_image_div">
                          <?php 
                          /**
                           * Display product image
                           */
                          ?>
                            <a class="product-image" href="<?php echo $item->getProductUrl() ?>" >
                               <?php $_imgSize = 260; ?>
                    				<img src="<?php echo $this->helper('catalog/image')->init($item, 'small_image')->resize($_imgSize); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($item, 'small_image'), null, true) ?>" />
                            </a>
                             <h3 class="product-name">
                		<a href="<?php echo $item->getProductUrl(); ?>">
	                       <?php
	                       $prName = $item->getName();
	                       $lenPrName = strlen($item->getName());
	                       $subPrName = substr($prName, 0, 26);
	                       	if ($lenPrName >= 26) {
	                           $prNameFix = $subPrName . "...";
	                        } else {
	                           $prNameFix = $prName;
	                        }
	                           echo $prNameFix;
	                        ?>
                    	</a>
                </h3>
                <?php 
                    /**
                     * Display of price details
                     */
                    ?>
                            <div class="product-details">
                            
                            <?php if($item->getPrice() > $item->getSpecialPrice()){ ?>
                                
                                <span class="original_price"> 
                                    <?php echo $coreHelper->currency($item->getPrice(), true, false); ?>
                                </span> 
                                <span class="offer_price"> 
                                    <?php echo $coreHelper->currency($item->getSpecialPrice(), true, false); ?>
                                </span>                                
                                <span class="discount_label">
                                     <?php echo $this->__('Discount: ') ?> 
                                </span> 
                                <span class="discount_price" <?php echo $this->getIdSuffix() ?>>
                                      <?php echo $savingsPercentage, '%';?>
                                </span>
                                
                                <?php }else{ ?>
                                <span> 
                                    <?php echo $coreHelper->currency($item->getPrice(), true, false); ?>
                                </span> 
                                <?php } ?>
                            </div>
                            <?php 
                            /**
                             * Display Add to cart, add to wishlist and compare
                             */
                            ?>  <div class="actions">
                	<ul class="add-to-links">
                              <li><a href="<?php echo $this->helper('wishlist')->getAddUrl($item) ?>" title="<?php echo $this->__('Add to Wishlist') ?>" class="link-wishlist <?php echo $class; ?>"><?php echo $this->__('Add to Wishlist') ?></a></li>
                            <li><span class="separator">|</span> <a href="<?php 
                            $_compareUrl = Mage::helper('catalog/product_compare')->getAddUrl($item);
                            echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><?php echo $this->__('Add to Compare') ?></a></li>
                        </ul>
                       <?php if($item->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo Mage::helper('checkout/cart')->getAddUrl($item) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    </div>
                    <?php 
                    /**
                     * Check product is set as new or not
                     */
                    ?>
                    <?php echo $this->helper('sellbuy/sellbuy')->getLabel($item);  ?>
                </div>
                    <?php } ?>
                     </div>
                    <?php $i++; } ?>
                    
     
            <script>
                decorateList('best-sidebar', 'none-recursive');
            </script>               
            </div>
 <?php } ?>
  <script type="text/javascript">
$mp = jQuery.noConflict();
$mp(document).ready(function(){
$mp('.slider-carousel-deal').bxSlider({
//infiniteLoop: false,
//hideControlOnEnd:true,
minSlides: 3,
maxSlides: 4,
slideWidth: 300,
slideMargin: 10
});

});
</script>