<?php if($this->getCanShowMap()): ?>
  <?php $collection = $this->getCollection(); ?>  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.3&key=<?php echo $this->getGoogleApiKey(); ?>"></script>
    <div id="map" class="<?php echo $this->getElementClass(); ?>"></div>
    <script type="text/javascript">
	  var map;
	  markers = [
		<?php foreach ($collection as $_product): ?>
		  <?php if($_product->getLatitude() && $_product->getLongitude()):?>
			[
			"<?php echo $this->__(str_replace("'","\'",$_product->getData('name'))); ?>",
			 <?php echo $_product->getLatitude() ?>,
			 <?php echo $_product->getLongitude() ?>			  
			],
		  <?php endif; ?>	
		<?php endforeach; ?>
	  ]      
      function detectBrowser() {
        var useragent = navigator.userAgent;
        var mapdiv = document.getElementById("map");
      
        if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
          mapdiv.style.width = '100%';
          mapdiv.style.height = '100%';
        } else {
          mapdiv.style.width = '100%';
          mapdiv.style.height = '200px';
        }
      }	
      function initialize() {
		var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
		  mapTypeId: 'roadmap',
		  tilt: 45,
        };
        map = new google.maps.Map(document.getElementById("map"),mapOptions);
		var infoWindow = new google.maps.InfoWindow(), marker, i;
		for( i = 0; i < markers.length; i++ ) {
		  var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
		  bounds.extend(position);
		  marker = new google.maps.Marker({
			position: position,
			map: map,
			content: markers[i][0]
		  });
		  
		  google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
			  infoWindow.setContent(markers[i][0]);
			  infoWindow.open(map, marker);
			}
		  })(marker, i));
		  map.fitBounds(bounds);
		}							
      }
      google.maps.event.addDomListener(window, 'load', detectBrowser);
      google.maps.event.addDomListener(window, 'load', initialize);	 
    </script>
<?php endif; ?>