<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
?>

<label for="<?php echo $this->getFieldId('gender')?>"<?php
 if ($this->isRequired()){
      echo ' class="required"'; 
}
?>><?php
  echo $this->__('Genero') ?><?php
   if ($this->isRequired()){
        echo '<em>*</em>'; 
}
?></label>
<div class="input-box">
    <select id="<?php echo $this->getFieldId('gender')?>" name="<?php
     echo $this->getFieldName('gender')?>" title="<?php
      echo $this->__('Genero') ?>"<?php
       if ($this->isRequired()):?> class="validate-select"<?php endif; ?> <?php
        echo $this->getFieldParams() ?>>
        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute('gender')->getSource()->getAllOptions();?>
        <?php $value = $this->getGender();?>
        <?php foreach ($options as $option):?>
            <option value="<?php echo $option['value'] ?>"<?php
             if ($option['value'] == $value){ 
                 echo ' selected="selected"'; 
}
?>><?php
              echo $option['label'] ?></option>
        <?php endforeach;?>
    </select>
</div>
