<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */
?>

<label for="<?php echo $this->getFieldId('taxvat')?>"<?php
 if ($this->isRequired()){
      echo ' class="required"'; 
}
?>><?php
  if ($this->isRequired()){
       echo '<em>*</em>';
       } 
       ?><?php
   echo $this->__('Tax/VAT number') ?></label>
<div class="input-box">
    <input type="text" id="<?php echo $this->getFieldId('taxvat')?>" name="<?php
     echo $this->getFieldName('taxvat')?>" value="<?php
      echo $this->escapeHtml($this->getTaxvat()) ?>" title="<?php
       echo $this->__('Tax/VAT number') ?>" class="input-text <?php
        echo $this->helper('customer/address')->getAttributeValidationClass('taxvat') ?>" <?php
         echo $this->getFieldParams() ?> />
</div>
