<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
  * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_MageShop
 * @version     1.1
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 */
/**
 * Home page template
 */
?>
<?php 
/**
 * Quick link block
 */
?>
<div class="quick-links"><?php echo $this->getLayout()->createBlock('sellbuy/homepageblocks')->setTemplate('homepageblocks/quickview.phtml')->toHtml(); ?></div>
<?php 
/**
 * Banner Slider
 */
?>
<?php echo $this->_getChildHtml('home'); ?>
<?php 
/**
 * Category add links
 */
?>
<div class="category-ads"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('apptha_category_ads')->toHtml() ?></div>
<?php 
/**
 * Deal of the day block
 */
?>
<div class="deal-products"><?php echo $this->getLayout()->createBlock('sellbuy/homepageblocks')->setTemplate('homepageblocks/dealoftheday.phtml')->toHtml(); ?></div>
<?php 
/**
 * Site-policy
 */
?>
<div class="site-policy"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('apptha_company_site_policy')->toHtml() ?></div>
<?php 
/**
 * Selected categories sub category link block
 */
?>
<div class="fashion-block"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('apptha_fashion_block')->toHtml() ?></div>
<?php 
/**
 * Sub category listing
 */
?>
<?php 
/**
 * Seller logo
 */
?>
<div class="seller-block-logo"><?php echo $this->getLayout()->createBlock('sellbuy/topseller')->setTemplate('sellbuy/topseller.phtml')->toHtml() ?></div>

<?php 
/**
 * Best Sellers and Latest products block
 */
?>
<div class="best-sellers-new-products"><?php echo $this->getLayout()->createBlock('sellbuy/homepageblocks')->setTemplate('homepageblocks/bestandnew.phtml')->toHtml(); ?></div>
<?php 
/**
 * Browse the favourite
 */
?>
<div class="browse-the-favourite">
<h1 class="title"><?php echo $this->__('What items do your favorite brands and bloggers love?') ?></h1>
<div class="browse-button"><a href="<?php echo Mage::getBaseUrl().'sellbuy/seller/allseller/';?>"><?php echo $this->__('Browse there Favorite') ?></a></div>
</div>

<?php 
$model = Mage::getModel ( 'customer/customer' )->getCollection ()->addAttributeToFilter ( 'customerstatus', 1 );
$id = array ();
if ($model->getSize () > 0) {
	foreach ( $model as $_model ) {
		$id [] = $_model ['entity_id'];
	}
$bestSellingCollection = Mage::getModel ( 'sellbuy/sellerprofile' )->topSellers( $id );
if(count($bestSellingCollection) > 0){
?> 
<div class="homepage-seller-banner">
<?php 
$increment = 0;
foreach ( $bestSellingCollection as $_bestSellingCollection ) { if($increment==1){break;}
	$sellerId 	=  $_bestSellingCollection->getSellerId();
	$target_path = 'sellbuy/seller/displayseller/id/' . $sellerId;
	$mainUrlRewrite = Mage::getModel ( 'core/url_rewrite' )->load ( $target_path, 'target_path' );
	$getRequestPath = $mainUrlRewrite->getRequestPath ();
	$get_requestPath = Mage::getUrl ( $getRequestPath );

	$sellerDataInstance    = new Apptha_Sellbuy_Block_Linkseller();
	$sellerData    = $sellerDataInstance->sellerdisplay($sellerId);  	
	
	$sellerDescription = $sellerData['description'];
	$sellerDescriptionLen = strlen ( $sellerData['description']);
	$subPrName = substr ( $sellerDescription, 0, 260 );
	if ($sellerDescriptionLen >= 260) {
		$sellerDescriptionFix = $subPrName . "...";
	} else {
		$sellerDescriptionFix = $sellerDescription;
	}
	
	
	?>
	<div class="seller-profile">
		<div class="seller-profile-inner">
			<img class="store-logo" src="<?php 
			if(!empty($sellerData['store_logo'])){
			echo Mage::getBaseUrl('media').'sellbuy/resized/'.$sellerData['store_logo'];
			}else{
			echo $this->getSkinUrl('images/no-image-thumbnail.png');	
			} ?>" />
			<p><?php echo $sellerDescriptionFix; ?></p>
			<a href="<?php echo $get_requestPath; ?>" title="<?php echo $sellerData['store_title']; ?>"> <span>- <?php echo $sellerData['store_title']; ?></span></a>
		</div>
	</div>
	
	<img class="store-banner" src="<?php echo Mage::getBaseUrl('media').'sellbuy/resized/'.$sellerData['store_banner'];?>" />
	
	<?php
	
	$increment++; } 

?>
</div> 
<?php }} ?>