<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 */

/**
 * Product view template
 *
 * @see Mage_Catalog_Block_Product_View
 * @see Mage_Review_Block_Product_View
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">

    <div class="product-essential">
      
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
                <input type="hidden" name="related_product" id="related-products-field" value="" />
            </div>

            <div class="product-img-box">
                <div class="product-name">
                    <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
                </div>
                <?php echo $this->getChildHtml('media') ?>
            </div>

  <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post" id="product_addtocart_form"<?php if($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <div class="product-shop">
                <div class="product-name">
                    <span class="h1"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></span>
                </div>
              <?php echo $this->getReviewsSummaryHtml($_product, 'default', true)?>
              <div class="clear"></div>
              <div class="product-info-wr"> 
                <div class="price-info">
                  <?php if ($_product->getShortDescription()):?>
                    <div class="short-description">
                       <?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?>
                    </div>
                <?php endif;?>
                <?php echo $this->getChildHtml('sellbuy_customer'); ?>
                 <?php echo $this->getChildHtml('product_type_availability'); ?>
                 	
                    <?php echo $this->getPriceHtml($_product); ?>
                    <?php echo $this->getChildHtml('bundle_prices') ?>
                    <?php echo $this->getTierPriceHtml() ?>

<?php 
/**
 * Starts super deals timer
 */
?>                    
<?php
/* Count for timer calculation declared here */

if (!Mage::registry('timer_count')) :
    $count = 1;
    Mage::register('timer_count', $count);
else:
    $count = Mage::registry('timer_count');
    $count = $count + 1;
    Mage::unregister('timer_count');
    Mage::register('timer_count', $count);
endif;

$_helper = $this->helper('catalog/output');
/* Admin Controllers for timer are declared here */
$dealsEnable   =  Mage::helper('core/data')->isModuleEnabled('Apptha_Superdeals');
$dealsEnabled  =  intval($dealsEnable);
$advanceOption =  Mage::getStoreConfig('advanced/modules_disable_output/Apptha_Superdeals');
$advanceOption =  intval($advanceOption);
$STORE_CONFIG_DEALS_ENABLED = Mage::getStoreConfig('superdeals/superdeals_group/deals_enable');
$STORE_CONFIG_CUSTOM_COLOR_ENABLED = Mage::getStoreConfig('superdeals/timer/custom_color_enable');
$STORE_CONFIG_TIMER_ENABLED = Mage::getStoreConfig('superdeals/timer/show_timer');
$timer_active = Mage::getStoreConfig('superdeals/timer/show_timer');
$timer_color = Mage::getStoreConfig('superdeals/timer/text');
$timer_background = Mage::getStoreConfig('superdeals/timer/background_color');
$caption_color = Mage::getStoreConfig('superdeals/timer/caption_color');
$heading_color = Mage::getStoreConfig('superdeals/timer/heading_text_color');

$save_dis_lable_color = Mage::getStoreConfig('superdeals/timer/save_dis_lable_color');
$save_dis_price_color = Mage::getStoreConfig('superdeals/timer/save_dis_price_color');
$save_dis_font_size = Mage::getStoreConfig('superdeals/timer/save_dis_font_size');
$save_cat_time_font_size = Mage::getStoreConfig('superdeals/timer/save_cat_time_font_size');
$save_view_time_font_size = Mage::getStoreConfig('superdeals/timer/save_view_time_font_size');

$timer_head = Mage::getStoreConfig('superdeals/timer/timer_head');
$toDate = $_product->getSpecialTODate();
$now = Mage::getModel('core/date')->timestamp(time());
$now = date('Y-m-d' . ' 00:00:00', $now);
?>
<?php if(($STORE_CONFIG_CUSTOM_COLOR_ENABLED == 1)&& ( $dealsEnabled == 1)&& ( $advanceOption == 0)){?>
<style type="text/css">  
 	/* design for Category page */          
    .deal-price-box .price-label {color: #<?php echo $save_dis_lable_color ?>; }
    .deal-price-box .price {color: #<?php echo $save_dis_price_color ?>; }                      
    .dealtimer_listpage .dealtimer_listpage_timer span, .dealtimer_listpage .dealtimer_listpage_timer{ color: #<?php echo $timer_color ?>; font-size:<?php echo $save_cat_time_font_size ?>px; }
    
    /* design for Detail page */
    .dealtimer_detailpage .dealtimer_detailpage_offerlabel{ color: #<?php echo $heading_color ?>; font-weight: bold; font-size: <?php echo $save_view_time_font_size ?>px; } 
    .detail-deal-page-box .price-label {color: #<?php echo $save_dis_lable_color ?>; font-size: <?php echo $save_dis_font_size ?>px; }
    .detail-deal-page-box .price{color: #<?php echo $save_dis_price_color ?>; font-size: <?php echo $save_dis_font_size ?>px; }
   	.app_deal_time_container app_offer_head{color: #<?php echo $heading_color ?>;} 
   	.dealtimer_detailpage .dealtimer_detailpage_timer span, .dealtimer_detailpage .dealtimer_detailpage_timer{color: #<?php echo $timer_color ?>; font-size: <?php echo $save_view_time_font_size ?>px;}
</style>
<?php } ?>


                <?php
                /**
                 *  Display the saving amount here
                 */            
                
                if ($_product->getPrice() > $_product->getSpecialPrice() && $dealsEnabled == 1 && $_product->getSpecialPrice() != ''){
                $savingsDollarValue = ($_product->getPrice() - $_product->getFinalPrice());
                $originalPrice = $_product->getPrice(); //get orginal price
                $discountPrice = $_product->getFinalPrice(); //get the discount amount
                $savings = $originalPrice - $discountPrice; //get the saving amount from orginal price - discount price
                $savingsPercentage = round(($savings / $originalPrice) * 100, 0); //get discount Percentage
                $productType = $_product->getTypeId();
                $coreHelper = $this->helper('core');
                ?>               
                
                <?php if (($_product->getPrice()) > ($_product->getSpecialPrice()) && $productType != 'bundle'){ ?>            
                <div class="clear saving_options"> 
                    <?php if($savingsDollarValue > 0){ ?>                                      
	                <span> <?php echo $this->__('Save').':'; //here i change the special price name  ?>
	                <span><b><?php echo $coreHelper->currency($savingsDollarValue, true, false); ?></b>
	                </span> </span>                 
	                <?php } ?>                            
	                 <?php if($savingsPercentage > 0){ ?>         
	                <span><?php echo $this->__('Discount').':'; ?> </span>
	                <span><b><?php echo $savingsPercentage, '%'; //display discount amount ?></b>
	                </span>  
	                <?php } ?>                                      
                </div>
                <?php }} ?>

       <!--timer starts-->
      <?php if ((($_product->getPrice() > $_product->getSpecialPrice())) && ($STORE_CONFIG_DEALS_ENABLED == 1) && ($STORE_CONFIG_TIMER_ENABLED == 1) && ( $dealsEnabled == 1)&& ( $advanceOption == 0)): ?>
            <?php if (!empty($toDate) && $toDate >= $now) : ?>
                <?php if ($_product->getSpecialPrice() != 0 || $_product->getSpecialPrice() != "") : ?>
                    <?php if (Mage::registry('product')) : ?>
                        <div class="dealtimer_detailpage">
                            <div id="heading<?php echo $count; ?>" class="dealtimer_detailpage_offerlabel">
                                <?php echo $timer_head ?>
                            </div>
                            <div id="countbox<?php echo $count; ?>" class="dealtimer_detailpage_timer"></div>
                        </div>
                    <?php endif; ?>
                    <?php endif; ?><!-- first if ends here -->
                    <?php elseif ($_product->getSpecialPrice() != 0 && empty($toDate)): ?>
                    <?php if (Mage::registry('product')) : ?>
                        <div class="dealtimer_detailpage">                                             
                            <div class="dealtimer_detailpage_timer">
                                <?php echo $this->__('On Sale!'); ?>
                            </div>
                        </div>
                     <?php endif; ?>
                     <?php else : echo '';
                endif; ?>
                
                
            <script type="text/javascript">
                var dthen<?php echo $count; ?> = new Date("<?php echo Date("m/d/y", strtotime($toDate)) . ' 11:59:00 PM'; ?>");
                start = "<?php echo Date("m/d/y h:i:s A", strtotime(Mage::app()->getLocale()->date(null, null, "en_US", true))); ?>";
                start_date = Date.parse(start);
                var dnow<?php echo $count; ?> = new Date(start_date);
                if(CountStepper>0)
                    ddiff= new Date((dnow<?php echo $count; ?>)-(dthen<?php echo $count; ?>));
                else
                    ddiff = new Date((dthen<?php echo $count; ?>)-(dnow<?php echo $count; ?>));
                gsecs<?php echo $count; ?> = Math.floor(ddiff.valueOf()/1000);
                var iid<?php echo $count; ?> = "countbox<?php echo $count; ?>";
                CountBack(gsecs<?php echo $count; ?>,iid<?php echo $count; ?>, <?php echo $count; ?>);
                j++;
            </script>
            <?php $count = $count + 1; ?> 
        <?php endif; ?>
        <!--Timer Ends-->
  <?php 
/**
 * Ends super deals timer
 */
?>                  
                    
                    
                </div>
                <?php echo $this->getChildHtml('alert_urls') ?>        


                <?php echo $this->getChildHtml('other');?>

			 <div class="product-options-block">
	                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
	                    <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
	                <?php endif;?>
	                <?php if ($_product->isSaleable() && $this->hasOptions()):?>
	                	<?php echo $this->getChildChildHtml('container2', '', true, true) ?>
	            	<?php endif;?>
				</div>
	
				   <div class="add-to-cart-wrapper">
                <?php //echo $this->getChildHtml('product_type_data') ?>
               

                <?php if (!$this->hasOptions()):?>
                    <div class="add-to-box">
                        <?php if($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                            <?php if( $this->helper('wishlist')->isAllow() || $_compareUrl=$this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                <span class="or"><?php echo $this->__('OR') ?></span>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php echo $this->getChildHtml('addto') ?>
                        <?php echo $this->getChildHtml('sharing') ?>
                    </div>
                    <?php echo $this->getChildHtml('extra_buttons') ?>
                <?php elseif (!$_product->isSaleable()): ?>
                    <div class="add-to-box">
                        <?php echo $this->getChildHtml('addto') ?>
                        <?php echo $this->getChildHtml('sharing') ?>
                    </div>
                <?php endif; ?>
            </div>  
		
				</div>
		
                    </form>
            </div>
	
       		
            <div class="clearer"></div>
            

        <?php echo $this->getChildHtml('sellbuy_compareprice'); ?>
    </div>
    


    <div class="related-tabs">
    	
	    <div class="product-collateral toggle-content tabs">
	        <?php if ($detailedInfoGroup = $this->getChildGroup('detailed_info', 'getChildHtml')):?>
	            <dl id="collateral-tabs" class="collateral-tabs">
	                <?php foreach ($detailedInfoGroup as $alias => $html):?>
	                    <dt class="tab"><span><?php echo $this->escapeHtml($this->getChildData($alias, 'title')) ?></span></dt>
	                    <dd class="tab-container">
	                        <div class="tab-content"><?php echo $html ?></div>
	                    </dd>
	                <?php endforeach;?>
	            </dl>
	        <?php endif; ?>
	    </div>
	    <div class="extra-info">
        	<?php echo $this->getChildHtml('extrahint') ?>                                 
        </div>
	</div>

    <?php echo $this->getChildHtml('upsell_products') ?>
    <?php echo $this->getChildHtml('product_additional_data') ?>

</div>


        <script type="text/javascript">
        //<![CDATA[

        	var productAddToCartForm = new VarienForm('product_addtocart_form');

            productAddToCartForm.submit = function(button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                       form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function(button, url){
                if(this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);




        //]]>
        </script>
