<?php
$_social_config = Mage::getStoreConfig('milanoconfig/social');
$customer_status = '';
$loginId = Mage::getSingleton ( 'customer/session' )->isLoggedIn ();
$groupId = Mage::getSingleton ( 'customer/session' )->getCustomerGroupId ();
$getGroupId = Mage::helper ( 'sellbuy' )->getGroupId ();
?>

<div class="footer-container">
    <div class="footer-menu-container">
    
   
    
    
        <?php echo $this->getChildHtml('bottomContainer') ?>
        <div class="f-left footer-left">
        
        
            <div class="footer-menu">
             <div class="footer-column">
	    					<h4>Turn Your Passion Into a Business</h4>
								<ul>
		                            <?php if ($groupId != $getGroupId && $loginId) { ?>
		                                <li><a
											href="<?php echo Mage::getUrl('sellbuy/general/changebuyer'); ?>"
											title=""><span><?php echo $this->__('Become a seller'); ?></span></a></li>
		                            <?php } elseif ($groupId != $getGroupId || !$loginId) { ?>
		                                <li class="open-shop"><a
											href="<?php echo Mage::helper('sellbuy/url')->getregisterUrl(); ?>"
											title=""><span><?php echo $this->__('Open a shop'); ?></span></a></li> 
		                            <?php } ?>
		                            <?php if ($groupId == $getGroupId && $loginId && $customer_status == 1) { ?>
		                                <li><a
											href="<?php echo Mage::helper('sellbuy/url')->dashboardUrl(); ?>"
											title=""><span><?php echo $this->__('Seller dashboard'); ?></span></a></li>
		                            <?php } elseif ($groupId != $getGroupId && !$loginId) { ?>
		                                <li><a
											href="<?php echo Mage::helper('sellbuy/url')->getregister(); ?>"
											title=""><span><?php echo $this->__('Seller login'); ?></span></a></li>
		                            <?php } else { ?>
		                                <li><a
											href="<?php echo Mage::getUrl('customer/account'); ?>" title=""><span><?php echo $this->__('Account Dashboard'); ?></span></a></li>
		                            <?php } ?>
		                            <li><a href="<?php echo Mage::helper('sellbuy/url')->getviewallsellerUrl(); ?>"><span><?php echo $this->__('Our Sellers'); ?></span></a></li>
	                        		<?php if(Mage::getStoreConfig('superdeals/superdeals_group/deals_enable')){	                        			
	                        		?>
	                        		<li>
	                        		<a href="<?php echo Mage::getBaseUrl() . 'deals'; ?>"><?php echo $this->__('Deals'); ?></a>
	                        		</li>
	                        		<?php } ?>
	                        	</ul>
							
							</div>
            
            
            <?php echo $this->getChildHtml('footer_menu'); ?></div>
            <?php if(Mage::getStoreConfig('milanoconfig/generaloptions/show_subscribe') == 1): ?><div class="newsletter"><?php echo $this->getChildHtml('newsletter'); ?></div><?php endif; ?>
        </div>
        <div class="f-right">
            <div class="footer-right">
                <?php if(!empty($_social_config['twitter'])): ?>
                	<div class="footer-column twitter-box">
                    	<h4><?php echo $this->__('Twitter');?></h4>
                    	<div id="tweets"></div>
						<script type="text/javascript">
						//<![CDATA[
							jQuery(function($){ twitterFetcher.fetch('<?php echo $_social_config['twitter']; ?>', 'tweets', <?php echo $_social_config['twitter_num_tweets']; ?>, true); });
						//]]>
                        </script>
                	</div>
                <?php endif; ?>
                <?php if(!empty($_social_config['facebook'])): ?>
                	<div class="footer-column facebook-box">
                    	<h4><?php echo $this->__('Facebook');?></h4>
                    	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2F<?php echo $_social_config['facebook'] ?>&amp;width=240<?php if($_social_config['facebook_faces'] == 0): ?>&amp;show_faces=false<?php endif; ?>&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                	</div>
                <?php endif; ?>
            </div>
        </div>
        <?php if($_footer_social = $this->getChildHtml('footer_social')): ?><div class="follow-us"><?php echo $_footer_social; ?></div><?php endif; ?>
        <?php if($_footer_payment_options = $this->getChildHtml('footer_payment_options')): ?><div class="payment-options"><?php echo $_footer_payment_options; ?></div><?php endif; ?>
        <?php if($_verified_by = $this->getChildHtml('verified_by')): ?><div class="verified-by"><?php echo $_verified_by; ?></div><?php endif; ?>
        <div class="clear"></div>
    </div>  
</div>
<div class="footer-last-container">
    <div class="footer-last">
        <div class="f-left">
			<?php echo $this->getChildHtml('cms_footer_links'); ?>
            <?php echo $this->getChildHtml('footer_links'); ?>
        </div>
        <div class="f-right">
        	<?php echo $this->getCopyright(); ?>
        </div>
    </div>
</div>
<?php if(Mage::getStoreConfig('milanoconfig/generaloptions/topbtn') == 1): ?><div id="message"><a href="#top" id="top-link">&nbsp;</a></div><?php endif; ?>