/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     1.2.3
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 * 
 */

@media screen and (max-width: 780px) {
#header_logo_Div{ padding: 5px !important; width: 260px !important; position: absolute !important;top:25% !important; box-sizing:border-box; }
#social_popup_main{ width: 234px !important; padding: 10px !important; box-sizing:border-box; }
.left_login{ width: 100% !important; padding-right: 0 !important; box-sizing:border-box; }
#socialpopup_main_div .new_account_create, #socialpopup_main_div .return_login { width: 210px !important;}
#socialpopup_main_div .socialpopup-input-box{ width: 95% !important; }
#socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input{ width: 220px !important; }
#bg_fade {position: fixed !important;}
.divider-or{ display: none !important; }
#socialpopup_main_div #all_social_iconbtn{ width: auto !important; float: none !important; position: relative !important; clear: both !important;}
#all_social_iconbtn h4{ margin-left: 0 !important;}
#socialpopup_main_div .socialpopup_form label{ width: auto !important; }
#socialpopup_main_div .socialpopup-input-box .dob-day,
#socialpopup_main_div .socialpopup-input-box .dob-month,
#socialpopup_main_div .socialpopup-input-box .dob-year{width: 70px !important;float: left;}
#socialpopup_main_div .socialpopup-input-box .dob-month{margin: 0 12px !important;}
#socialpopup_main_div .socialpopup-input-box .dob-day input,
#socialpopup_main_div .socialpopup-input-box .dob-month input,
#socialpopup_main_div .socialpopup-input-box .dob-year input{width: 56px !important;}
.calendar{z-index:999992; left: 18% !important;}
}

@media screen and (max-width: 500px) {
/* *{-webkit-transform: none !important;} */
#socialpopup_main_div #all_social_iconbtn ul li{margin-left: 55px !important;}
}

@media only screen and (min-width: 310px) and (max-width: 400px){
    .calendar{z-index:999992; left: 2% !important;}
 }

/* IE7 */
/* *:first-child+html .sl_clearfix{min-height:1%}*:first-child+html */
.sl_clear{min-height:1%}
.sl_clear{height:0;font-size:0;clear:both}
.sl_clearright{height:0;font-size:0;clear:right}
.sl_clearleft{height:0;font-size:0;clear:left}
.sl_clearfix:after{clear:both;display:block;content:" ";height:0;visibility:hidden}
.sl_clearfix{display:block}* html
.sl_clearfix{height:1%}
li.sl_clearfix{display:list-item}

#bg_fade {background-color:#000;height:100%;left:0;margin:0;padding:0;position: fixed;top:0;visibility:hidden;width:100%;z-index: 9999; box-sizing:border-box; }
#containerDiv {position: absolute;width: 23%; z-index: 999991;background: #fff;padding: 20px; border: 5px solid #121212; box-sizing:border-box; }
#containerDiv h1{font:bold 24px arial;}
#containerDiv .input_twitter{border: 1px solid #B6B6B6; width: 240px; float: left;border-radius: 5px;padding: 5px;margin-right: 10px; box-sizing:border-box; }
#containerDiv .twitter_btn, .twitter_btn.button{background: #09f; display: block; padding: 3px 10px; margin-left: 10px; font:bold 14px arial;  border-radius: 5px;float: left;border: 0;color: white; cursor: pointer;}
.social_input{float: left; position: relative;}
.social_input input#tw_email, input#linked_email{margin-bottom: 5px; padding: 3px 5px 2px 5px;width: 196px; float: left; border: 1px solid #CCC;  box-sizing:border-box; }
.social_input .validation-advice {clear: both;min-height: 13px;margin: 3px 0 0;padding-left: 17px;font-size: 11px;font-weight: bold;line-height: 13px;background: url(../images/validation_advice_bg.gif) 2px 0 no-repeat;color: #EB340A;width: 190px; text-align: left;  box-sizing:border-box; }
#containerDiv p {position: relative;height: 10%;padding: 10%;text-align: center;border: 1px blue solid;background-color: white;z-index: 99999;  box-sizing:border-box; }
#closeLink{background:url(images/social_logoin_sprite.png) no-repeat;top: -12px;right: -12px; width: 27px; height: 27px; position: absolute;z-index: 9999; cursor: pointer;background-position: -47px -148px;}
.social_blog{padding-bottom: 25px; overflow: hidden; width: 105%;margin-left: -10px;}
.social-page-title {width: 100%;overflow: hidden;border-bottom: 1px solid #CCC;margin: 0 0 15px;}
.social-page-title h1{margin: 0;font-size: 20px;color: #0A263C;}
.social-top{margin: 0 auto;width: 950px; }
#linkedDiv{position: absolute;width: 23%;z-index: 99999;background: white;padding: 20px;border: 5px solid #121212;  box-sizing:border-box; }
#header_logo_Div{z-index: 999991;position: fixed;width:748px;background:url(images/social_popup_bg.png) repeat; padding:10px;  box-sizing:border-box; }
#closeLink1{background:url(images/social_logoin_sprite.png) no-repeat;top: -12px;right: -12px; width: 27px; height: 27px; position: absolute;z-index: 9999; cursor: pointer;background-position: -47px -148px;}
.closeLink{background:url(images/social_logoin_sprite.png) no-repeat;top: -6px;right: -6px; width: 26px; height: 26px; position: absolute;z-index: 9999; cursor: pointer;background-position: -47px -148px;}

.social_popup_sprite{background:url(images/social_logoin_sprite.png) no-repeat;}

#social_popup_main{background: white;padding: 20px; border: 3px solid #323232; }
#socialpopup_main_div{overflow: hidden;position: relative;}
#socialpopup_main_div .socialpopup_form label{float: left;width:35%;padding-top: 5px; text-align: left; font-size:14px; }
#socialpopup_main_div .socialpopup_form em, .popup_error_msg {color:red;}
#socialpopup_main_div #login_left{width:100%;}
#socialpopup_main_div #all_social_iconbtn{width:36%;float: right;position: relative;}

#socialpopup_main_div #all_social_iconbtn a{  cursor: pointer; text-decoration: none !important;;}
#socialpopup_main_div #all_social_iconbtn ul{float:left; width: 100%;}
#socialpopup_main_div #all_social_iconbtn ul li{display: block;clear: both;margin-left: 30px;margin-bottom: 9px;}

#socialpopup_main_div .popup_register_btn{cursor: pointer;color: white!important;padding: 5px 15px;-moz-border-radius: 4px; -o-border-radius: 4px; -webkit-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px;-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -o-box-shadow: 0 1px 1px rgba(0,0,0,0.2); -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2); box-shadow: 0 1px 1px rgba(0,0,0,0.2); text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);text-decoration: none;border: 0;font-weight: bold;font-size: 13px;font-family: inherit;line-height: normal!important;zoom: 1;display: block;float: left;clear: both;background: #A0DE33;background: -webkit-gradient(linear,left top,left bottom,from(#A0DE33),to(#38690A));background: -webkit-linear-gradient(top,#A0DE33,#38690A);background: -moz-linear-gradient(top,#A0DE33,#38690A);background: -o-linear-gradient(top,#A0DE33,#38690A);background: -ms-linear-gradient(top,#A0DE33,#38690A);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0de33',endColorstr='#38690A'); }
#socialpopup_main_div .socialpopup-input-box {float: left;margin-bottom: 12px;width:232px;}
#socialpopup_main_div .socialpopup-input-box input, .socialpopup-input-box input, .socialpopup-input-box select {margin: 0;font-family:initial;border: 1px solid #CCC;font-size: 1.1em; width: 230px;padding: 5px 4px;  box-sizing:border-box; }
.socialpopup-input-box select{width:230px;}
#captcha-input-box-user_create .captcha, #socialpopup_main_div .sl_captcha, #socialpopup_main_div #captcha-input-box-user_create{float:left;}
.calendar{z-index:999992;}
#register_block #captcha_user_create{margin: 0;font-family: inherit;font-size: 1.1em;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0 2px 2px #E3E3E3 inset;-webkit-box-shadow: 0 2px 2px #E3E3E3 inset;box-shadow: 0 2px 2px #E3E3E3 inset; border: 1px solid #CCC; width: 230px;padding: 5px 4px;  box-sizing:border-box; }
.socialpopup-input-box .dob-day, .socialpopup-input-box .dob-month, .socialpopup-input-box .dob-year{width: 70px !important;float: left;}
.socialpopup-input-box .dob-month{margin: 0 12px !important;}
.socialpopup-input-box .dob-day input, .socialpopup-input-box .dob-month input, .socialpopup-input-box .dob-year input{width: 65px !important;}
#socialpopup_main_div #show_password{font-size: 13px;float: left;margin-top: 11px; color:rgba(61, 148, 139, 1); }
#socialpopup_main_div .social_login_btn{margin: 10px 0 0;}
#socialpopup_main_div #forget_password_form h4, #form_login h4, #form-validate h4, #all_social_iconbtn h4, #containerDiv h4, #linkedDiv h4{font-size: 15px;margin: 0 0 17px 0; padding-bottom: 3px; text-align: left;}
#socialpopup_main_div #forget_password_form .small_txt{color:#777;display: block;margin-bottom: 4px; float:left;text-align:left;}
#socialpopup_main_div .new_account_create, #socialpopup_main_div .return_login{font-family:Arial, Helvetica, sans-serif;font-size: 13px;margin: 19px 0 17px;color:#444;float: left;border: 1px solid #DDD;background:#f5f6f6;padding: 7px 10px;width:355px;  box-sizing:border-box; }
#socialpopup_main_div button.button{float: right; margin-top: 10px;}
.divider-or b{line-height: 46px;font-weight: bold;font-size: 15px;text-align: center;width: 37px;float: left;}
#socialpopup_main_div .divider-or{background-position: 0 -141px;width: 42px;height: 42px;display: block;position: absolute;top: 57%;right: 36.6%;margin: -42px 0 0;}
#socialpopup_main_div .com_error{background: #FFEBEB;color: #E50000;border: 1px solid #ECCDCD;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;padding: 5px 0; margin: 1px;float: left;width: 100%;text-align: center;margin-bottom: 10px;  box-sizing:border-box; }
#socialpopup_main_div #register_error{background: #FFEBEB;color: #E50000;border: 1px solid #ECCDCD;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;padding: 5px 0; margin: 1px;float: left;width: 100%;text-align: center;margin-bottom: 10px;  box-sizing:border-box; }
#all_social_iconbtn h4{margin-left: 30px }
.inner_social_grid{cursor: pointer; border: 0; margin:0; float:left; font: bold 13px arial;color: white;padding: 0 0 0 10px; min-width: 48%; height: 26px;text-align: left;  box-sizing:border-box; }
.fb_login{ background:#52689E;  }
.twitter_login{background:#45C1F5; }
.google_login{background:#D55E4B;  }
.yahoo_login{background:url(images/yahoo_bg.jpg) repeat-x; }
.linkedin_login{ border: 0; width: 179px; height: 26px; float:left;background-position:0 -58px;   box-sizing:border-box; }
.twitter_popup_btn{float: right;margin:0;}
.linkedin_popup_input, .twitter_popup_input{width:97% !important;}
#linkedin_error{color:red}
#twitter_error{color:red; width:200px;}
.icon_left_grid{display: block;  width: 28px; height: 26px; float: left;  }
.icon_right_grid{display: block; width: 10px; height: 26px; float: left; }

.f_icon_left, .f_icon_right, .t_icon_left, .t_icon_right, .gplus_icon_left, .gplus_icon_right, .yahoo_icon_left, .yahoo_icon_left, .yahoo_icon_right{ background:url(images/social_login_sprite.png) no-repeat; }


.f_icon_left{ background-position: 0 0;}
.f_icon_right{ background-position: -28px 0; }
#progress_image_facebooklogin{padding:5px 0 0 5px;}

.t_icon_left{ background-position:0 -29px;}
.t_icon_right{ background-position:-28px -29px;}

.gplus_icon_left{  background-position:0 -115px;}
.gplus_icon_right{ background-position:-28px -115px; }

.yahoo_icon_left{ background-position:0 -86px;}
.yahoo_icon_right{ background-position:-28px -86px; }

.left_login{float: left;width:60%; padding-right: 25px; border-right: 1px solid #ccc;  box-sizing:border-box; }
#socialpopup_main_div h4{ margin-bottom:20px; }
.sl_clearfix{clear:both;}

.validation-advice { text-align:left; width: auto; }
.popup_social_msg{width: 91%;border: 1px solid #ADD8A7;color: #3d6b2d;background-color: #eaf9e6;padding: 10px;  box-sizing:border-box; }
.socialpopup-submit-box{float: right;margin-bottom: 12px;width: 239px;margin-right: 19px;}
.sl_captcha li{list-style: none;}

#social_tiw_login h4{font-size: 15px;font-family: 'tahoma', Arial, Helvetica, sans-serif;margin: 0 0 17px 0;border-bottom: 1px solid #CCC;padding-bottom: 3px;text-align: left;}
.powerdby_link{float: right;margin-top: 15px;font-size: 10px;}
#social_popup_main #captcha-image-box-user_create{width: 236px;margin-right: 21px;float: right;margin-top: 10px;}
#socialpopup_main_div #captcha-input-box-user_create em{float: right;padding-right: 10px}
#formSuccess {min-height: 13px;margin: 3px 0 0;padding: 0;font-size: 11px;font-weight: bold;line-height: 13px;color: #eb340a;text-align: left;}
#forget_password_error{float:left;width:100%;}
#progress_image_twitter, #progress_image_forgot, #progress_image_login, #progress_image_register{margin: 18px 0 0 10px;float: right;}

#progress_image_login{display: block;margin-top: 18px;}
