<?php if($this->getCanDisplayLocationToolbar()):?>
  <div class="distancesort sorter">
    <div class="distancesort-container">
      <div class="distancesort-form" <?php if(!$this->getCanDisplayForm()): ?>style="display:none;"<?php endif; ?>>
        <form method="post" action="" class="distancesort-location-form">
          <ul class="form-list">
            <li>
              <select name="country" class="validate-select required-entry distancesort-country">
                <?php foreach($this->getCountries() as $_country): ?>
                <option value="<?php echo $_country['value'] ?>"><?php echo $_country['label'] ?></option>
                <?php endforeach; ?>
              </select>
            </li>
            <li>
              <input type="text" name="postalcode" class="validate-zip-international required-entry input-text distancesort-postalcode" placeholder="Postal Code" />
            </li>
            <li>
              <button type="submit" title="Set Location" class="button btn distancesort-submit" onclick=""><span><span>OK</span></span></button>
              <?php if($this->getUserLocationText()): ?>
              <button type="button" title="Cancel Location Change" class="button btn distancesort-cancel-change" onclick=""><span><span>Cancel</span></span></button>
              <?php endif; ?>
            </li>
          </ul>
        </form>
      </div>
      <?php if($this->getUserLocationText()): ?>
      <div class="distancesort-current" <?php if($this->getCanDisplayForm()): ?>style="display:none;"<?php endif; ?>><strong>Shopping From:</strong> <a href="#" class="distancesort-change-location" title="Change Your Current Location"><?php echo $this->getUserLocationText(); ?></a></div>
      <?php endif; ?>
    </div>
  </div>
<?php endif; ?>
