<?php
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Sellbuy
 * @version     0.1.0
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2015 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 */
/**
 * Apptha Social login pop-up form template
 *
 */
/**
 * get Current URL
 */
$currentUrl = $this->helper('core/url')->getCurrentUrl();
/**
 * set session for URLs relink and Link
 */
Mage::getSingleton('customer/session')->setLink($currentUrl);
Mage::getSingleton('core/session')->setReLink($currentUrl);

/**
 * Check if social login is enabaled or not
 */
$fbStatus = Mage::getStoreConfig('sociallogin/facebook/enable_fb');
$twitterStatus = Mage::getStoreConfig('sociallogin/twitter/enable_twitter');
$googleStatus = Mage::getStoreConfig('sociallogin/google/enable_google');
$yahooStatus = Mage::getStoreConfig('sociallogin/yahoo/enable_yahoo');
$enableStatus = Mage::getStoreConfig('sociallogin/general/enable_sociallogin');

$loggedIn = $this->helper("customer")->isLoggedIn();
$facebookappId = Mage::getStoreConfig('sociallogin/facebook/fbapp_id');

$enableDob = Mage::getStoreConfig('customer/address/dob_show');
$enableGender = Mage::getStoreConfig('customer/address/gender_show');
$enableVat = Mage::getStoreConfig('customer/address/taxvat_show');
$enableCaptcha = Mage::getStoreConfig('customer/captcha/enable');

$reqClass = 'class="required"';
$emImport = '<em>*</em>';

if (!$loggedIn && $enableStatus == 1) {
    ?>
    <?php /* Social login pop-up div */ ?>
    <div id="header_logo_Div" style="display: none;">
        <a class="closeLink" href="javascript:apptha_socialloginclose();"></a>
        <div id="social_popup_main">
            <input type="hidden" name="main_hidden" id="main_hidden" value=""/>
            <div id="socialpopup_main_div">
                <div class="left_login"><?php /* Login Block */ ?>
                    <div id="login_block">
                        <form id="form_login"
                              action="<?php echo $this->getUrl("sociallogin/index/customerloginpost/") ?>"
                              class="socialpopup_form">
                            <h4><?php echo $this->__('Login'); ?></h4>
                            <input type="hidden" name="login_hidden" id="login_hidden" value=""/>
                            <label for="email" class="required"><?php echo $this->__('Email Address'); ?>
                                <em>*</em></label>
                            <div class="socialpopup-input-box">
                                <input type="text" name="email" value="" id="email" onfocus="document.getElementById('formSuccess').style.display = 'none';" class="input-text validate-email required-entry" title="<?php echo $this->__('Email Address'); ?>" /></div>
                            <label for="password" class="required">
                                <?php echo $this->__('Password'); ?><em>*</em></label>
                            <div class="socialpopup-input-box">
                                <input type="password" name="password" value="" id="password" onfocus="document.getElementById('formSuccess').style.display = 'none';" class="input-text required-entry validate-password" title="<?php echo $this->__('Password'); ?>" />
                                <div id="formSuccess" style="display: none;">&nbsp;</div>
                                <div class="social_login_btn">
                                    <a href="javascript:void(0);" id="show_password" onclick="show_hide_socialforms('3');"><?php echo $this->__('Forgot Your Password'); ?>?</a>
                                    <span id="progress_image_login" style="display: none">
                                        <img
                                            src="<?php echo $this->getSkinUrl('sociallogin/images/ajax-loader.gif'); ?>"
                                            alt="loading please wait" /> </span>
                                    <button type="button" onclick="socialLoginFrm.submit(this)"
                                            class="button popup_click_btn" title="<?php echo $this->__('Login') ?>"
                                            name="send" id="slogin" onSubmit="test();"><span><span> <?php echo $this->__('Login') ?></span></span></button>
                                </div>
                            </div>
                        </form>
                        <div class="new_account_create"><?php echo $this->__("Don't have an account?"); ?> 
                            <a href="javascript:void(0);" id="register_click" onclick="show_hide_socialforms('2');"><?php echo $this->__('Create One!'); ?></a></div>
                        <div class="sl_clear"></div>
                        <div id="forget_password_div" style="display: none">
                            <form id="forget_password_form"
                                  action="<?php echo $this->getUrl("sociallogin/index/forgotPasswordPost/"); ?>"
                                  class="socialpopup_form">
                                <h4><?php echo $this->__('Forgot Your Password'); ?>?</h4>
                                <span class="small_txt"><?php echo $this->__('Enter your Email Address here to receive a link to change password.'); ?></span>
                                <label for="forget_password" class="required"><?php echo $this->__('Enter Your Email'); ?>
                                    <em>*</em></label>
                                <div class="socialpopup-input-box"><input type="text" onfocus="document.getElementById('forget_password_error').style.display = 'none';" value=""
                                                                          name="forget_password" class="input-text validate-email required-entry"
                                                                          id="forget_password" />
                                    <div class="social_login_btn f-right">
                                        <div id="progress_image_forgot" style="display: none;"><img
                                                src="<?php echo $this->getSkinUrl('sociallogin/images/ajax-loader.gif'); ?>"
                                                alt="loading please wait" /></div>
                                        <button type="button" onclick="socialforgetFrm.submit(this)"
                                                class="button"><span><span><?php echo $this->__('Submit'); ?></span></span></button>
                                    </div>
                                </div>
                                <div id="forget_password_error" style="color:red;"></div>
                            </form>
                        </div>
                        <div class="sl_clear"></div>
                    </div>

                    <?php /* Registration Block */ ?>

                    <div id="register_block" style="display: none;">
                        <div id="register_error" class="popup_error_msg" style="display: none;"></div>
                        <form id="social_frm_register"
                              action="<?php echo $this->getUrl('sociallogin/index/createPost/'); ?>"
                              class="socialpopup_form">
                            <h4><?php echo $this->__('New User? Sign Up'); ?></h4>
                            <input type="hidden" name="register_hidden" id="register_hidden" value=""/>
                            <label for="first_name" class="required"><?php echo $this->__('First Name'); ?>
                                <em>*</em></label>
                            <div class="socialpopup-input-box"><input type="text" name="firstname"
                                                                      value="" id="first_name" class="input-text required-entry"
                                                                      title="<?php echo $this->__('First Name'); ?>" /></div>
                            <label for="last_name" class="required"><?php echo $this->__('Last Name'); ?>
                                <em>*</em></label>
                            <div class="socialpopup-input-box"><input type="text" name="lastname"
                                                                      value="" id="last_name" class="input-text required-entry"
                                                                      title="<?php echo $this->__('Last Name'); ?>" /></div>
                            <label for="email_register" class="required"><?php echo $this->__('Email Address'); ?>
                                <em>*</em></label>
                            <div class="socialpopup-input-box"><input type="text" name="email"
                                                                      value="" id="email_register"
                                                                      class="input-text validate-email required-entry"
                                                                      title="<?php echo $this->__('Email Address'); ?>" /></div>
                            <label for="password_register" class="required"><?php echo $this->__('Password'); ?>
                                <em>*</em></label>
                            <div class="socialpopup-input-box"><input type="password"
                                                                      name="password" class="input-text required-entry validate-password"
                                                                      id="password_register" title="<?php echo $this->__('Password'); ?>" />
                            </div>
                            <label for="confirm_password" class="required"><?php echo $this->__('Confirm Password'); ?>
                                <em>*</em></label>
                            <div class="socialpopup-input-box"><input type="password"
                                                                      name="confirmation" value="" id="confirm_password"
                                                                      class="input-text required-entry validate-cpassword"
                                                                      title="<?php echo $this->__('Confirm Password'); ?>" /></div>
                            <?php if ($enableDob != '') { ?> <label for="social_dob"
                                <?php
                                if ($enableDob == 'req') {
                                    echo $reqClass;
                                }
                                ?>><?php echo $this->__('DOB'); ?> <?php
                                           if ($enableDob == 'req') {
                                               echo $emImport;
                                           }
                                           ?></label>
                                <div class="socialpopup-input-box"><input type="text" name="dob"
                                                                          title="<?php echo $this->__('DOB'); ?>" id="social_dob"
                                                                          placeholder="DD/MM/YYYY"
                                                                          class="<?php
                                                                          if ($enableDob == 'req') {
                                                                              echo 'input-text required-entry validate-date-au';
                                                                          }
                                                                          ?>" /></div>

                            <?php } if ($enableGender != '') { ?> <label
                                    for="social_gender"
                                    <?php
                                    if ($enableGender == 'req') {
                                        echo $reqClass;
                                    }
                                    ?>><?php echo $this->__('Gender'); ?> <em>*</em></label>
                                <div class="socialpopup-input-box"><select name="gender"
                                                                           id="social_gender">
                                        <option value="1"><?php echo $this->__('Male'); ?></option>
                                        <option value="2"><?php echo $this->__('Female'); ?></option>
                                    </select></div>
                            <?php } if ($enableVat != '') { ?> <label for="taxvat"
                                <?php
                                if ($enableVat == 'req') {
                                    echo $reqClass;
                                }
                                ?>><?php echo $this->__('Tax/VAT number'); ?> <em>*</em></label>
                                <div class="socialpopup-input-box"><input type="text" name="social_vat"
                                                                          title="<?php echo $this->__('Tax/VAT number'); ?>"
                                                                          <?php
                                                                          if ($enableVat == 'req') {
                                                                              echo 'class="input-text required-entry"';
                                                                          }
                                                                          ?>
                                                                          id="social_vat" /></div>
                                <div class="sl_clear"></div>
                            <?php } if ($enableCaptcha) { ?>
                                <div class="sl_captcha"><?php /* captcha Block */ ?> <?php echo $this->getChildHtml('captcha'); ?>
                                </div>
                            <?php } ?>
                            <div class="socialpopup-submit-box">
                                <div class="social_login_btn">
                                    <div id="progress_image_register" style="display: none"><img
                                            src="<?php echo $this->getSkinUrl('sociallogin/images/ajax-loader.gif'); ?>"
                                            alt="loading please wait" /></div>
                                    <button type="button" onclick="socialRegisFrm.submit(this)"
                                            title="<?php echo $this->__('Sign Up Now!'); ?>" class="button"
                                            id="sregister"><span><span><?php echo $this->__('Sign Up Now!'); ?></span></span></button>
                                </div>
                            </div>
                        </form>
                        <div class="new_account_create"><?php echo $this->__("Already have an account?"); ?> 
                            <a href="javascript:void(0);" onclick="show_hide_socialforms('1');"><?php echo $this->__('Login!'); ?></a></div>
                    </div>
                    <?php /* Registration Block Ends */ ?>

                    <div id="twitter_block" style="display: none;">
                        <form id="social_tiw_login"
                              action="<?php echo $this->getUrl('sociallogin/index/twitterpost/'); ?>"
                              class="socialpopup_form">
                            <h4><?php echo $this->__('Please Enter your twitter email'); ?></h4>
                            <input type="hidden" name="twitter_hidden" id="twitter_hidden" value=""/>
                            <label for="tw_email" class="required"><?php echo $this->__('Enter Your Email'); ?>
                                <em>*</em></label>
                            <div class="socialpopup-input-box"><input type="text" id="tw_email"
                                                                      name="email_value" value=""
                                                                      class="input-text validate-email required-entry" />
                                <div id="twitter_error" class="popup_error_msg"></div>
                                <div class="social_login_btn">
                                    <div id="progress_image_twitter" style="display: none"><img
                                            src="<?php echo $this->getSkinUrl('sociallogin/images/ajax-loader.gif'); ?>"
                                            alt="loading please wait" /></div>
                                    <button type="button" onclick="socialTwitFrm.submit(this)"
                                            class="button twitter_popup_btn"><span><span><?php echo $this->__('Submit'); ?></span></span></button>
                                </div>
                            </div>
                        </form>
                        <div class="new_account_create"><?php echo $this->__("Already have an account?"); ?> 
                            <a href="javascript:void(0);" onclick="show_hide_socialforms('1');"><?php echo $this->__('Login!'); ?></a></div>
                    </div>
                </div>
                <span class="divider-or social_popup_sprite"><b><?php echo $this->__('OR'); ?></b></span>
                <div id="all_social_iconbtn">
                    <h4><?php echo $this->__('Sign in with'); ?></h4>

                    <?php /* Social login Icons */ ?>
                    <ul>
                        <?php if ($fbStatus == 1) { ?>
                            <?php /* Facebook button */ ?>
                            <li id="login" class="sl_clearfix"><div id='facebook_login'
                                                                  title="<?php echo $this->__('Facebook'); ?>" onclick='fblogin();'> <span
                                        class="f_icon_left icon_left_grid"></span>
                                    <button type="button" class="fb_login inner_social_grid" name="send"><?php echo $this->__('Facebook'); ?></button>
                                    <span class="f_icon_right icon_right_grid"></span><img
                                        id="progress_image_facebooklogin" style="display: none"
                                        src="<?php echo $this->getSkinUrl('sociallogin/images/ajax-loader.gif'); ?>"
                                        alt="loading please wait" /></div></li>
                            <?php } if ($twitterStatus == 1) { ?>
                                <?php /* Twitter button */ ?>
                            <li class="sl_clearfix"><div onclick="show_hide_socialforms('4');"
                                                       id="popup_twitter_email" title="<?php echo $this->__('Twitter'); ?>">
                                    <span class="t_icon_left icon_left_grid"></span>
                                    <button type="submit" class="twitter_login inner_social_grid"
                                            name="send"><?php echo $this->__('Twitter'); ?></button>
                                    <span class="t_icon_right icon_right_grid"></span></div></li>
                        <?php } if ($googleStatus == 1) { ?>
                            <?php /* Google button */ ?>
                            <li class="sl_clearfix">
                                <div onclick="googlepost();"
                                   title="<?php echo $this->__('Google+'); ?>"> 
                                    <span class="gplus_icon_left icon_left_grid"></span>
                                    <button type="submit" class="google_login inner_social_grid"
                                            name="send"><?php echo $this->__('Google+'); ?></button>
                                    <span class="gplus_icon_right icon_right_grid"></span></div></li>
                        <?php } if ($yahooStatus == 1) { ?>
                            <?php /* Yahoo button */ ?>
                            <li class="sl_clearfix"><div
                                    onclick="yahoopost();"
                                    title="<?php echo $this->__('Yahoo'); ?>"> <span
                                        class="yahoo_icon_left icon_left_grid"></span>
                                    <button type="submit" class="yahoo_login inner_social_grid" name="send">
                                        <?php echo $this->__('Yahoo'); ?></button>
                                    <span class="yahoo_icon_right icon_right_grid"></span></div></li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
            <div class="sl_clear"></div>
        </div>
        <div class="sl_clear"></div>
    </div>
    </div>

    <script type="text/javascript">
                                        //<![CDATA[

                                        var socialLoginFrm = new VarienForm('form_login', true);
                                        socialLoginFrm.submit = function() {
                                            if (this.validator.validate()) {
                                                var form = this.form;
                                                doSociallogin(form.id, form.action, 'formSuccess', 'progress_image_login');
                                            }
                                        }.bind(socialLoginFrm);

                                        var socialRegisFrm = new VarienForm('social_frm_register', true);
                                        socialRegisFrm.submit = function() {
                                            if (this.validator.validate()) {
                                                var form = this.form;
                                                doSociallogin(form.id, form.action, 'register_error', 'progress_image_register');
                                            }
                                        }.bind(socialRegisFrm);

                                        var socialforgetFrm = new VarienForm('forget_password_form', true);
                                        socialforgetFrm.submit = function() {
                                            if (this.validator.validate()) {
                                                var form = this.form;
                                                doSociallogin(form.id, form.action, 'forget_password_error', 'progress_image_forgot');
                                            }else{
                                                if (typeof window.innerHeight != 'undefined') {

                                                    var newpostop = Math.round(document.body.offsetTop + ((window.innerHeight - $('header_logo_Div').getHeight())) / 2);
                                                    var newposleft = Math.round(document.body.offsetLeft + ((window.innerWidth - $('header_logo_Div').getWidth())) / 2);
                                                    $('header_logo_Div').setStyle({top: newpostop + 'px', left: newposleft + 'px'});

                                                } else {
                                                    var newpostop = Math.round(document.body.offsetTop + ((document.documentElement.offsetHeight - $('header_logo_Div').getHeight())) / 2);
                                                    var newposleft = Math.round(document.body.offsetLeft + ((document.documentElement.offsetWidth - $('header_logo_Div').getWidth())) / 2);
                                                    $('header_logo_Div').setStyle({top: newpostop + 'px', left: newposleft + 'px'});

                                                }
                                            }
                                        }.bind(socialforgetFrm);

                                        var socialTwitFrm = new VarienForm('social_tiw_login', true);
                                        socialTwitFrm.submit = function() {
                                            if (this.validator.validate()) {
                                                var form = this.form;
                                                doSociallogin(form.id, form.action, 'twitter_error', 'progress_image_twitter');
                                            }
                                        }.bind(socialTwitFrm);

                                        //]]>
    </script>

    <div id="fb-root"></div>
    <?php
    /**
     * Checking if the base URL is https or not
     *
     * @return string
     */
    $currentUrl = Mage::helper('core/url')->getCurrentUrl();
    $secureUrl = strstr($currentUrl, "https");
    if ($secureUrl == true) {

        $siteBaseUrl = Mage::getUrl('', array('_secure' => true));
    } else {

        $siteBaseUrl = Mage::getBaseUrl();
    }
    ?>
    <script type="text/javascript">
    <?php /* facebook Block */ ?>
        function fblogin() {
            FB.login(function(response) {
                FB.getLoginStatus(function(response) {
                    if (response.status === 'connected') {
                        document.getElementById('progress_image_facebooklogin').style.display = "block";
                        login();
                    }
                });
            }, {scope: 'email'});
            return false;
        }

        window.fbAsyncInit = function() {
            FB.init({appId: '<?php echo $facebookappId; ?>', status: true, cookie: true, xfbml: true});
            /* All the events registered */
            FB.Event.subscribe('auth.login', function(response) {
                // do something with response
               // login();
            });
        };
        (function() {

            var e = document.createElement('script');
            e.type = 'text/javascript';
            e.src = document.location.protocol +
                    '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());
        function login() {
            FB.api('/me', function(response) {
                var fb = $('main_hidden').value;
                if (fb == 1) {
                    window.location.href = '<?php echo $siteBaseUrl . 'sociallogin/index/fblogin?fb=1'; ?>';
                } else {                    
                    window.location.href = '<?php echo $siteBaseUrl . 'sociallogin/index/fblogin'; ?>';
                }
            });
        }

        $('socialpopup_main_div').observe('keypress', socialkeypressHandler);
        function socialkeypressHandler(event) {
            var key = event.which || event.keyCode;
            switch (key) {
                default:
                    break;
                case Event.KEY_RETURN:
                    $('slogin').click();
                    break;
            }
        }

        $('social_popup_main').observe('keypress', socialsignupkeypressHandler);
        function socialsignupkeypressHandler(event) {
            var key = event.which || event.keyCode;
            switch (key) {
                default:
                    break;
                case Event.KEY_RETURN:
                    $('sregister').click();
                    break;
            }
        }
        function googlepost() {
            var fb = $('main_hidden').value;
            if (fb == 1) {
                javascript:location.href = '<?php echo Mage::getUrl('sociallogin/index/googlepost?fb=1') ?>';
            } else {
                javascript:location.href = '<?php echo Mage::getUrl('sociallogin/index/googlepost/') ?>';
            }
        }
        function yahoopost() {
            var fb = $('main_hidden').value;
            if (fb == 1) {
                javascript:location.href = '<?php echo Mage::getUrl('sociallogin/index/yahoopost?fb=1') ?>';
            } else {
                javascript:location.href = '<?php echo Mage::getUrl('sociallogin/index/yahoopost/') ?>';
            }
        }
    </script>
<?php } ?>
