/**
 * @name         :  Apptha One Step Checkout
 * @version      :  1.8
 * @since        :  Magento 1.4
 * @author       :  Apptha - http://www.apptha.com
 * @copyright    :  Copyright (C) 2013 Powered by Apptha
 * @license      :  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @Creation Date:  June 20 2011
 * @Modified By  :  Bala G
 * @Modified Date:  August 1 2013
 *
 * */


.clear{clear:both; height:0; font-size:0; }
.clearfix:after{ clear:both;  display:block;  content:"";  height:0;  visibility:hidden}
.clearfix{ display:inline-block}

* html .clearfix{ height:1%}
.clearfix{ display:block}
li.clearfix{ display:list-item}




.onepage-page-title{margin:16px 0 17px 5px;overflow: hidden;width: 100%;}
.onepage-page-title h1{margin: 0; font-size: 27px;color: #1D91A9;font-family: Georgia;}
.login-reg{width:100%;border-bottom: 2px solid #4e4e4e;margin:17px 0 0 0;font-weight:bold;}
.onepage li{list-style: none;}
.onepage .form-list .input-box { width:auto;}
 #co-form .input-box{width:50%;}
/* .column-1,.column-2,.column-3{width:100%;background: transparent url(images/line-gradient.gif) no-repeat scroll 100% 0;} */
.column-3{background:none;}
.onepage .page-title{border:none !important; margin-bottom: 10px;}
.onepage .form-list{width: 100%;padding:0; box-sizing: border-box; }


/* .billing-bg {width:31px;height:41px;background: transparent url(images/1.png) no-repeat scroll 100% 0;display:block;float:left;margin-right:10px; } */
/* .shipping-method-bg {width:31px;height:41px;background: transparent url(images/2.png) no-repeat scroll 100% 0;display:block;float:left;margin-right:10px; } */
/* .payment-bg {width:31px;height:41px;background: transparent url(images/3.png) no-repeat scroll 100% 0;display:block;float:left;margin-right:10px; } */
/* .review-bg {width:31px;height:41px;background: transparent url(images/tick-icon.png) no-repeat scroll 100% 0;display:block;float:left;margin-right:10px; } */
.shipment-methods { padding-left:42px; }
.gift-messages {padding-left: 3px;}
.guest-reg{padding:0 0 5px 3px;display:block;color: #E87403;font-weight: bold;}
#checkout-payment-method-load {padding-left:40px;}
#checkout-review-load {padding:0 0 10px 3px; }
#billing-new-address-form{padding-left:2px;}
.col-1 .control {float:left;padding:0 10px 0 0;}
#onepage-shipping_method dd {font-weight:bold; }
.shipment-methods dd {margin-bottom: 5px;}
.checkout-agreements .agreement-content {height:64px;}
.product-total {border-top:1px solid #ccc;border-bottom: 1px solid #ccc;}
.col-1 .control label {padding:0 0 0 5px;}

#billing:firstname .validation-advice{width:auto;}
#billing:lastname .validation-advice{width:auto;}
.name-lastname label {margin-top:8px;}
.sp-method dt{margin:0 0 0 40px;}
#checkout-review-load table.onestepcheckout-summary {display:table; width:90%}
#checkout-review-load table.onestepcheckout-summary tr th { border-bottom: 1px solid #ccc; }
#onepage-login{padding: 0 0 20px 0;}
#onepage-billing{padding: 0 0 20px 0;}

#onepage-billing .wide .input-box input.input-text{width:220px;}
#onepage-billing  .wide .input-box .address-select{width:220px;}
#onepage-billing  .wide label{width:220px;}
#onepage-billing select{width:250px;}

#onepage-shipping{padding: 0 0 20px 0;}
#onepage-shipping .wide .input-box input.input-text{width:220px;}

#onepage-shipping .wide .input-box .address-select{width:220px;}
#onepage-shipping .wide label{width:220px;}

#onepage-shipping_method{padding: 0 0 20px 0;}
#onepage-payment{padding: 0 0 20px 0;}
#onepage-review{padding: 0 0 20px 0;}

#bg_fade{background-color: #555;height:100%;left: 0;margin: 0;padding: 0;position: fixed;
top: 0;bottom:0;width: 100%;z-index: 1000; box-sizing: border-box; }



#onepage-review table.onestepcheckout-summary th.name, th.qty, th.total{width:75px; font-weight: bold;}
#onepage-review table.onestepcheckout-summary thead{border-bottom:  1px solid #ccc;}
#onepage-review table.onestepcheckout-summary tr.items td{width:75px; border-bottom: 1px solid #ccc; padding: 5px 0;text-align: center; box-sizing: border-box; }
#onepage-review table.onestepcheckout-totals{width:90%}
#onepage-review table.onestepcheckout-totals tr td{width:90px; text-align: center;border-bottom: 1px solid #ccc; padding: 5px 0; box-sizing: border-box; }
#onepage-checkout-shipping-method-additional-load .input-box input{width:200px;}
#onepage-checkout-shipping-method-additional-load .input-box textarea{width:200px;}
.agree label{padding-left: 5px;}
.page-title h1{color:#525252; text-align: left; }

/* div.loading-ajax { */
/*     height: 50px; */
/*     text-align: center; */
/*     background-image: url(images/ajax-loader.gif); */
/*     background-repeat: no-repeat; */
/*     background-position: center center; */
/* } */

/* div.please-wait-loading { */
/*     height:40px; */
  
/*     text-align: center; */
/*     background-image: url(images/ajax-loader.gif); */
/*     background-repeat: no-repeat; */
/*     background-position: 30% 0; */
/* } */
.load-wait{color:#E87403;}
div.wait{height:80px;float:right;}
button.btn-class{padding: 10px;background-color:#FF5C00;float:left;}

/* login-popup design */
a.close{float:right;}
#gift-form{background:#fff;padding:10px;border:2px solid #828282;height:180px;width:280px;border-radius:7px; box-sizing: border-box;}
.clear{clear: both;}
.onestepcheckout-error{color:red;font-weight: normal;}
button.login-btn{background-color: #66A094;padding: 5px;font-weight: bold;color:#fff;border:none;}
.buttons-set{border:none; margin:0;padding:0;}
/* login-popup design */
.input-box .v-fix #ccsave_expiration{width:152px;}
.required{color:#000;}
#checkout-review-submit {float:right;}
#shipping-new-address-form{margin-left:42px;}
.control{margin-left: 42px;}